<div class="container">
  <div class="top-footer">
    <div class="row">
      <div class="col-xs-6">
        <ul class="medium text-left">
          <li><a href="#">Matisses</a></li>
          <li class="border-left"><a href="#">Trabaja con nosotros</a></li>
          <li class="border-left"><a href="#">Contáctanos</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ul class="text-right">
          <li><a href="#"><em>Preguntas frecuentes</em></a></li>
          <li><a href="#"><em>Metodos de envío</em></a></li>
          <li><a href="#"><em>Garantías</em></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="row">
      <div class="col-md-3 text-center">
        <p class="medium">Se el primer@ en conocer</p>
        <p>nuestras nuevas colecciones</p>
        <div class="newsletter-group">
          <div class="input-group">
            <input class="input-mail" placeholder="Mail">
            <span class="input-group-btn">
              <button class="btn icon-chevron" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 border-left text-center">
        <p>Conéctate con nosotros</p>
        <ul class="text-center">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon-pinterest2"></span></a></li>
          <li><a href="#"><span class=""></span></a></li>
        </ul>
      </div>
      <div class="col-md-6 border-left">
        <p class="text-center"><span class="icon-credit-card"></span> Medios de pago</p>
        <ul class="text-center">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon-pinterest2"></span></a></li>
          <li><a href="#"><span class=""></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="container">
  <div class="end-footer">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="inline-block">Términos y condiciones</p>
        <p class="inline-block border-left">Politica de manejo de datos</p>
        <p class="inline-block border-left">Politica de privacidad</p>
        <p class="inline-block">© Todos los derechos reservados Matisses 2017</p>
      </div>
    </div>
  </div>
</div>
