{{title}}
<ul>
  <li *ngFor="let item of items">
    {{item.nombre}}
    {{item.precio | number:0}}
    {{item.referencia}}
  </li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sit veniam, commodi laborum porro voluptates deserunt facere, nobis explicabo temporibus velit quasi magnam. Optio aliquid tempora delectus, sint voluptate quas?</p>
