<div class="container-fluid padding-0">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="bold grey">Tendencias</h3>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/images/tendencias/tendencias-01.jpg" class="img-responsive" alt="">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-6">
      <img src="assets/images/tendencias/tendencias-02.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-xs-6">
      <img src="assets/images/tendencias/tendencias-03.jpg" class="img-responsive" alt="">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-6 text-center">
      <div class="row">
        <div class="col-xs-12">
          <p class="medium">Accesorios funcionales</p>
        </div>
        <div class="col-xs-2 col-xs-offset-5">
          <p class="compra-ya">Compra ya</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 text-center">
      <div class="row">
        <div class="col-xs-12">
          <p class="medium">Moda en tu mesa</p>
        </div>
        <div class="col-xs-2 col-xs-offset-5">
          <p class="compra-ya">Compra ya</p>
        </div>
      </div>
    </div>
  </div>
</div>
