<div class="barra-fondo hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="top-nav medium">
          <li><a href="#"><span class="glyphicon glyphicon-map-marker"> </span> Tiendas</a></li>
          <li class="border-left"><a href="#">Blog</a></li>
          <li class="border-left"><a href="#">Experiencias</a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <ul class="top-nav medium">
          <li><a href="#"><span class="icon-truck"> </span> Métodos de envío</a></li>
          <li class="border-left"><a href="#">Garantías</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
