<matisses-header></matisses-header>

<div sticky-body>
  <div class="container-fluid padding-0">
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/banner-1-compra-sin-intereses.jpg" class="jpg-responsive mt-50" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/banner-3-compra-sin-intereses.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br/>
        <p>
          <b>Términos y condiciones de campaña "Compra hasta a 36 cuotas sin intereses"</b>
        </p>
        <p>El beneficio de compras hasta a 36 cuotas sin inteses, es un servicio que preta
          <b>CitiBank</b>, por medio de sus tarjetas de crédito. Este es el encargado de la gestión, trámite y aprobación de
          las tarjetas de crédito y en ningún momento es responsabilidad de
          <b>Matisses</b> los posibles eventos que puedan suceder durante el trámite de estas.</p>
        <p>Por medio de este programa
          <b>Matisses</b> facilitará un espacio dentro de su tienda física para que la entidad bancaria
          <b>CitiBank</b> gestione la adquisición de tarjetas de crédito que cuenten con el beneficio de compras sin intereses
          por el primer mes hasta 36 cuotas.
          <br> Las personas interesadas deberán dirigirse a la tienda física ubicada en la
          <b>Calle 52 sur # 44 - 65</b> en el municipio de Sabaneta en donde un asesor del banco
          <b>CitiBank</b> estará presente para realizar el trámite respectivo mediante el cual se gestiona una tarjeta de crédito
          de dicha entidad.</p>
      </div>
    </div>
  </div>
  <div class="container-grey">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="icono-tarjeta">
            <span class="icon-tc"></span>
          </div>
        </div>
        <div class="col-sm-8">
          <p style="font-size: 25px;">
            <b>REQUISITOS NECESARIOS PARA REALIZAR EL RESPECTIVO ESTUDIO SON:</b>
          </p>
          <ul>
            <li>Tener ingresos mínimos de
              <b>$ 1.500.000</b>
            </li>
            <li>Presentar carta laboral, declaración de renta o certificados de ingresos</li>
            <li>Fotocopia de cédula al 150%</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li>Las tarjetas de crédito tendrán un proceso de investigación de mínimo 4 días hábiles que estará a cargo del propio
            banco hasta su posible aprobación. Una vez aprobadas, los clientes podrán hacer uso de ésta en nuestra tienda
            sin inconveniente alguno y realizar sus compras de forma normal.</li>
          <li>La presencia del representante oficial de la entidad
            <b>CitiBank</b> en la tienda física de
            <b>Matisses</b> será temporal.</li>
          <li>La presencia del representante oficial de la entidad
            <b>CitiBank</b> en la tienda física de
            <b>Matisses</b> estará sujeta a los horarios del banco y de sus trabajadores y no a los de operación de la tienda
            <b>Matisses</b>.</li>
        </ul>
      </div>
    </div>
    <recommended></recommended>
  </div>
</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>