<!-- Modal cambio de contraseña -->
<div class="modal fade" id="cambioContraseña" tabindex="-1" role="dialog" aria-labelledby="cambioContraseñaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Por motivos de seguridad debes asignar una contraseña nueva para el ingreso a tu lista de regalos.</p>
        <div class="row" *ngIf="messageError != null && messageError.length > 0">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
              <p>{{messageError}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <label class="label-lista" for="contraseña">Nueva contraseña</label>
            <input type="text" class="form-lista-regalos" id="contraseña">
            <label class="label-lista" for="confirmar-contraseña">Confirmar contraseña</label>
            <input type="text" class="form-lista-regalos" id="confirmar-contraseña">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-buscar" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>

<menu-lista></menu-lista>

<div class="container">
  <div class="contenedor">
    <div class="row">
      <div class="col-xs-12 text-right">
        <p>(Cerrar sesión)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p>Hola {{nombreUsuario}}</p>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4 text-center">
            <p>Lista de regalos</p>
          </div>
          <div class="col-xs-4 text-center">
            <p>Regalos recibidos</p>
          </div>
          <div class="col-xs-4 text-center">
            <p>Lista de invitados</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
        <p>Codigo de novios: ########</p>
      </div>
      <div class="col-xs-6 text-left">
        <p>Fecha celebracion</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>MI LISTA E REGALOS</h1>
        <p>Agrega, edita o elimina productos de tu lista de regalos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 text-center">
        <p><b>#</b></p>
        <p>Regalos agregados</p>
      </div>
      <div class="col-xs-3">
        <p class="cursor-pointer" [routerLink]="['/mi-lista/agregar-productos']">Agregar regalos</p>
      </div>
      <div class="col-xs-3">
        <p class="cursor-pointer">compartir lista</p>
      </div>
      <div class="col-xs-3">
        <input type="text" name="search" class="form-control" value="Busca productos en tu lista">
      </div>
    </div>
    <!-- Informacion cuando no hay prodcutos -->
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3>Aun no hay regalos en tu lista</h3>
        <p><b>Elige lo mejor para tu hogar. Empieza a crear tu lista</b></p>
        <span class="glyphicon glyphicon-plus cursor-pointer" [routerLink]="['/mi-lista/agregar-productos']"> Agregar regalos</span>
      </div>
    </div>
    <!-- botones como mostrar los productos -->
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="mostrar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{itemsXPag}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);">12 x pag</a></li>
              <li><a href="javascript:void(0);">24 x pag</a></li>
              <li><a href="javascript:void(0);">36 x pag</a></li>
              <li><a href="javascript:void(0);">Todos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="ordenar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span [innerHTML]="orderByStr">
                    </span><span class="caret"></span>
                </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li><a href="javascript:void(0);">Precio: más bajos primero</a></li>
              <li><a href="javascript:void(0);">Precio: más altos primero</a></li>
              <li><a href="javascript:void(0);">Nombre: de A a Z</a></li>
              <li><a href="javascript:void(0);">Nombre: de Z a A</a></li>
              <li><a href="javascript:void(0);">Similares</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <ul class="pagination">
          <li>
            <a href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
              </a>
          </li>
          <li><a href="javascript:void(0)" class="active">1</a></li>
          <li><a href="javascript:void(0)">2</a></li>
          <li><a href="javascript:void(0)">3</a></li>
          <li>
            <a href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Informacón cuando hay productos agregados -->
    <div class="row" *ngIf="items && items.length > 0">
      <div class="col-sm-3 col-xs-6 producto" *ngFor="let item of items; let i = index">
        <img src="https://img.matisses.co/{{items[i].itemcode}}/parrilla/{{items[i].itemcode}}_01.jpg" class="jpg-responsive" alt="{{items[i].itemname}}">
        <p class="nombre"><b>{{items[i].itemname}}</b></p>
        <p class="referencia"><b>Ref:</b> {{items[i].shortitemcode}}</p>
        <p class="precio"><b>$ {{items[i].priceaftervat | number}}</b></p>
        <p class="cantidad">Cantidad: <b>#</b></p>
        <p class="detalle">Ver Detalle</p>
      </div>
    </div>
    <!-- botones como mostrar los productos -->
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="mostrar">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{itemsXPag}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);">12 x pag</a></li>
              <li><a href="javascript:void(0);">24 x pag</a></li>
              <li><a href="javascript:void(0);">36 x pag</a></li>
              <li><a href="javascript:void(0);">Todos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="ordenar">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span [innerHTML]="orderByStr">
                    </span><span class="caret"></span>
                </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li><a href="javascript:void(0);">Precio: más bajos primero</a></li>
              <li><a href="javascript:void(0);">Precio: más altos primero</a></li>
              <li><a href="javascript:void(0);">Nombre: de A a Z</a></li>
              <li><a href="javascript:void(0);">Nombre: de Z a A</a></li>
              <li><a href="javascript:void(0);">Similares</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <ul class="pagination">
          <li>
            <a href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
              </a>
          </li>
          <li><a href="javascript:void(0)" class="active">1</a></li>
          <li><a href="javascript:void(0)">2</a></li>
          <li><a href="javascript:void(0)">3</a></li>
          <li>
            <a href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
