.form-lista-regalos {
  display: block;
  width: 100%;
  height: 27px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5B5B5B;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CECECE;
  margin-bottom: 5px;
}

.label-lista {
  color: #5B5B5B;
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
}

.btn-buscar {
  background-color: #F77E7E;
  border: none;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #FFF;
  margin-top: 13px;
}

.btn-buscar:hover {
  background-color: #AB4646;
}
