<!-- Modal cambio de contraseña -->
<div class="modal fade" id="cambioContrasena" tabindex="-1" role="dialog" aria-labelledby="cambioContraseñaLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Por motivos de seguridad debes asignar una contraseña nueva para el ingreso a tu lista de regalos.</p>
        <div class="row" *ngIf="messageError != null && messageError.length > 0">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
              <p>{{messageError}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <form #ContactForm="ngForm" (submit)="actualizarClave()">
          <div class="col-xs-4 col-xs-offset-4">
            <label class="label-lista" for="contraseña">Nueva contraseña</label>
            <input type="text" class="form-lista-regalos" id="contraseña" name="claveNueva" [(ngModel)]="claveNueva" required>
            <label class="label-lista" for="confirmar-contraseña">Confirmar contraseña</label>
            <input type="text" class="form-lista-regalos" id="confirmar-contraseña" name="claveConfirmacion" [(ngModel)]="claveConfirmacion" required>
          </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-buscar"  (click)="actualizarClave()" *ngIf="successMessage == null || successMessage.length <= 0">Guardar</button>
      </div>
    </div>
  </div>
</div>

<menu-lista></menu-lista>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-right">
      <p>(Cerrar sesión)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-left">
      <p>Hola {{nombreUsuario}}</p>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-4 text-center">
          <p>Lista de regalos</p>
        </div>
        <div class="col-xs-4 text-center">
          <p>Regalos recibidos</p>
        </div>
        <div class="col-xs-4 text-center">
          <p>Lista de invitados</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <p>Codigo de novios: ########</p>
    </div>
    <div class="col-xs-6 text-left">
      <p>Fecha celebracion</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>MI LISTA E REGALOS</h1>
      <p>Agrega, edita o elimina productos de tu lista de regalos</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 text-center">
      <p><b>#</b></p>
      <p>Regalos agregados</p>
    </div>
    <div class="col-xs-3">
      <p class="cursor-pointer" [routerLink]="['/mi-lista/agregar-productos']">Agregar regalos</p>
    </div>
    <div class="col-xs-3">
      <p class="cursor-pointer">compartir lista</p>
    </div>
    <div class="col-xs-3">
      <input type="text" name="search" class="form-control" value="Busca productos en tu lista">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Aun no hay regalos en tu lista</h3>
      <p><b>Elige lo mejor para tu hogar. Empieza a crear tu lista</b></p>
      <span class="glyphicon glyphicon-plus cursor-pointer" [routerLink]="['/mi-lista/agregar-productos']"> Agregar regalos</span>
    </div>
  </div>
</div>
