<div class="bg-white hidden-sm hidden-xs" sticky-bg-menu>
  <div class="container hidden-sm hidden-xs header">
    <div sticky-menu>
      <div class="info-ppl" (mouseover)="cerrarOverlay()">
        <div class="row">
          <div class="col-md-4">
            <div class="logo-matisses cursor-pointer">
              <span class="icon-matisses" [routerLink]="['/']"></span>
            </div>
          </div>
          <div class="col-md-3 col-lg-offset-1 col-md-offset-0 col-sm-6 col-sm-offset-3">
            <div class="search-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn icon-search" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                <input type="text" class="buscar" placeholder="Buscar">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-5">
            <div class="row">
              <div class="col-md-12 col-sm-6">
                <ul class="ingreso text-right medium" (mouseover)="carrito.closeResumen()">
                  <li><a href="#"><span class="glyphicon glyphicon-heart"> </span> LISTA DE DESEOS</a></li>
                  <li class="border-left"><a href="#">REGÍSTRATE</a></li>
                  <li class="border-left"><a href="#"><span class="icon-user"> </span> INGRESA</a></li>
                </ul>
              </div>
              <div class="col-md-12 col-sm-6 text-right">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-1">
                    <a href="http://listaregalos.matisses.co/" target="_blank"><p (mouseover)="carrito.closeResumen()" class="lista-regalos text-center"><span class="icon-gift-box"> </span> Lista de Regalos</p></a>
                  </div>
                  <div class="col-xs-3 text-left">
                    <matisses-carrito #carrito id="carrito2"></matisses-carrito>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 top">
          <div class="nav medium">
            <!-- botones para el administrador -->
            <div class="agregar">
              <span class="icon-plus"></span>
            </div>
            <!-- botones para el administrador -->
            <ul>
              <li (mouseover)="carrito.closeResumen()" class="item-menu cursor-pointer" [ngClass]="{'selected' : estaSeleccionado(menuItem.code)}" *ngFor="let menuItem of menuItems" (click)="alternarSeleccionPadre(menuItem)" (mouseover)="alternarSeleccionPadre(menuItem)">
                <!-- botones para el administrador -->
                <div class="hover-edicion">
                  <span class="glyphicon glyphicon-circle-arrow-left"></span>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </div>
                <!-- botones para el administrador -->
                {{menuItem.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu hidden-sm hidden-xs" sticky-submenu [@menuAnimation]="state" *ngIf="padreSeleccionado">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-3" *ngFor="let subMenuItem of padreSeleccionado.children">
            <ul class="sub-menu">
              <p class="child medium cursor-pointer" [routerLink]="['/categoria']" [queryParams]="{department: subMenuItem.department, group: subMenuItem.group}">
                {{subMenuItem.name}}
                <br/>
                <!-- botones para el administrador -->
                <a href="#" class="btn-admin"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
                <a href="#" class="btn-admin"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#" class="btn-admin"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="btn-admin"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                <!-- botones para el administrador -->
              </p>
              <li class="grandchild" *ngFor="let grandChild of subMenuItem.children" [routerLink]="['/categoria']" [queryParams]="{department: grandChild.department, group: grandChild.group, subgroup: grandChild.subgroup}">
                {{grandChild.name}}
                <!-- botones para el administrador -->
                <div class="hover-grandchild">
                  <span class="pull-right glyphicon glyphicon-pencil"></span>
                  <span class="pull-right glyphicon glyphicon-circle-arrow-up"></span>
                  <span class="pull-right glyphicon glyphicon-circle-arrow-down"></span>
                </div>
                <!-- botones para el administrador -->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <img src="assets/images/menu/{{padreSeleccionado.code}}.jpg" class="img-responsive" alt="">
        <p class="name-producto-menu">Sarten Ceradur Plus</p>
        <p class="medium link-producto-menu"><i>Comprar ya</i></p>
      </div>
    </div>
  </div>
</div>
<div class="overlay cursor-pointer hidden-sm hidden-xs" [@overlayAnimation]="stateOverlay" (mouseover)="cerrarOverlay()"></div>

<!-- Menú responsive -->
<div id="myNav" class="fondo-menu hidden-md hidden-lg">
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>-->
  <div class="menu-content">

    <div *ngFor="let menuItem of menuItems">
      <button class="accordion" (click)="alternarSeleccionPadre(menuItem)" (click)="toggleClass('#menuPhone-' + menuItem.code, 'icon-plus', 'icon-minus')">{{menuItem.name}}<span id="menuPhone-{{menuItem.code}}" class="icon-plus pull-right"></span></button>
      <div *ngIf="padreSeleccionado.code === menuItem.code">
        <div *ngFor="let subMenuItem of padreSeleccionado.children">
          <button class="child-accordion" (click)="toggleClass('#grandchild-' + subMenuItem.code,'visible','hidden')" (click)="toggleClass('#subMenu-' + subMenuItem.code, 'glyphicon-chevron-down', 'glyphicon-chevron-up')">{{subMenuItem.name}}<span id="subMenu-{{subMenuItem.code}}" class="glyphicon glyphicon-chevron-down pull-right"></span></button>
          <div class="grandchild hidden" id="grandchild-{{subMenuItem.code}}">
            <div *ngFor="let grandChild of subMenuItem.children" [routerLink]="['/categoria']" [queryParams]="{department: grandChild.department, group: grandChild.group, subgroup: grandChild.subgroup}" >
              <p class="grandchild-accordion">{{grandChild.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="title-menu">
          <p><b>Información</b></p>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="border-menu"></div>
      </div>
    </div>

  </div>
</div>

<div class="bg-mobile visible-sm visible-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 text-left">
        <matisses-carrito #carritoMobile id="carrito1" (click)="cerrarNav()"></matisses-carrito>
      </div>
      <div class="col-xs-6 text-center">
        <div class="logo" [routerLink]="['/']">
          <span class="icon-matisses"></span>
        </div>
      </div>
      <div class="col-xs-3 text-right">
        <span class="glyphicon glyphicon-search" role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"></span>
        <span class="glyphicon glyphicon-menu-hamburger menu-mobile" id="hamburger" (click)="carritoMobile.closeResumen()" (click)="toggleClass('#hamburger', 'glyphicon-menu-hamburger', 'glyphicon-remove')" (click)="toggleNav()"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="collapse" id="collapseSearch">
        <div class="search-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn icon-search" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            <input type="text" class="buscar" placeholder="Buscar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
