<div class="bg-white hidden-sm hidden-xs" sticky-bg-menu>
  <div class="container hidden-sm hidden-xs header">
    <div sticky-menu>
      <div class="info-ppl" (mouseover)="cerrarOverlay()">
        <div class="row">
          <div class="col-md-4">
            <div class="logo-matisses">
              <span class="icon-matisses" [routerLink]="['/']"></span>
            </div>
          </div>
          <div class="col-md-3 col-lg-offset-1 col-md-offset-0 col-sm-6 col-sm-offset-3">
            <div class="search-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn icon-search" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                <input type="text" class="buscar" placeholder="Buscar">
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-5">
            <div class="row">
              <div class="col-md-12 col-sm-6">
                <ul class="ingreso text-right medium">
                  <li><a href="#"><span class="icon-user"> </span> INGRESA</a></li>
                  <li class="border-left"><a href="#">REGÍSTRATE</a></li>
                  <li class="border-left"><a href="#"><span class="glyphicon glyphicon-heart"> </span> LISTA DE DESEOS</a></li>
                </ul>
              </div>
              <div class="col-md-12 col-sm-6 text-right">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-1">
                    <p class="lista-regalos text-center"><span class="icon-gift-box"> </span> Lista de Regalos</p>
                  </div>
                  <div class="col-xs-3 text-left">
                    <matisses-carrito></matisses-carrito>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 top">
          <div class="nav medium">
            <ul>
              <li class="cursor-pointer" [ngClass]="{'selected' : estaSeleccionado(menuItem.codigo)}" *ngFor="let menuItem of menuItems" (click)="alternarSeleccionPadre(menuItem)" (mouseover)="alternarSeleccionPadre(menuItem)">
                {{menuItem.nombre}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu hidden-sm hidden-xs" sticky-submenu [@menuAnimation]="state" *ngIf="padreSeleccionado">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-3" *ngFor="let subMenuItem of padreSeleccionado.children">
            <ul class="sub-menu">
              <p class="medium cursor-pointer" [routerLink]="['/categoria', subMenuItem.route]">{{subMenuItem.nombre}}</p>
              <li *ngFor="let grandChild of subMenuItem.children" [routerLink]="['/categoria', grandChild.route]">
                {{grandChild.nombre}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <img src="assets/images/menu/{{padreSeleccionado.codigo}}.jpg" class="img-responsive" alt="">
        <p class="name-producto-menu">Sarten Ceradur Plus</p>
        <p class="medium link-producto-menu"><i>Comprar ya</i></p>
      </div>
    </div>
  </div>
</div>
<div class="overlay cursor-pointer" [@overlayAnimation]="stateOverlay" (mouseover)="cerrarOverlay()"></div>

<!-- Menú responsive -->
<div id="myNav" class="fondo-menu">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="fondo-menu-content">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>

<div class="bg-mobile visible-sm visible-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3 text-left">
        <matisses-carrito></matisses-carrito>
      </div>
      <div class="col-xs-6 text-center">
        <div class="logo">
          <span class="icon-matisses"></span>
        </div>
      </div>
      <div class="col-xs-3 text-right">
        <span class="glyphicon glyphicon-search" role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"></span>
        <span class="glyphicon glyphicon-menu-hamburger menu-mobile" (click)="openNav()"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="collapse" id="collapseSearch">
        <div class="search-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn icon-search" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            <input type="text" class="buscar" placeholder="Buscar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
