<div class="row">
  <div class="col-sm-12">
    <img src="../../../assets/images/blog/espejos-01.jpg" class="jpg-responsive" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title-blog">ESE TOQUE QUE ESPERABAS, ESPEJOS ÚNICOS PARA TU ESPACIO</h2>
        <p class="text-justify">Si de espejos se trata lo primero que tenemos que tener en cuenta es que este tipo de artículos además de ser prácticos
          es un muy recurso, ya que iluminan los espacios de tu hogar, creando una mayor amplitud en el espacio.
          <br>
          <br>Para usar espejos en nuestro hogar hay algunos parámetros para que su potencial sea aprovechado en todo sentido.
          <br>
          <br>Lo primero es tener cuidado con cargar una habitación de espejos, para esto lo ideal es no usar espejos en más
          de una pared de la habitación, ya que atacar más de un ángulo genera una sensación abrumadora. Por otra parte y
          después de saber que en este caso los espejos son un toque en el espacio, debemos recordar que más que un objeto
          decorativo se vuelve un punto focal, el centro de atención y de concentración en la habitación donde sea ubicado.
          Una característica importante de los espejos y que debemos aprovechar es que crean ventanas “irreales” las cuales
          generan mayor contraste donde no hay mucha vida en el hogar.
          <br>
          <br>Aunque estos consejos no son una camisa de fuerza, lo más importante es recordar que en las habitaciones lo más
          primordial es lograr un equilibrio y armonía adecuada, y sobretodo que estar allí nos haga sentir plenos.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/blog/espejos-02.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>UN TOQUE SUTIL, ESPEJOS EN EL VESTÍBULO Y SALA</h3>
        <p class="text-justify">Cuando entramos a una casa, lo primero que vemos es el recibidor o vestíbulo, por lo que aunque no lo creamos es
          un espacio que genera un punto importante en nuestro hogar.
          <br>
          <br>Sabemos que estas pensando que en muchas casas este espacio es reducido y no tiene mucho espacio para ser aprovechado,
          pero que tal si ampliamos el espacio con una pieza que ayuda a esto, como lo es el espejo, sin quitarle su mayor
          función, pues siempre que vamos a salir estará ahí para vernos y ¡salir perfectos!.
          <br>
          <br>Para estos espacios no es necesario un espejo que abarque mucho, usando uno pequeño que tenga detalles que resalten,
          puede funcionar, todo depende del tamaño de tu vestíbulo y de tu sello personal, lo importante es considerar el
          potencial que tiene este espacio para darle vida a tu hogar.
          <br>
          <br>Por otra parte esta nuestra sala, es otra opción para ubicar un espejo que le dé un toque de visibilidad al espacio,
          además de ayudar a reflejar la luz y darle toques de iluminación a tu habitación. En las salas que poseen muchos
          cuadros o piezas de arte un espejo en otra pared es una buena opción para generar contraste entre los elementos
          y generar ese dinamismo que hace que las cosas se conecten entre sí.
        </p>
      </div>
    </div>
  </div>
</div>