/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Quicksand', sans-serif;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.grey {
  color: #5b5b5b;
}

#lhnContainerDone {
  display: none;
}

input:focus, button:focus, span:focus, p:focus, li:focus, div:focus, textarea:focus, img:focus {
  outline: none !important;
  box-shadow: none !important;
}

.end-footer {
  margin: 20px 0px 10px 0px;
}

.end-footer p {
  display: inline-block;
  padding: 0px 9px;
}

.end-footer .border-left {
  border-left: 1px solid;
}

.sello-seguridad img {
  width: 130px;
}

.text-end-footer {
  margin-top: 6px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .padding-top {
    padding-top: 60px;
  }
  .footer {
    background-color: #EDEDED;
  }
}

@media screen and (max-width: 414px) {
  input, button, textarea, select {
    -webkit-appearance: none;
  }
}


/* Inicia estilos de nanoscrollbar */


/** initial setup **/

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano>.nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano>.nano-content:focus {
  outline: thin dotted;
}

.nano>.nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
  display: block;
}

.nano>.nano-pane {
  background: rgba(0, 0, 0, .25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nano>.nano-pane>.nano-slider {
  background: #444;
  background: rgba(0, 0, 0, .5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nano:hover>.nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}


/* Fin estilos de nanoscrollbar */
