/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Quicksand', sans-serif;
}

/*estilo para el contenedor-fluid*/
.padding-0 {
  padding: 0;
}
/*estilo para el contenedor-fluid*/

.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.grey {
  color: #5b5b5b;
}

input:focus {
  outline: none;
  box-shadow: none;
}
