<matisses-header></matisses-header>

<div sticky-body>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title">
          <h3>
            <b>Blog</b>
          </h3>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-8">
        <img src="../../../assets/images/blog/lujo_clasico.jpg" class="jpg-responsive" alt="">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="title-blog">Elegancia clásica, consejos básicos para tener un espacio tradicional</h2>
            <p class="text-justify">El estilo clásico siempre ha marcado una tendencia fuerte, pues es una expresión que se adapta a una tradición
              que perdura en el tiempo, este tipo de diseño debe en gran parte su estilo a la corriente barroca, gracias
              a la cantidad de elementos que se usan. Cuando decides escoger este estilo para un espacio se deben tener en
              cuenta algunos consejos o aspectos para tener un espacio clásico más no cargado o atacado.
              <br>
              <br> Para comenzar debemos tener en cuenta el color, pues la base en gran parte de este estilo son los colores
              cremas y escala de colores tierra, acompañados de la gama de colores grises, los cuales se mezclan muy bien.
              <br>
              <br> Las telas son la carta de presentación para este estilo, ya que su textura, brillo y poder visual enriquecen
              el diseño de mobiliario clásico, los tapizados en este caso hablan por sí mismos, una buena opción es fusionar
              con toques personales de estampados y texturas para darle una armonía al espacio.
              <br>
              <br> En cuando a materiales la madera será el común denominador, mezclada con detalles metálicos, elementos como
              curvas y ornamentos que predominan para dar una imagen “pesada” visualmente, pero que contribuyen a dar un
              equilibrio en el diseño, ya que son piezas poderosas que deben ser estratégicamente pensadas en el espacio.
              <br>
              <br> Finalmente la característica más fuerte de este estilo es la elegancia que comunica, ya que es un diseño atemporal
              que perdura según el espacio, es una tendencia que se mantiene intacta, pues su clave está en los detalles
              que hacen que una pieza cuente una historia.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <h3>Diseño clásico, el que no pasa de moda.</h3>
            <p class="text-justify">Si nos centramos en el concepto clásico podemos afirmar que esta decoración está ligada al lujo, sofisticación
              y prestigio, ya que proporciona un aire ostentoso que se logra gracias a los materiales y formas usadas.
              <br>
              <br> En este tipo de estilo el trabajo concentrado en cada detalle salta a la vista, comedores, camas y sillas
              que llegan a Matisses, con materiales selectos y pensados para perdurar en el tiempo, agregándoles toques y
              acabados especiales.
              <br>
              <br> Para resaltar en esta colección cargada de elegancia y sofisticación, traemos desde Portugal artículos elaborados
              con materiales y procesos que destacan el estilo clásico atemporal.
            </p>
          </div>
          <div class="col-sm-5">
            <img src="../../../assets/images/blog/lujo_clasico-02.jpg" class="jpg-responsive" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p class="text-justify"> Los artículos clásicos deben transmitir imponencia, es por esto que las materias primas o materiales deben ser
              de primer nivel que garantizan la durabilidad, para generar un excelente diseño y funcionalidad.
              <br>
              <br> Como ya sabemos el material que más se resalta en este tipo de diseño es la madera, para asegurar una durabilidad
              correcta se usan chapillas naturales, laca de protección y alto brillo, lo que permite lijar o pulir el producto
              ante rayones leves sin perder el acabado.
              <br>
              <br> En cuanto a las telas o tapizados, esta colección se basa en garantizar alta resistencia a manchas, durabilidad
              con respecto a los ciclos de lavado y con cuidados simples como limpiar regularmente con un paño en algodón
              con agua fría.
              <br>
              <br> Este tipo de estilos mezclan diseño y calidad para asegurar perdurabilidad, creando espacios equilibrados
              entre los elementos, y generar espacios que muestren un aire clásico.
            </p>
          </div>
        </div>
        <new-products></new-products>
      </div>
      <div class="col-sm-4">
        <h3>Blogs recientes</h3>
        <hr>
        <div class="row">
          <div class="col-xs-4">
            <img src="../../../assets/images/blog/lujo_clasico.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="col-xs-8">
            <p>Lujo clásico</p>
            <span class="icon-clock"> 25/may/2018</span>
          </div>
        </div>
        <br>
        <h3>Categorías</h3>
        <hr>
        <ul>
          <li>Mobiliario y accesorios</li>
          <li>Tendencias</li>
          <li>Espacios</li>
          <li>Lifestyle</li>
        </ul>
        <h3>Tags</h3>
        <hr>
        <div class="tags-filtros">
          <span class="active-filter">
            Decoración
          </span>
          <span class="active-filter">
            Diseño Clásico
          </span>
          <span class="active-filter">
            Mobiliario
          </span>
          <span class="active-filter">
            Diseño de interiores
          </span>
        </div>
      </div>
    </div>
  </div>

</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>