<div class="row">
    <div class="col-sm-12">
        <img src="../../../assets/images/blog/ocasionales-01.jpg" class="jpg-responsive" alt="">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="title-blog">SILLAS OCASIONALES, EL COMPLEMENTO EN TU ESPACIO</h2>
                <p class="text-justify">Cuando pensamos en diseñar un nuevo espacio, siempre pensamos en el mobiliario más adecuado para nuestros
                    gustos y necesidades. Escoger los elementos de este espacio debe ser una decisión que nos asegure además
                    de comodidad, una correcta distribución y circulación del espacio, pues allí se reunirá tu familia, llegaran
                    tus invitados y todo debe funcionar de acuerdo a tus exigencias. </p>
                <p class="text-justify">Para empezar debemos coordinar el estilo de las piezas que vamos a tener allí; una clave es que cada mueble
                    o componente se complemente uno con otro, ya que si compiten entre sí el espacio se puede ver caótico
                    y abrumador. Un buen comienzo para diseñar tu espacio es tener claro que los tamaños de cada una de las
                    partes deben tener cierta proporción, sabemos que el sofá será uno de los elementos que se lleve más
                    atención por su tamaño, pero este debe tener componentes que ayuden a conformar un conjunto visualmente
                    adecuado; una excelente opción es completar el espacio con una silla ocasional la cual sirve para darle
                    a nuestra habitación un toque de diseño aún más detallado, además de tener la posibilidad de otro asiento
                    más, lo cual nos genera dinamismo en el espacio.
                </p>
                <p class="text-justify">Las sillas ocasionales son una excelente opción para renovar un espacio, y darle mayor uso a cada rincón
                    de la habitación, completa el diseño deseado, genera elegancia, ocupa muy bien los ángulos en los que
                    falta un toque esencial para crear un ambiente con elementos que se relacionen. Puedes encontrar múltiples
                    estilos para este tipo de sillas, desde clásicas hasta contemporáneas, con varios materiales y acabados,
                    para tomar la mejor decisión y adaptar tus ideas a tu hogar.
                </p>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-6">
                <img src="../../../../assets/images/blog/ocasionales-02.jpg" class="jpg-responsive" alt="">
            </div>
            <br class="visible-xs">
            <div class="col-sm-6">
                <img src="../../../../assets/images/blog/ocasionales-03.jpg" class="jpg-responsive" alt="">
            </div>
        </div> -->
        <div class="row">
            <div class="col-xs-12">
                <h3>LAS SILLA OCASIONALES COMO UN VALOR AGREGADO</h3>
                <p class="text-justify">Si de crear un espacio se trata, siempre comenzamos distribuyendo los elementos que creemos que estarán acordes
                    con el tamaño que poseemos en nuestro hogar, siempre vamos de lo macro a lo micro, para así crear el
                    estilo adecuado, y abarcar correctamente todo el espacio.
                </p>
                <p class="text-justify">Muchas personas no se enfocan en complementos o detalles para sus espacios, sobre todo cuando son espacios
                    más reducidos donde no es posible acomodar sofás grandes, como solución están las sillas ocasionales,
                    las cuales generan un valor agregado al espacio, ya que conectan el estilo que se quiere transmitir,
                    ambientan los espacios para generar ese equilibrio visual que buscamos entre nuestro mobiliario.
                </p>
                <p class="text-justify">Un buen consejo es escoger la o las sillas ocasionales según el estilo del sofá, para garantizar una conexión
                    y fluidez adecuada. Un espacio cambia significativamente cuando posee este tipo de sillas porque nos
                    genera unión en el entorno para ocupar correctamente el área que deseamos adecuar; ten en cuenta que
                    este tipo de sillas juegan un rol muy importante cuando vas a recibir visitas, ya que crean un ambiente
                    con mayor circulación, recuerda que todos los detalles en tu espacio cuentan para generar tu espacio
                    ideal.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ page: '1', pageSize: '10000', group: '003', subgroup: '086' }">
                    <button class="btn btn-default">VER PRODUCTOS</button>
                </a>
            </div>
        </div>
    </div>
</div>