<matisses-header></matisses-header>

<div sticky-body>

  <div class="container padding-top">

    <div class="title">
      <h3>
        <b>Métodos de envío</b>
      </h3>
    </div>

    <div class="foto01"></div>
    <div class="row">
      <div class="col-xs-12">
        <br/>
        <h4 class="text-center">Nuestro servicio de entrega te ofrece diferentes posibilidades al momento de realizar una compra. Entre las cuales
          puedes elegir:</h4>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-4  text-center">
            <span class="icon-box"></span>
            <p class=" content">Almacenar tus productos por un periodo de un año totalmente gratis en la bodega de la empresa Daka Storage.</p>
          </div>
          <div class="col-sm-4 text-center border-left">
            <span class="icon-carrier02"></span>
            <p class=" content">Recoger tu compra en una de nuestras tiendas.</p>
          </div>
          <div class="col-sm-4 text-center border-left">
            <span class="icon-carrier"></span>
            <p class=" content">Recibir la entrega de tus productos de 8 a 12 días hábiles.</p>
          </div>
        </div>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-sm-2 text-center">
            <span class="icon-carrier03"></span>
          </div>
          <div class="col-sm-10">
            <p>Por medio de nuestra plataforma web puedes realizar: programación, reprogramación y un seguimiento detallado
              de tus productos; para esto debes registrarte, ingresar a tu cuenta y dirigirte a mis compras.</p>
            <p>
              <b>*Dirígete a términos y condiciones para conocer más sobre este servicio.</b>
            </p>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Free Shipping</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li>Si los ítems pertenecen al grupo de mobiliario y la ciudad de destino está en el área metropolitana o el valle del aburra. El envió sera gratis por compras iguales o mayores a $ 2.000.000</li>
          <li>Si los ítems pertenecen al grupo de mobiliario y la ciudad de destino <b>NO ESTÁ</b> en el área metropolitana o el valle del aburra. El envió sera gratis por compras iguales o mayores a $ 7.000.000</li>
          <li>Si los items no pertenecen al grupo de mobiliario. El envió sera gratis por compras iguales o mayores a $ 150.000</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Cobertura</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Realizamos nuestras entregas exclusivamente dentro del territorio colombiano en zonas y lugares a los que tengamos
          acceso de acuerdo con nuestra red de distribución, en caso de que la dirección de entrega sea una isla o población
          de acceso fluvial, solo nos comprometemos a entregar el producto hasta alguno de los puertos nacionales, de ese
          punto en adelante el usuario/cliente debe asumir los gastos de transporte y la coordinación de la logística.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Recomendaciones de recibo</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>En caso de inconformidad en el momento de recibir el producto, debe expresarse por escrito en el acta de entrega,
          y se deberá comunicar inmediatamente con nuestras líneas de atención al cliente:
          <b>+57 (4) 444 04 34</b> en Medellín, o al
          <b>01 8000 41 00 44</b> en el resto del país. También lo podrá hacer de manera electrónica a través del correo:
          <a
            href="mailto:servicioalcliente@matisses.co">
            <b>servicioalcliente@matisses.co</b>
          </a>.</p>
        <p>Si hace uso del producto se entenderá que lo recibió a conformidad, en este caso cualquier falla o defecto lo tomaremos
          como garantía de acuerdo a la ley.</p>
        <p>Para mayor información de nuestra política de entrega, cambios y devoluciones haz clic en términos y condiciones,
          o comunícate a través de nuestra línea de Servicio al cliente:
          <b>01 8000 41 00 44</b> (horario de lunes a viernes de 9:30 am a 12:30 p.m. y de 1:30 p.m. a 5:00 p.m.) o por correo
          electrónico:
          <a href="mailto:servicioalcliente@matisses.co">
            <b>servicioalcliente@matisses.co</b>
          </a>.</p>
      </div>
    </div>
  </div>

</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>