<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', orderBy: 'price', group: '025', subgroup: '146' }">
                <br>
                <img src="../../../../assets/images/secciones/2/miniatura1.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <br>
            <div class="col-sm-8">
              <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', orderBy: 'price', group: '025', subgroup: '146' }">
                <img src="../../../../assets/images/secciones/2/miniatura2.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', orderBy: 'price', group: '040', subgroup: '236' }">
        <br>
        <img src="../../../../assets/images/secciones/2/miniatura3.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
    <div class="col-sm-6">
      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ subgroup: '146', collection: 'CeraDur® Plus', group: '025' }">
        <br>
        <img src="../../../../assets/images/secciones/2/miniatura4.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
  </div>
</div>