<div class="container-fluid padding-0">
    <div class="back-01">
      <div class="row">
        <div class="col-xs-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-4">
                    <br>
                    <br>
                    <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'termo,carafe', brand: '0011', pageSize: '10000' }">
                      <img src="../../../../assets/images/secciones/2/miniatura1.jpg" class="jpg-responsive" alt="">
                    </a>
                    <br class="visible-xs">
                    <br class="visible-xs">
                  </div>
                  <div class="col-sm-8 overflow-h">
                    <br>
                    <br>
                    <a href="javascript:void(0)" [routerLink]="['/producto/2240039']">                      
                      <img src="../../../../assets/images/secciones/2/miniatura2.jpg" class="jpg-responsive" alt="">
                    </a>
                    <br class="visible-xs">
                    <br class="visible-xs">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 cursor-pointer" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'MUG', brand: '0009', orderBy: 'price', pageSize: '10000' }">
        <br>
        <img src="../../../../assets/images/secciones/2/miniatura3.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-sm-4 cursor-pointer" [routerLink]="['/producto/2310122']">
        <br>
        <img src="../../../../assets/images/secciones/2/miniatura4.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
  </div>