<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-xs-12">
                  <a href="javascript:void(0)" [routerLink]="['/producto/1051835']">
                    <br>
                    <img src="../../../../assets/images/secciones/3/miniatura2.jpg" class="jpg-responsive" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <a href="javascript:void(0)" [routerLink]="['/producto/1280179']">
                    <br>
                    <img src="../../../../assets/images/secciones/3/miniatura3.jpg" class="jpg-responsive" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <a href="javascript:void(0)" [routerLink]="['/producto/1051854']">
                <br>
                <img src="../../../../assets/images/secciones/3/miniatura1.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>