<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <br>
              <div class="row">
                <div class="col-sm-4 overflow-h">
                  <img src="../../../../assets/images/secciones/3/miniatura1.jpg" class="jpg-responsive" alt="">
                </div>
                <div class="col-sm-8 overflow-h">
                  <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'royal' }">
                    <img src="../../../../assets/images/secciones/3/miniatura2.jpg" class="jpg-responsive" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <a href="javascript:void(0)" target="_blank" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'royal,arco', group: '003' }"> 
        <img src="../../../../assets/images/secciones/3/miniaturas3.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
    <div class="col-sm-6">
      <a href="javascript:void(0)" [routerLink]="['/producto/1780175']">
        <img src="../../../../assets/images/secciones/3/miniaturas4.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
  </div>
</div>