<div class="container" *ngIf="items.length > 0">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="bold grey">Productos Nuevos</h3>
    </div>
  </div>
  <br/>
<div class="row">
  <div class="col-xs-12">
    <a class="left" (click)="botonLeft()">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <a class="right" (click)="botonRight()">
      <span class="glyphicon glyphicon-menu-right"></span>
    </a>
  </div>
</div>
  <div class="section">
    <div class="article" *ngFor="let item of items">
      <div class="producto">
        <div class="porcentaje" *ngIf="item.priceafterdiscount && item.priceafterdiscount > 0">
          <p>-{{item.descuento | number}}%</p>
        </div>
        <div class="row">
          <div class="col-xs-12" [routerLink]="['/producto', item.shortitemcode]">
            <img src="http://img.matisses.co/{{item.itemcode}}/images/{{item.itemcode}}_01.jpg" class="img-responsive" alt="{{item.itemname}}">
          </div>
        </div>
        <div class="row" *ngIf="item != null">
          <div class="col-xs-12 text-center">
            <p class="medium nombre-producto">{{item.itemname}}</p>
            <div class="precio-full" *ngIf="!item.priceafterdiscount || item.priceafterdiscount === 0 || item.priceafterdiscount === item.pricebeforediscount">
              <h4>$ {{item.priceaftervat | number:0}}</h4>
            </div>
            <div class="precio-discount" *ngIf="item.priceafterdiscount && item.priceafterdiscount > 0">
              <h5>$ {{item.priceaftervat | number:0}}</h5>
              <h4>$ {{item.priceafterdiscount | number:0}}</h4>
            </div>
          </div>
          <div class="botones">
            <div class="col-xs-12 text-center">
              <button type="button" class="btn btn-like" (click)="toggleWishList(item)">
                <span class="glyphicon  wish-list" [ngClass]="getCSSClassName(item)"></span>
              </button>
              <button type="button" class="btn btn-carrito" (click)="agregarCarrito(item)">
                AGREGAR AL CARRITO
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<matisses-carrito-simple #carritoSimple></matisses-carrito-simple>
