<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="bold grey">Tendencias</h3>
    </div>
  </div>
  <br/>
  <div class="row">

    <div class="col-xs-12">
      <div class="tendencia-01">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="text">
                <p><span class="estilo">ESTILO</span> CONTEMPORÁNEO</p>
                <h2 class="bold">BIG TABLE</h2>
                <p class="light"><b>COMPRA YA</b> <span class="glyphicon glyphicon-chevron-right"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">

    <div class="col-sm-6 col-sm-offset-0 col-xs-12">
      <img src="assets/images/tendencias/tendencias-02.jpg" class="img-responsive" alt="">
      <br/>
      <div class="col-xs-12 text-center">
        <p class="medium">Set de Vasos</p>
      </div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <button type="submit" class="compra-ya" name="comprar-ya">Compra ya</button>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-0 col-xs-12">
      <img src="assets/images/tendencias/tendencias-03.jpg" class="img-responsive" alt="">
      <br/>
      <div class="col-xs-12 text-center">
        <p class="medium">Set de Cubiertos</p>
      </div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <button type="submit" class="compra-ya" name="comprar-ya">Compra ya</button>
      </div>
    </div>

  </div>
</div>
