<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="bold grey">Tendencias</h3>
    </div>
  </div>
  <br/>

<!-- principal -->
  <div class="container padding-0">
      <div class="row">
        <div class="col-xs-12">
          <div class="tendencia-01">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="text">
                    <p class="p-principal"><span class="estilo">ESTILO</span> CONTEMPORÁNEO</p>
                    <p class="p-secundario">BIG TABLE</p>
                    <p class="btn-comprar"><b>COMPRA YA</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <div class="container">
    <div class="row">
<!-- segundo -->
      <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="sub-banner">
          <img src="assets/images/tendencias/tendencias-02.jpg" class="img-responsive" alt="">
          <div class="col-xs-12 text-center">
            <p class="medium">Accesorios Funcionales</p>
          </div>
          <div class="col-md-4 col-md-offset-4 text-center">
            <button type="submit" class="compra-ya" name="comprar-ya">Compra ya</button>
          </div>
        </div>
      </div>
<!-- tercero -->
      <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="sub-banner">
          <img src="assets/images/tendencias/tendencias-03.jpg" class="img-responsive" alt="">
          <div class="col-xs-12 text-center">
            <p class="medium">Moda en tu mesa</p>
          </div>
          <div class="col-md-4 col-md-offset-4 text-center">
            <button type="submit" class="compra-ya" name="comprar-ya">Compra ya</button>
          </div>
        </div>
        </div>
    </div>
  </div>
