<div class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="bold grey">Tendencias</h2>
    </div>
  </div>
  <br/>
</div>

<!-- principal -->
<div class="container padding-0">
  <div class="row">
    <div class="col-xs-12">
      <a href="javascript:void(0)" [routerLink]="['/producto', 2090090]">
        <div class="tendencia-01">
          <div class="container">
            <div class="row">
              <!-- <div class="col-xs-12">
                <div class="text">
                  <p class="p-principal">ESTILO CONTEMPORANEO</p>
                  <p class="p-secundario">ROMEO</p>
                  <p class="btn-comprar"><b>Ir a comprar</b></p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<br/>

<div class="container">
  <div class="row">
    <!-- segundo -->
    <div class="col-sm-6 col-xs-12">
      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{brand: '0016', orderBy: 'price', collection:'Hello%20FUNctionals'}">
        <div class="sub-banner">
          <!-- <div class="sub-banner-text">
            <p><b>ACCESORIOS</b> FUNCIONALES</p>
          </div> -->
          <img src="assets/images/tendencias/tendencias-02.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </div>
    <!-- tercero -->
    <div class="col-sm-6 col-xs-12">
      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{group: '024', brand: '0009', collection:'A%20La%20Maison'}">
        <div class="sub-banner">
          <!-- <div class="sub-banner-text">
            <p><b>MODA</b> EN TU MESA </p>
          </div> -->
          <img src="assets/images/tendencias/tendencias-03.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </div>
  </div>
</div>
