h3::before {
  content: '- ';
  position: absolute;
  top: 50px;
  height: 5px;
  width: 25px;
  color: transparent;
  background-color: #5B5B5B;
}

h2::before {
  content: '- ';
  position: absolute;
  top: 100px;
  height: 8px;
  width: 52px;
  color: transparent;
  background-color: #747c79;
}

.text h2, .text p {
  margin: 0;
  font-size: 40px;
  padding-left: 70px;
}

.estilo {
  background-color: #747c79;
  padding: 0px 10px;
  color: #FFF;
}

.tendencia-01 {
  background: url(../../../assets/images/tendencias/tendencias-011.jpg) no-repeat center top;
  margin-top: 0px;
  padding-top: 10px;
  background-attachment: relative;
  background-position: center center;
  min-height: 480px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  color: #747c79;
}

.compra-ya {
  border: 1px solid #5B5B5B;
  cursor: pointer;
  color: #5B5B5B;
  padding: 5px 10px;
  font-weight: 700;
  font-style: italic;
  background-color: transparent;
  margin-bottom: 20px;
}

.compra-ya:focus {
  outline: none;
  box-shadow: none;
}

.compra-ya:hover {
  background-color: #ECECEC;
}

@media screen and (max-width: 991px) {
  .tendencia-01 {
    min-height: 300px;
  }
  .text h2, .text p {
    font-size: 23px;
  }
  h2::before {
    top: 57px;
    height: 4px;
    width: 35px;
  }
}

@media screen and (max-width: 660px) {
  .tendencia-01 {
    background-position: center;
  }
  .text h2, .text p {
    padding: 0;
    font-size: 20px;
    color: #FFF;
  }
  .estilo {
    padding: 0px 5px;
  }
  h2::before {
    top: 50px;
  }
}
