<matisses-header></matisses-header>

<div sticky-body>
  <div class="container">
    <div class="row bg-novedades">
      <div class="col-xs-12 text-center">
        <img src="../../assets/images/novedades/logos.png" class="img-responsive" alt="">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/Plumage.jpg" class="jpg-responsive" alt="">
        <p class="title">Plumage</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/bahia.jpg" class="jpg-responsive" alt="">
        <p class="title">bahia</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/arbor.jpg" class="jpg-responsive" alt="">
        <p class="title">arbor</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/caadre.jpg" class="jpg-responsive" alt="">
        <p class="title">caadre</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/pop.jpg" class="jpg-responsive" alt="">
        <p class="title">pop</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/phantom.jpg" class="jpg-responsive" alt="">
        <p class="title">phantom</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/nido.jpg" class="jpg-responsive" alt="">
        <p class="title">nido</p>
      </div>
      <div class="col-xs-6 col-sm-4">
        <img src="../../assets/images/novedades/spyder.jpg" class="jpg-responsive" alt="">
        <p class="title">spyder</p>
      </div>
      <div class="col-xs-6 col-sm-4 hidden-xs">
        <img src="../../assets/images/novedades/Skorpio.jpg" class="jpg-responsive" alt="">
        <p class="title">Skorpio</p>
      </div>
      <div class="col-xs-6 col-sm-4 hidden-xs">
        <img src="../../assets/images/novedades/roger.jpg" class="jpg-responsive" alt="">
        <p class="title">Roger</p>
      </div>
      <div class="col-xs-6 col-sm-4 hidden-xs">
        <img src="../../assets/images/novedades/dorian.jpg" class="jpg-responsive" alt="">
        <p class="title">Dorian</p>
      </div>
      <div class="col-xs-6 col-sm-4 hidden-xs">
        <img src="../../assets/images/novedades/coseno.jpg" class="jpg-responsive" alt="">
        <p class="title">Coseno</p>
      </div>
    </div>
  </div>
</div>
<new-products></new-products>
<newsletter></newsletter>
<matisses-footer></matisses-footer>