<matisses-header></matisses-header>

<div sticky-body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="slide-container">
          <div class="slide">
            <img src="../../assets/images/novedades/bloom.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="slide">
            <img src="../../assets/images/novedades/lola.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="slide">
            <img src="../../assets/images/novedades/lolita.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="slide">
            <img src="../../assets/images/novedades/panketta.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="slide">
            <img src="../../assets/images/novedades/york.jpg" class="jpg-responsive" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-justify">
        <div class="row bg-novedades hidden-xs">
          <div class="col-xs-12 text-center">
            <img src="../../assets/images/novedades/logo-tomasella.png" alt="">
          </div>
        </div>
        <br/>
        <p><b>Tomasella</b> fue fundada en 1948 por Luigi Tomasella, y rápidamente se convirtió en uno de los principales fabricantes en el comercio de muebles italiano.</p>
        <p>Usando el credo "Mira al pasado para interpretar el futuro", la compañía se ha mantenido a la vanguardia de la innovación creativa y técnica, sin perder el gusto de nuestro tiempo. Esto se puede ver en las unidades de pared, armarios y camas,
          como el "Origami".</p>
        <p>Tomasella tiene su propia red de ventas y está ingresando a nuevos mercados globales en Europa, Asia y Estados Unidos. Esta empresa de muebles, dirigida por Luigi y su familia en la actualidad, ha llevado los muebles italianos, tanto modernos
          como clásicos, a nuevos niveles de interés y deseo en todo el mundo.</p>
      </div>
    </div>
  </div>
</div>
<new-products></new-products>
<newsletter></newsletter>
<matisses-footer></matisses-footer>
