<matisses-header></matisses-header>
<!-- Sticky-body es la etiqueta para el contenido cuando el menu esta fixed -->
<div sticky-body>
  <div class="container-fluid padding-0">
    <div class="bg-logo">
      <div class="row">
        <div class="col-xs-12">
          <div class="logo">
            <img src="../../../assets/images/novedades/logo-calia.png" class="jpg-responsive" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <!-- Belle Epoque -->
    <div class="row">
      <div class="col-sm-6">
        <img src="../../../assets/images/novedades/belle_epoque.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-sm-6">
        <br class="hidden-xs">
        <br class="hidden-xs">
        <h2>BELLE EPOQUE</h2>
        <p class="contenido">Arriesgado en su paleta de color, lleno de detalles en su forma y con una esencia que combina lo mejor del viejo
          continente con las últimas tendencias en diseño, el sofá Belle Epoque de la marca italiana Calia nos ofrece un
          espectáculo visual sin precedentes con una propuesta de lujo y exclusividad.</p>
        <p>
          <b>Disponible en los siguientes colores:</b>
        </p>
        <div class="color morado"></div>
        <div class="color cafe"></div>
        <div class="color azul"></div>
        <div class="color gris"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../../assets/images/novedades/belle_epoque-(1).jpg" class="jpg-responsive border" alt="">
      </div>
      <div class="col-sm-4">
        <img src="../../../assets/images/novedades/belle_epoque-(2).jpg" class="jpg-responsive border" alt="">
      </div>
      <div class="col-sm-4">
        <img src="../../../assets/images/novedades/belle_epoque-(3).jpg" class="jpg-responsive border" alt="">
      </div>
    </div>
    <br>
    <!-- Romeo -->
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
        <h2>Romeo</h2>
        <p class="contenido">Es un sofá tapizado en fina piel de color blanco y forma amplia, con patas en acero inoxidable que evoca lo mejor
          del diseño europeo, priorizando la comodidad y destacando por sus sofisticadas líneas. Como un color infaltable
          en alguna de las piezas de tu mobiliario, el blanco es un tono luminoso, clásico y sencillo que ayuda a dar la
          sensación de grandeza.</p>
        <p>
          <b>Disponible en los siguientes colores:</b>
        </p>
        <div class="color blanco"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/novedades/romeo.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <br>
    <!-- Jacob -->
    <div class="row">
      <div class="col-xs-12">
        <div class="bg-black">
          <div class="row">
            <div class="col-sm-6">
              <div class="black-text">
                <h2 class="white">Jacob</h2>
                <p class="contenido white">Envuelta en un aura de elegancia y estilo, Jacob es una de las más emblemáticas piezas de la prestigiosa
                  marca italiana Calia, que ahora llega a nuestras tiendas para hacer parte de la increíble oferta de mobiliario
                  importado que te ofrecemos.</p>
                <p class="contenido white">
                  <b>Disponible en los siguientes colores:</b>
                </p>
                <div class="color blanco"></div>
                <div class="color gris"></div>
                <div class="color beige"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <img src="../../../assets/images/novedades/jacob.jpg" class="jpg-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <new-products></new-products> -->
<newsletter></newsletter>
<matisses-footer></matisses-footer>