<menu-lista></menu-lista>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="header-img">
        <div class="row">
          <div class="col-sm-6">
            <div class="beneficios-text">
              <h2 class="baskerville">BENEFICIOS NOVIOS</h2>
              <img src="../../../assets/images/deco_02.png" width="80%" alt="">
              <p>Matisses diseñó una experiencia para realizar tu lista de novios sea inolvidable, entregándote un paquete de<br/><b>beneficios únicos</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="beneficios-internos text-center">
      <div class="row">
        <div class="col-sm-6 text-como-beneficios right-border bottom-border">
          <span class="icon-medal-01"></span>
          <h1>Productos exclusivos</h1>
          <p>Las mejores marcas de complementos y mobiliario para el hogar a nivel mundial, representados de manera exclusiva para Colombia por la marca Matisses.</p>
        </div>
        <div class="col-sm-6 text-como-beneficios bottom-border">
          <span class="icon-asesoria-01"></span>
          <h1>Asesoría personalizada</h1>
          <p>Asignamos un personal shopper que estará siempre pendiente de tu lista. Además, cuentas con asesores y decoradores de interiores, esto con el fin de brindar una asesoría personalizada y especializada.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-como-beneficios right-border bottom-border">
          <span class="icon-plataforma-web"></span>
          <h1>Plataforma virtual</h1>
          <p>Ponemos a tu disposición nuestra plataforma digital que te permitirá crear, editar, administrar y compartir la lista en tiempo real con tus amigos y familiares los cuales podrán comprar tus regalos en línea.</p>
        </div>
        <div class="col-sm-6 text-como-beneficios bottom-border">
          <span class="icon-agenda-entrega"></span>
          <h1>Envío gratuito</h1>
          <p>Contarás con la opción de programar dos entregas a nivel nacional de tus regalos sin ningún costo.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-como-beneficios right-border">
          <span class="icon-socios-01"></span>
          <h1>Club de beneficios</h1>
          <p>Ser novios Matisses te da la oportunidad de acceder a servicios con descuentos exclusivos de nuestro grupo de aliados, desde vestidos de novias hasta maquillaje y mucho más.</p>
        </div>
        <div class="col-sm-6 text-como-beneficios">
          <span class="icon-lista-casa-01"></span>
          <h1>Renderizado del mobiliario</h1>
          <p>Realizamos el diseño de tus espacios a partir del plano de tu casa, así podrás ver el look total del hogar con el mobiliario de Matisses.</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h5 class="baskerville">BENEFICIOS ESPECIALES</h5>
      <p style="margin:0">Dentro de tu lista de regalos cuentas con algunos beneficios que te brindaran más facilidades para la administración de tus invitados.</p>
      <img src="../../../assets/images/deco_01.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 beneficios-especiales">
      <span class="icon-beneficios-01"></span>
      <h6 class="baskerville">Mensaje de texto y E-mail</h6>
      <p>Dentro de tu lista de regalos puedes agregar tus invitados, a ellos les llegara un correo electrónico con la invitación a tu lista de regalos y si deseas también puedes enviar mensajes SMS.</p>
    </div>
    <div class="col-sm-4 beneficios-especiales border-both">
      <span class="icon-beneficios-02"></span>
      <h6 class="baskerville">Confirmación de asistencia</h6>
      <p>Podrás dentro de tu lista de regalos controlar todos tus invitados, viendo quienes han confirmado su asistencia.</p>
    </div>
    <div class="col-sm-4 beneficios-especiales">
      <span class="icon-beneficios_03"></span>
      <h6 class="baskerville">Restricciones dietarias</h6>
      <p>Los invitados que sufran de alguna alergia alimenticia, también lo puede confirmar y con esto podrás llevar un control para el menú de tu fiesta.</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="como-obtener">
        <h5 class="baskerville">¿CÓMO PUEDES OBTENER ESTOS BENEFICIOS?</h5>
        <p>Ser novios Matisses les da la oportunidad de acceder a diferentes servicios con nuestros aliados.</p>
        <img src="../../../assets/images/deco_01.png" alt="">
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-4 text-center">
      <h1 class="bronce">Novia Bronce</h1>
      <p>Por listas con compras efectivas<br>menores a 3 millones de pesos</p>
    </div>
    <div class="col-sm-4 text-center">
      <h1 class="plata">Novia Plata</h1>
      <p>Por listas con compras efectivas<br>entre 3 y 10 millones de pesos</p>
    </div>
    <div class="col-sm-4 text-center">
      <h1 class="oro">Novia Oro</h1>
      <p>Por listas con compras efectivas<br>mayores a 10 millones de pesos</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Beneficios</th>
              <th>Novia<br/>Bronce</th>
              <th>Novia<br/>Plata</th>
              <th>Novia<br/>Oro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Personal Shopper</th>
              <td><span class="icon-diamante-01 bronze"></span></td>
              <td><span class="icon-diamante-01 silver"></span></td>
              <td><span class="icon-diamante-01 gold"></span></td>
            </tr>
            <tr>
              <th>2 entregas gratuitas a nivel nacional</th>
              <td><span class="icon-diamante-01 bronze"></span></td>
              <td><span class="icon-diamante-01 silver"></span></td>
              <td><span class="icon-diamante-01 gold"></span></td>
            </tr>
            <tr>
              <th>Cambios de producto hasta 1 mes depués de la entrega final</th>
              <td><span class="icon-diamante-01 bronze"></span></td>
              <td><span class="icon-diamante-01 silver"></span></td>
              <td><span class="icon-diamante-01 gold"></span></td>
            </tr>
            <tr>
              <th>Elección de regalos con brindis</th>
              <td><span class="icon-diamante-01 bronze"></span></td>
              <td><span class="icon-diamante-01 silver"></span></td>
              <td><span class="icon-diamante-01 gold"></span></td>
            </tr>
            <tr>
              <th>Beneficios con aliados exclusivos de Matisses</th>
              <td><span class="icon-diamante-01 bronze"></span></td>
              <td><span class="icon-diamante-01 silver"></span></td>
              <td><span class="icon-diamante-01 gold"></span></td>
            </tr>
            <tr>
              <th>Bono por el 5% del valor total de la lista.<br/>(Valido por 60 días despues de la fecha de generación)</th>
              <td></td>
              <td></td>
              <td><span class="icon-diamante-01 gold"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 class="baskerville">NUESTROS ALIADOS</h1>
      <img src="../../../assets/images/deco_01.png" alt="">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="slider-container">
        <div class="controllers">
          <a class="left prev">
            <span class="glyphicon glyphicon-menu-left"></span>
          </a>
          <a class="right next">
            <span class="glyphicon glyphicon-menu-right"></span>
          </a>
        </div>
        <div class="slider-aliados">
          <div class="aliado">
            <img src="../../../assets/images/aliados/dislicores.jpg" alt="">
            <p><b>20%</b> de descuento en licores, licor en consignación y entrega en el lugar de la fiestas.</p>
          </div>
          <div class="aliado">
            <img src="../../../assets/images/aliados/elisa.jpg" alt="">
            <p><b>20%</b> de descuento en pastelería para el día de la celebración.</p>
          </div>
          <div class="aliado">
            <img src="../../../assets/images/aliados/esposa.jpg" alt="">
            <p>Descuento de <b>$200.000</b> en renta y <b>$300.000</b> en compra de vestido de novia.</p>
          </div>
          <div class="aliado">
            <img src="../../../assets/images/aliados/maquillaje.jpg" alt="">
            <p><b>10%</b> de descuento en maquillaje y peinado para la novia y 10% de descuento en maquillaje de invitados que compren el regalo en Matisses.</p>
          </div>
          <div class="aliado">
            <img src="../../../assets/images/aliados/pilar.jpg" alt="">
            <p><b>10%</b> de descuento en tratamientos faciales para novios e invitados que compren el regalo en Matisses.</p>
          </div>
          <div class="aliado">
            <img src="../../../assets/images/aliados/radacasab.jpg" alt="">
            <p><b>30%</b> de descuento en tratamientos corporales y membresía V.I.P.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
