<matisses-header></matisses-header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="banner-01"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="registro">
                <p class="baskerville">!Simplifica la boda de tus novios!</p>
                <button class="btn btn-registrate" (click)="irALogin()">Registrate</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="banner-02"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="baskerville text-center">¿CÓMO SER UN WEDDING PLANNER MATISSES?</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p class="title">Paso 1</p>
                </div>
                <div class="col-sm-9">
                    <p class="text">Regístrate en la plataforma, debes llenar el formulario con todos tus datos personales, con las indicaciones que allí se especifica.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p class="title">Paso 2</p>
                </div>
                <div class="col-sm-9">
                    <p class="text">En el momento que termines de llenar tus datos personales debes cargar algunos documentos allí requeridos, espera la confirmación de tu inscripción y comienza a brindar la mejor experiencia Matisses.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<matisses-footer></matisses-footer>