<matisses-header></matisses-header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="../../../../assets/images/planner.jpg" class="jpg-responsive" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="registro">
                <p class="baskerville">!Simplifica la boda de tus novios!</p>
                <button class="btn btn-registrate"  (click)="irALogin()">Registrate</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <img src="../../../../assets/images/planner-02.jpg" class="jpg-responsive" alt="">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="baskerville text-center">¿CÓMO SER UN WEDDING PLANNER MATISSES?</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p class="title">Paso 1</p>
                </div>
                <div class="col-sm-9">
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatem quasi excepturi ducimus ab aut
                        consequuntur perferendis ratione! Libero, ipsam vero dolor cupiditate aliquam repudiandae dolore
                        voluptas accusantium eum nulla.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p class="title">Paso 2</p>
                </div>
                <div class="col-sm-9">
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatem quasi excepturi ducimus ab aut
                        consequuntur perferendis ratione! Libero, ipsam vero dolor cupiditate aliquam repudiandae dolore
                        voluptas accusantium eum nulla.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p class="title">Paso 3</p>
                </div>
                <div class="col-sm-9">
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatem quasi excepturi ducimus ab aut
                        consequuntur perferendis ratione! Libero, ipsam vero dolor cupiditate aliquam repudiandae dolore
                        voluptas accusantium eum nulla.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <p class="title">Paso 4</p>
                </div>
                <div class="col-sm-9">
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatem quasi excepturi ducimus ab aut
                        consequuntur perferendis ratione! Libero, ipsam vero dolor cupiditate aliquam repudiandae dolore
                        voluptas accusantium eum nulla.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<matisses-footer></matisses-footer>
