<div class="barra-fondo hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="light">Conoce nuestras <b>nuevas colecciones</b></h2>
      </div>
      <div class="col-xs-6 text-right">
        <div class="search-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn icon-search" type="button"><span class="icon-mail"></span></button>
            </span>
            <input type="text" class="buscar" placeholder="Buscar">
            <span class="input-group-btn">
              <button class="btn suscribete" type="button">Suscribete</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
