<menu-lista></menu-lista>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        <p>{{messageError}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-success" role="alert">
        <p>{{messageExit}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row">
                <div class="col-md-12">
                  <span class="iconchat glyphicon glyphicon-earphone"></span>
                  <p class="title"><b>Línea gratuita nacional</b><br>01 8000 410044</p>
                </div>
              </div>
              <div class="row">
                <div class="info">
                  <div class="col-xs-12">
                    <h5><b>Av. Las vegas - Medellín</b></h5>
                    <p><span class="glyphicon glyphicon-map-marker"> </span> Calle 52 sur # 44 - 65 Medellín</p>
                    <p><span class="glyphicon glyphicon-earphone"> </span> (574) 444 04 34</p>
                    <p><span class="icon-clock"> </span> Lunes a Sábado 10:00 - 19:00 <br> Domingo y Festivos 11:00 - 19:00</p>
                    <hr/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 border-left">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <p>Escribenos.</p>
              <br/>
              <form id="form_contact">
                <div class="row">
                  <div class="col-xs-12">
                    <label for="name">Nombre*</label>
                    <input id="name" type="text" class="input-matisses" [class.required-field]="!valid" name="firstName" [(ngModel)]="firstName" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <label for="mail">E-mail*</label>
                    <input id="mail" type="mail" class="input-matisses" [class.required-field]="!valid" name="mail" [email]="true" [(ngModel)]="mail" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <label for="cel">Celular</label>
                    <input id="cel" type="tel" class="input-matisses" name="cellular" [(ngModel)]="cellular">
                  </div>
                  <div class="col-xs-6">
                    <label for="tel">Teléfono</label>
                    <input id="tel" type="tel" class="input-matisses" name="phone" [(ngModel)]="phone">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <label for="asunto">Asunto*</label>
                    <input id="asunto" type="text" class="input-matisses" [class.required-field]="!valid" name="subject" [(ngModel)]="subject" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <label for="mensaje">Mensaje*</label>
                    <textarea id="mensaje" rows="5" cols="1" class="input-matisses" [class.required-field]="!valid" name="message" [(ngModel)]="message" required></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button class="btn-enviar" type="submit" name="enviar">
                      Enviar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        <p>{{messageError}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-success" role="alert">
        <p>{{messageExit}}</p>
      </div>
    </div>
  </div>
</div>
