<div class="container-fluid padding-0">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-banner-principal" class="carousel slide" data-ride="carousel" data-interval="1000000">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-banner-principal" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-banner-principal" data-slide-to="1"></li>
          <li data-target="#carousel-banner-principal" data-slide-to="2"></li>
          <li data-target="#carousel-banner-principal" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <slide-1></slide-1>
          </div>
          <div class="item">
            <slide-4></slide-4>
          </div>
          <div class="item">
            <slide-2></slide-2>
          </div>
          <div class="item active">
            <slide-3></slide-3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row hidden-xs">
    <div class="col-xs-12">
      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{group: '037', brand: '0020'}">
        <div class="principal-03">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="text-03 text-center">
                  <img src="assets/images/logo_voluspa.png" alt="">
                  <p class="titulo">Un mundo de aromas<br/><b>para tu hogar</b></p>
                  <p class="btn-comprar">
                    Ir a comprar
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
