<div class="container padding-0">
  <div class="row">
    <div class="col-xs-12">
      <div class="principal-01" [routerLink]="['/categoria']" [queryParams]="{brand: '0026', collection: 'Nizza'}">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-01 text-center">
                <p>NUEVA COLECCIÓN</p>
                <h2>Nizza</h2>
                <p class="precio">Artículos desde $ 3.120.000</p>
                <p class="btn-banner01">
                  IR A COMPRAR
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="container">
  <div class="row">

    <div class="col-sm-3 col-xs-6 text-center">
      <div class="recomendaciones">
        <p class="name">Set de 2 nocheros<br><b>Nizza</b></p>
        <img src="https://www.matisses.co/modules/matisses/files/24400000000000000066/parrilla/24400000000000000066_04.jpg" class="img-responsive" alt="Nochero de la Colección Nizza de la marca ALF">
        <p class="precio"><b>$ 3.120.000</b></p>
        <button type="submit" class="ir-comprar pull-bottom" name="comprar-ya" [routerLink]="['/producto', 2440066]">Ir a comprar</button>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6 text-center">
      <div class="recomendaciones">
        <p class="name">Cómoda en madera<br><b>Nizza</b></p>
        <img src="https://www.matisses.co/modules/matisses/files/24400000000000000047/parrilla/24400000000000000047_03.jpg" class="img-responsive" alt="Cómoda de la Colección Nizza de la marca ALF">
        <p class="precio"><b>$ 3.660.000</b></p>
        <button type="submit" class="ir-comprar pull-bottom" name="comprar-ya" [routerLink]="['/producto', 2440047]">Ir a comprar</button>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="sub-banner">
        <div class="mensaje hidden-xs">
          <p>Siéntete a gusto<br><b>con tu dormitorio</b></p>
          <img src="assets/images/logo_alf.png" alt="Cama de la Colección Nizza de la marca ALF">
        </div>
        <img src="assets/images/banner/banner-03.jpg" class="img-responsive" alt="">
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="sub-banner-footer">
            <p>Cama extradoble <b>$ 5.090.000</b></p>
            <button type="submit" class="ir-comprar" name="comprar-ya" [routerLink]="['/producto', 2440044]">Ir a comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-xs-12">
      <div class="principal-03" [routerLink]="['/producto', 2310184]">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="text-03">
                <p class="titulo">CACEROLA <br/> <b>Gourmet plus</b></p>
                <p>COMPRA YA <span class="glyphicon glyphicon-menu-right"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
