.down {
  position: absolute;
  top: 70%;
  padding: 10px 30px;
  background-color: #ECECEC;
  color: #5B5B5B;
  cursor: pointer;
  z-index: 2;
  border-radius: 15px;
  left: 40%;
  display: none;
}

.sub-banner p {
  margin-top: 15px;
}

.compra-ya {
  border: 1px solid #5B5B5B;
  cursor: pointer;
  color: #65092d;
  padding: 5px 10px;
  font-weight: 700;
  background-color: transparent;
  margin-bottom: 20px;
}

.compra-ya:hover {
  background-color: #EDEDED;
}

.principal-01 {
  background: url(../../../assets/images/banner/banner-movil.jpg) no-repeat center top;
  margin-top: 0px;
  padding-top: 10px;
  background-attachment: relative;
  background-position: right bottom;
  min-height: 450px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #747c79;
}

.principal-03 {
  background: url(../../../assets/images/banner/banner-044.jpg) no-repeat center top;
  margin-top: 0px;
  background-attachment: relative;
  background-position: right center;
  min-height: 555px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  color: #747c79;
}

.text-03 {
  color: #FFF;
  font-size: 30px;
  margin-top: 15%;
  background-color: rgba(24, 24, 24, 0.5);
  width: 40%;
  padding: 50px;
}

.titulo {
  font-size: 50px;
  line-height: 50px;
}

.titulo::before {
  content: '- ';
  position: absolute;
  bottom: 50px;
  height: 8px;
  width: 65px;
  color: transparent;
  background-color: #FFF;
}

@media screen and (max-width: 1200px) {
  .text-03 {
    font-size: 25px;
    padding: 30px;
  }
  .titulo {
    font-size: 40px;
    line-height: 40px;
  }
  .titulo::before {
    height: 5px;
    bottom: 35px;
    width: 55px;
  }
}

@media screen and (max-width: 991px) {
  .principal-03 {
    min-height: 400px;
  }
  .principal-01 {
    min-height: 300px;
  }
  .text-03 {
    width: 50%;
  }
}

@media screen and (max-width: 707px) {
  .principal-03 {
    background-position: right;
    min-height: 280px;
  }
  .principal-01 {
    min-height: 300px;
  }
  .text-03 {
    font-size: 20px;
    margin-top: 5%;
    width: 100%;
    background-color: transparent;
  }
  .titulo {
    font-size: 20px;
    line-height: 20px;
  }
  .titulo::before {
    bottom: 40px;
    height: 4px;
    width: 50px;
  }
}

@media screen and (max-width: 500px) {
  .principal-01 {
    min-height: 200px;
  }
}

@media screen and (max-width: 414px) {
  .principal-01 {
    min-height: 415px;
  }
  .padding-0 {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  .sub-banner {
    border: 1px solid #EDEDED;
    margin-bottom: 10px;
  }
  .sub-banner p {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .sub-banner button {
    margin-bottom: 15px;
  }
  .down {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .principal-01 {
    min-height: 370px;
  }
}

@media screen and (max-width: 320px) {
  .principal-01 {
    min-height: 240px;
  }
}
