.padding-0 {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.principal-03 {
  background: url(../../../assets/images/banner/banner-04.jpg) no-repeat center top;
  margin-top: 0px;
  background-attachment: relative;
  background-position: right center;
  min-height: 430px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: cover; */
  color: #747c79;
  cursor: pointer;
}

.text-03 {
  color: #9C8D7A;
  font-size: 30px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 45%;
  padding: 20px;
}

.titulo {
  font-size: 50px;
  line-height: 50px;
}

.titulo::before {
  content: '- ';
  position: absolute;
  bottom: 25px;
  height: 5px;
  width: 65px;
  color: transparent;
  background-color: #9C8D7A;
}

@media screen and (max-width: 1200px) {
  .text-03 {
    font-size: 25px;
    padding: 30px;
  }
  .titulo {
    font-size: 40px;
    line-height: 40px;
  }
  .titulo::before {
    height: 5px;
    bottom: 35px;
    width: 55px;
  }
}

@media screen and (max-width: 991px) {
  .principal-03 {
    min-height: 300px;
  }
  .text-03 {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .principal-03 {
    background-position: right;
    min-height: 280px;
  }
  .text-03 {
    font-size: 20px;
    margin-top: 5%;
    width: 100%;
    background-color: transparent;
  }
  .titulo {
    font-size: 20px;
    line-height: 20px;
  }
  .titulo::before {
    bottom: 40px;
    height: 4px;
    width: 50px;
  }
}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}
