<div class="row">
  <div class="col-sm-12">
    <img src="../../../assets/images/blog/aromas-que-transportan.jpg" class="jpg-responsive" alt="">
    <div class="row">
      <div class="col-xs-12">
        <br>
        <p class="text-justify">Al cerrar nuestros ojos y oler ciertos aromas nos transportamos a momentos que nos hacen recordar vivencias, o simplemente
          lo relacionamos con lugares que transmiten ciertas características.
          <br>
          <br>Hay unos olores más fuertes que otros, algunos más cítricos, otros más dulces, otros neutros, es según los gustos,
          que tenemos una inclinación a ciertos olores, ya que juegan un papel crucial en nuestra decisión para aromatizar
          un lugar.
          <br>
          <br>La marca Voluspa nos sorprende con sus aromas arriesgados y mezclas únicas, que crean historias por medio de olores
          que impactan.
          <br>
          <br>El aroma de la vela
          <b>Proseco Rose</b>, basado en prosecco espumoso rosado y pétalos de rosa, crean esa mezcla de romanticismo misterioso
          icónico de París, donde juega el toque femenino que crea calidez y elegancia.
          <br>
          <br>Para aquellos que poseen un estilo playero, el aroma de
          <b>Casa Pacifica</b> transporta a esa brisa del mar, con sal marina y madera de california, que recrean esa alma playera
          que siempre busca en el océano la calma.
          <br>
          <br>Un aroma más neutro pero que recrea la calma representada gracias a las orquídeas, es la fragancia
          <b>Mokara</b> que nos transporta a Tailandia, ya que su componente es una flor que crece allí principalmente, además
          de transmitir un entorno natural con la tranquilidad que esto genera.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="https://img.matisses.co/24100000000000000082/images/24100000000000000082_01.jpg" class="jpg-responsive" alt="">
        <p class="text-center">
          <button class="btn-blog" [routerLink]="['/producto/2410082']">Ver vela</button>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="https://img.matisses.co/24100000000000000070/images/24100000000000000070_01.jpg" class="jpg-responsive" alt="">
        <p class="text-center">
          <button class="btn-blog" [routerLink]="['/producto/2410070']">Ver vela</button>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-justify">Si buscamos olores más fuertes y arriesgados la vela
          <b>incognito</b>, nos transporta al misterio del medio oriente, ya que fusiona ingredientes como el ámbar y la madera,
          generando olores que son característicos de este lugar.
          <br>
          <br>
          <b>Crame flower</b> por otra parte es una fragancia que representa la mezcla de ingredientes fuertes y dulces, generando
          un aire clásico con una combinación arriesgada que nos lleva a España donde se fusiona lo tradicional y moderno.
          <br>
          <br>Para quienes les gusta las fragancias más cítricas con toques naturales como las bayas esta
          <b>Santiago huckleberry</b>, una fragancia que envuelve la vibra natural con la tranquilidad, que nos transporta a
          los bosques de Oregón donde hay un gran variedad de elementos que se fusionan en el ambiente.
          <br>
          <br>Si de crear un ambiente más veraniego en nuestros espacios se trata, el aroma de
          <b>bourbon vanille</b> nos transporta a esos momentos en la playa, en una isla paradisiaca como isla mujeres, donde
          se mezcla la brisa del mar con ese ambiente ligero.
          <br>
          <br>
          <b>Makassar ebon&pech</b>, es una fragancia inspirada en los destellos de oro, con fragancia de madera, y flores de
          manzana, que llevan a un espacio clásico como Italia, donde se fusionan esos aromas naturales frescos con algunos
          más fuertes.
          <br>
          <br>La fragancia
          <b>Goji toroco</b> orange inspira la armonía de espacios sobrios, con mezclas frutales, que nos lleva a un ambiente
          asiático exclusivamente a Japón, donde la cultura y la fluidez de los espacios van perfecto con esta fragancia.
          <br>
          <br>En Matisses encontraras un aroma que te identifique y te transporte a un lugar lleno de olores característicos
          que darán un toque especial en tus espacios.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="https://img.matisses.co/24100000000000000064/images/24100000000000000064_01.jpg" class="jpg-responsive" alt="">
        <p class="text-center">
          <button class="btn-blog" [routerLink]="['/producto/2410064']">Ver vela</button>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="https://img.matisses.co/24100000000000000052/images/24100000000000000052_01.jpg" class="jpg-responsive" alt="">
        <p class="text-center">
          <button class="btn-blog" [routerLink]="['/producto/2410052']">Ver vela</button>
        </p>
      </div>
    </div>
  </div>
</div>