<div class="container">
    <!-- logo -->
    <div class="row">
        <div class="col-xs-12">
            <div class="logo">
                <span class="icon-matisses"></span>
            </div>
        </div>
    </div>
    <!-- header -->
    <div class="row">
        <div class="col-xs-12">
            <div class="header">
                <span class="icon-ok"></span>
                <p>Has aceptado los siguientes beneficios y cláusulas.</p>
            </div>
        </div>
    </div>
    <!-- body text -->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <p class="text-title">
                CONDICIONES PARA
                <br>DECORADORES EXTERNOS
            </p>
            <div class="text">
                <ul>
                    <li>Es de carácter obligatorio que cuando el cliente se disponga a comprar este presente el decorador para
                        dar su código.</li>
                    <li>Si el cliente cancela con tarjetas independiente que sea débito o crédito se pagará la comisión del
                        <b>5%</b>
                        del valor de la factura antes de IVA.</li>
                    <li>Si el cliente cancela con efectivo o cheque se le pagara comisión del
                        <b>10%</b> de la factura antes de IVA.</li>
                    <li>Solo se cancela comisiones en las facturas que estén relacionados con el código del decorador o su nombre,
                        de no ser así no se tomará en cuenta para dicha comisión.</li>
                    <li>Si al trascurso de seis meses no hace uso del código a partir de esa fecha se pagará la mitad del porcentaje
                        de la comisión es decir: si cancelan con tarjeta independiente que sea débito o crédito se pagará
                        el
                        <b>2.5%</b> de la factura antes de IVA, si cancelan en efectivo se cancelará el
                        <b>5%</b> de la factura antes de IVA. Si pasa un año sin usar el código se deshabilitará y tendrían
                        que pasar proceso nuevamente.</li>
                    <li>El decorador debe de pasar una cuenta de cobro relacionando los números de facturas y a nombre de quien
                        están las facturas.</li>
                </ul>
                <p>* Sobre las comisiones se efectúan las deducciones pertinentes, retefuente, rete IVA, rete ICA, si se cumple
                    la base.</p>
                <p>Te enviaremos al correo toda la documentación junto con tu código para que comiences a disfrutar los beneficios
                    de esta alianza.</p>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="row">
        <div class="col-xs-12">
            <div class="bg-grey">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <p>Si tienes alguna duda comunicate con nosotros.</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <p>
                                    <span class="icon-phone-01"></span> Línea gratuita Nacional 01 8000 410044</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>