<matisses-header></matisses-header>

<div sticky-body>

  <div class="container padding-top">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="active">Trabaja con nosotros</li>
        </ol>
      </div>
    </div>
    <div class="portada"></div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3 class="text-center">Sé parte del equipo que trabaja día a día para hacer realidad el sueño de hogares llenos de diseño.</h3>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Matisses es una empresa comprometida con el desarrollo personal. Buscamos seleccionar personas con talento, que actúen con pasión  promoviendo cada día un ambiente laboral apropiado para trabajar en equipo.</p>
        <p>Por estas razones, si quieres hacer parte de esta experiencia, te invitamos a enviarnos tu hoja de vida al correo <a href="mailto:recursoshumanos@matisses.co">jobs@matisses.co</a></p>
      </div>
    </div>
  </div>


</div>
<newsletter></newsletter>
<matisses-footer></matisses-footer>
