<matisses-header></matisses-header>

<div sticky-body>

  <div class="container padding-top">
    <div class="row">
      <div class="col-xs-12">
        <h1>Preguntas frecuentes</h1>
        <p>Para más información del sitio <a href="http://www.matisses.co/">Matisses.co</a>, lee atentamente las siguientes preguntas comunes:<br><br></p>
        <!-- <h4>¿Cómo crear una cuenta en Matisses.co?<br><br></h4>
        <p>Crea una cuenta en la casilla superior derecha <a href="http://www.matisses.co/inicio-sesion?back=my-account" target="_blank">INGRESAR</a> o conéctate desde <a href="http://www.matisses.co/inicio-sesion?back=my-account" target="_blank">Facebook</a>,
          ingresa cuantas veces quieras con tu usuario y clave personal. Aquí puedes tener todo tu historial de compras y realizar un seguimiento a los diferentes&nbsp;<a href="http://www.matisses.co/inicio-sesion?back=my-account" target="_blank">procesos de entrega y garantía.<br><br></a></p>
        <h4>¿Cómo cambio mi contraseña?<br><br></h4>
        <ul>
          <li><a href="http://www.matisses.co/inicio-sesion?back=my-account" target="_blank">Inicia sesión</a> en <a href="http://www.matisses.co/">Matisses.co</a></li>
          <li>Dirígete a Mi cuenta y haz clic en la casilla Cambiar la configuración de cuenta ubicada en la opción Ajustes de cuenta</li>
          <li>Ingresa tu clave actual en la casilla *contraseña actual</li>
          <li>Ingresa tu clave nueva en la casilla *nueva contraseña</li>
          <li>Confirma tu nueva clave</li>
          <li>Haz clic en el botón guardar<br><br></li>
        </ul> -->
        <h4>¿Cómo comprar en <a href="http://www.matisses.co/">Matisses.co</a>?<br><br></h4>
        <ol>
          <li>Ingresa a tu cuenta personal en <a href="http://www.matisses.co/">Matisses.co</a>, busca lo que más te guste, y elige el producto que deseas, luego haz clic en el botón COMPRAR AHORA.<br><br></li>
          <li>Dirígete al <a href="http://www.matisses.co/resumen-carrito" target="_blank">Carro de Compra</a>, y verifica que los productos sean los correctos. Luego da clic en el botón confirmar compra. Continua rectificando tus datos personales, revalidando que
            la dirección de entrega y facturación sean las correctas.<br><br></li>
          <li>Elige la forma de entrega que se acomode a tus necesidades. Recuerda que para poder continuar con la compra, debes aceptar <a href="http://www.matisses.co/terminos-y-condiciones" target="_blank">Términos y Condiciones.<br><br></a></li>
          <li>Para finalizar tú compra, haz clic en el enlace de PlaceToPay; selecciona tu medio de pago y procede con la compra.<br><br></li>
        </ol>
        <h4>¿Qué hace Place To Pay?<br><br></h4>
        <p>Es una plataforma virtual que permite realizar pagos por internet en Colombia, de forma segura y confiable, funcionando como un datafono virtual que permite recaudar pagos y recibir facturas a través de tarjetas de crédito y débito en internet.
          Para más información visita <a href="https://www.placetopay.com/" target="_blank">www.placetopay.com</a><br><br></p>
        <h4>¿Qué medios de pago utiliza Place To Pay?<br><br></h4>
        <p>El datáfono virtual <a href="https://www.placetopay.com/" target="_blank">Place To Pay</a> ofrece débitos PSE con 18 entidades financieras de cuenta corriente y de ahorro.<br><br></p>
        <p>Además recibe las diferentes tarjetas de crédito nacional e internacional:<br><br></p>
        <ul>
          <li>Visa (nacional e internacional)</li>
          <li>MasterCard (nacional e internacional)</li>
          <li>American Express (nacional e internacional)</li>
          <li>Diners Club (nacional e internacional)</li>
          <li>Credencial (nacional)</li>
          <li>Tarjeta Éxito (nacional)</li>
          <li>Verified by VISA</li>
          <li>MasterCard Secure Code<br><br></li>
        </ul>
        <h4>No puedo registrar mi tarjeta crédito/débito ¿Qué debo hacer?<br><br></h4>
        <p>Rectifica que los datos de tu tarjeta crédito/débito estén correctamente, incluyendo nombre y apellidos, número de tarjeta, fecha de validez, y código de seguridad si es necesario.<br><br></p>
        <p>Si la compra se realizó con tarjeta débito es necesario contar con segunda clave (para consultar esta información debes comunicarte con tu entidad bancaria). En caso de no tener los anteriores inconvenientes mencionados, puedes comunicarte a través
          de nuestra línea de Servicio al cliente 018000 410044 (horario de lunes a viernes de 9:30 am a 12:30 p.m. y de 1:30 p.m a 5:00 p.m.) o por correo electrónico <a href="mailto:servicioalcliente@matisses.co">servicioalcliente@matisses.co</a>, para
          un mayor soporte en la realización de tu compra.<br><br></p>
        <h4>¿Qué debo hacer si realicé mi pedido y aún no recibo confirmación?<br><br></h4>
        <p>Si ya terminaste de realizar el pedido y no recibiste confirmación, dirígete a la casilla Mis Compras de tu cuenta personal y observa el estado del pedido del producto Matisses que se añadió al carro de compra. En caso de aparecer la casilla vacía
          o transacción fallida, comunícate con nuestra línea de servicio al cliente 01 8000 41 00 44 (horario de lunes a viernes de 9:30 am a 12:30 p.m. y de 1:30 p.m. a 5:00 p.m.) o por correo electrónico <a href="mailto:servicioalcliente@matisses.co">servicioalcliente@matisses.co</a>.<br><br></p>
        <p>Recuerda que el tiempo de envío del correo de confirmación dependerá del método de pago que hayas utilizado.<br><br></p>
        <h4>¿Puedo comprar en un país diferente a Colombia?<br><br><strong></strong></h4>
        <p>Actualmente no tenemos logística de envío a otros países, por lo tanto la compra en <a href="http://www.matisses.co/">Matisses.co</a> aplica solo y únicamente para Colombia. Por otra parte, si quieres comprar desde otro país, escríbenos a <a href="mailto:servicioalcliente@matisses.co">servicioalcliente@matisses.co</a>          y te contactaremos a la mayor brevedad.<br><br></p>
        <h4>¿Cuál es el tiempo de envío del producto?<br><br></h4>
        <p>El tiempo de envió se realiza dependiendo de la ubicación geográfica en donde se efectúa la entrega. Todos los pedidos aplican únicamente para el territorio nacional colombiano. Exceptuando San Andrés y Providencia<br><br></p>
        <p>En caso de que la entrega se solicite en una población de acceso fluvial, Matisses solo se compromete en entregar el producto hasta alguno de los puertos del territorio nacional.<br><br></p>
        <h4>¿Cuál es el costo del envío?<br><br></h4>
        <p>El costo del envío depende de las dimensiones que componen el producto y de la distancia en la que se encuentra la dirección de entrega.<br><br></p>
        <!-- <h4>¿Cómo hago seguimiento a mi pedido?<br><br></h4>
        <p>Realiza el seguimiento de tu pedido en el sitio <a href="http://www.matisses.co/">Matisses.co</a> ingresando a tu cuenta personal junto con tus datos de acceso, o conéctate desde <a href="http://www.matisses.co/inicio-sesion?back=my-account" target="_blank">Facebook</a>.<br><br></p>
        <p>En la parte inferior derecha de tu cuenta personal, encuentra la casilla Mis Entregas, haz clic y conoce el estado actual en el que se encuentra el envío de tu compra.<br><br></p> -->
        <h4>¿Qué debo hacer si no estaba en el momento de la entrega?<br><br></h4>
        <p>Matisses realiza una notificación telefónica u escrita, para programar la entrega del producto (mueble y/o accesorio). En caso de que nuestro cliente no esté en el momento de la entrega, se realiza una reprogramación del envío, teniendo en cuenta
          que ésta tiene un costo adicional para el cliente.<br><br></p>
        <h4>¿Cómo se debe pagar el nuevo envío si pierdo mi entrega?<br><br></h4>
        <p>Con servicio al cliente podrás reprogramar la fecha de entrega de tu producto Matisses, además se te informarán los pasos a seguir para realizar el pago del nuevo envío. Para más información comunícate con nuestra línea de servicio al cliente
          018000 410044(horario de lunes a viernes de 9:30 am a 12:30 p.m. y de 1:30 p.m. a 5:00 p.m.) o por correo electrónico <a href="mailto:servicioalcliente@matisses.co">servicioalcliente@matisses.co</a>.<br><br><br><br></p>
        <h3>Garantía<br><br></h3>
        <!-- <h4>¿Cómo realizo el proceso de garantía online?<br><br></h4>
        <p>Ingresa a tu cuenta personal del sitio <a href="http://www.matisses.co/">Matisses.co</a>, con el usuario y contraseña que utilizaste para realizar la compra, o conéctate a través de <a href="http://www.matisses.co/inicio-sesion?back=my-account"
            target="_blank">Facebook</a>.<br><br></p>
        <p>Una vez realizado el anterior paso, en el menú Mi Cuenta, encuentra la casilla Mis Garantias; aquí te aparece un listado con todos los productos adquiridos en el último año, junto con el menú desplegable en donde se localiza la opción Garantía.
          Haz clic y continúa.<br><br></p> -->
        <p><strong>Anotación:</strong> recuerda que los productos solo los cubre un (1) año de garantía.<br><br></p>
        <!-- <h4>¿Cómo hago seguimiento de mi garantía?<br><br></h4>
        <p>Una vez hayas ingresado a tu cuenta personal junto con tus datos de acceso, estarás en el menú Mi Cuenta, donde se encuentra la casilla Mis Garantías/Estado de garantías. En este espacio se da a conocer el estado actual en el que se encuentra
          el producto Matisses que se registró inicialmente en Iniciar nueva garantía, por la opción Mis Garantías del menú Mi cuenta.<br><br></p>
        <h4>¿Qué significan los diferentes estados en MIS GARANTÍAS?<br><br></h4>
        <p>Los estados te informan sobre la condición actual de garantía en la que se encuentra el producto (mueble y/o accesorio).<br><br></p>
        <p><strong>Solicitud: </strong>Es el estado inicial y aparece durante el tiempo en que un asesor se comunica con el cliente.</p>
        <p><strong>Programación:</strong> Se establece visita al cliente para valorar producto (mueble y/o accesorio).</p>
        <p><strong>Ajustes:</strong> El producto (mueble y/o accesorio) se encuentra en proceso de reparación.</p>
        <p><strong>Solucionado:</strong> El producto (mueble y/o accesorio), ya tiene los ajustes necesarios.</p>
        <p><strong>Entrega:</strong> El producto (mueble y/o accesorio), está siendo entregado al cliente.<br><br></p> -->
        <h4>¿En qué casos tengo derecho a exigir garantía?<br><br></h4>
        <p>Según los términos y condiciones legales que cubren el proceso de la garantía del producto, tienes derecho a la misma, si el mueble u accesorio se encuentra dentro del periodo de garantía, y si las condiciones de éstos aplican dentro de los estatutos
          de garantía de Matisses. Haga clic aquí en <a href="http://www.matisses.co/garantias/nueva" target="_blank">Garantías</a>.<br><br></p>
        <h4>¿Cuándo se pierde la garantía de mi producto?<br><br></h4>
        <p>Cuando se usa inadecuadamente el mueble u accesorio, y se le da un uso diferente para el que fue diseñado.<br><br></p>
        <p>En el caso de muebles u accesorios que requieran de conexión eléctrica, la garantía no aplica por fallas del voltaje generadas por descargas eléctricas, rayos, o similares.<br><br></p>
        <p>La garantía no cubre un daño realizado por un tercero No Autorizado por el proveedor, que repare el mueble y/o accesorio.<br><br></p>
        <p>La garantía no cubre cuando el número de serie o modelo del artículo sufre alteraciones o enmendaduras u otras causas creadas por el dueño final del producto.<br><br></p>
        <h4>¿Cuál es el cuidado ideal para que mis muebles Matisses duren más tiempo?<br><br></h4>
        <p>Para que tus muebles duren más tiempo y permanezcan en perfecto estado, realiza una limpieza periódica, y protege tus muebles y/o accesorios de los rayos UV y del contacto directo con el agua.<br><br></p>
        <h4>¿Cómo funciona el asesor en línea?<br><br></h4>
        <p>Haz clic en la casilla <a id="lhnHelp-faqs" href="#">chat en línea</a>, luego escribe tu nombre e inicia la conversación con un asesor.<br><br></p>
        <p>Podrás pedir información, realizar sugerencias o reclamos, y demás servicios que necesites en directo, con un asesor que se encuentra disponible de lunes a sábado de 7:00 a.m. a 5:00 p.m.<br><br></p>
        <h4>¿Cómo me comunico con una tienda Matisses?<br><br></h4>
        <p>En el menú principal desplázate a <a href="http://www.matisses.co/tiendas" target="_blank">Tiendas</a>; aquí encuentras dirección, horarios y teléfonos de cada una de nuestras tiendas. También puedes escribirnos a <a href="mailto:tiendas@matisses.co">tiendas@matisses.co</a>.</p>
      </div>
    </div>
  </div>

</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
