<matisses-header></matisses-header>

<div sticky-body>
  <div class="container-fluid padding-0">
    <div class="row">
      <div class="col-xs-12">
        <div id="carousel-vajillas" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-vajillas" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-vajillas" data-slide-to="1"></li>
            <li data-target="#carousel-vajillas" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div class="item active">
              <img src="assets/images/vajillas/01.png" class="img-responsive" alt="">
            </div>

            <div class="item">
              <img src="assets/images/vajillas/02.png" class="img-responsive" alt="">
            </div>

            <div class="item">
              <img src="assets/images/vajillas/03.png" class="img-responsive" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="mostrar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{itemsXPag}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a></li>
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a></li>
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a></li>
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="ordenar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span [innerHTML]="orderByStr">
                    </span><span class="caret"></span>
                </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li><a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <ul class="pagination">
          <li (click)="irAPagina(activePage - 1)">
            <a href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
              </a>
          </li>
          <li><a href="javascript:void(0)" (click)="irAPagina(page)">{{page}}</a></li>
          <li (click)="irAPagina(activePage + 1)">
            <a href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-4" *ngFor="let item of items">
        <div class="col-sm-12 col-xs-2 inline-block">
          <div class="producto">
            <div class="row">
              <div class="col-xs-12">
                <img src="https://img.matisses.co/{{item.itemcode}}/images/{{item.itemcode}}_01.jpg" class="img-responsive" alt="">
              </div>
            </div>
            <div class="info">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <p>{{item.itemname}}</p>
                  <button type="button" name="button" class="btn-coleccion" data-toggle="collapse" data-target="#" aria-expanded="false" aria-controls="">Ver Colección</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="collapse" id="">
            <div class="well">
              ...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<newsletter></newsletter>
<matisses-footer></matisses-footer>
