.jpg-responsive {
  width: 100%;
  height: 100%;
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.overflow-h {
  overflow: hidden;
  cursor: pointer;
}

.name-coleccion {
  display: none;
}

.overflow-h:hover>.name-coleccion {
  display: block;
  position: absolute;
  text-align: center;
  background-color: #0000005e;
  color: #FFF;
  font-size: 25px;
  width: 92%;
  height: 100%;
  padding-top: 40%;
}

.back-01 {
  background-color: #E2E2E2;
  padding-bottom: 25px;
  margin-top: 30px;
}

.title {
  height: 200px;
}

.title-seccion {
  font-size: 31px;
  position: relative;
  top: 60px;
  color: #5B5B5B;
}

.title-seccion::after {
  content: ' ';
  position: absolute;
  left: 47%;
  width: 50px;
  height: 2px;
  background-color: #000;
  bottom: -10px;
}

.sub-title-seccion {
  position: relative;
  top: 65px;
  font-weight: bold;
  font-size: 15px;
}

.recomendaciones {
  border: 1px solid #FFF;
  color: #5B5B5B;
  margin-top: 15px;
}

.recomendaciones:hover {
  border: 1px solid #d1d1d1;
}

.recomendaciones .name {
  text-align: center;
  margin-top: 15px;
  font-size: 17px;
}

.recomendaciones .name-carousel {
  text-align: center;
  margin-top: 15px;
  height: 35px;
}

.recomendaciones .precio {
  margin-top: 30px;
  font-size: 20px;
}

.pull-bottom {
  position: relative;
  bottom: 0px;
  margin-top: 11px;
}

.ir-comprar {
  border: none;
  cursor: pointer;
  color: #FFF;
  padding: 5px 20px;
  background-color: #7C7C7C;
}

.ir-comprar:hover {
  background-color: #6D9791;
}

.ir-comprar-carousel {
  cursor: pointer;
  color: #5B5B5B;
  padding: 5px 20px;
  border: 1px solid #7C7C7C;
  background-color: #FFF;  
}

/* Estilos carousel */

.slider-asa {
  width: 100%;
  margin-top: 15px;
}

.slider-asa .producto {
  width: 100%;
}

.controllers {
  text-align: center;
}

.right, .left {
  position: absolute;
  margin-top: 6%;
  padding: 55px 5px;
  color: #5B5B5B;
  cursor: pointer;
  display: block;
  z-index: 1;
  background-color: #FFF;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.left {
  left: -10px;
  border-right: 1px solid #ECECEC;
}

.right {
  right: -10px;
  border-left: 1px solid #ECECEC;
}

.right:hover, .left:hover {
  background-color: #ECECEC;
}

.article {
  display: inline-block;
  width: 100%;
  padding: 0px 10px;
  border: 1px solid #FFF;
  padding-bottom: 10px;
  cursor: pointer;
}

.article:hover {
  border: 1px solid #EDEDED;
}

.article .img-producto {
  width: 100%;
}

.btn-carrito {
  font-size: 12px;
  padding: 10px;
  border-radius: 0;
  font-weight: 500;
}

.btn-carrito {
  border: 1px solid #EDEDED;
  background-color: transparent;
  margin-left: 5px !important;
}

.btn-carrito:hover {
  background-color: #6D9791;
  color: #FFF;
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 768px) {
  .name-coleccion {
    width: 88%;
  }
  .right, .left {
    position: absolute;
    margin-top: 15%;
    padding: 10px;
    background-color: #ECECEC;
    color: #5B5B5B;
    cursor: pointer;
    display: block;
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
    z-index: 1;
  }
  .left {
    left: 0;
    border-radius: 0% 30% 30% 0%;
  }
  .right {
    right: 0;
    border-radius: 30% 0% 0% 30%;
  }
  .right:hover, .left:hover {
    padding: 12px;
    background-color: #5B5B5B;
    color: #ECECEC;
  }
}

@media screen and (max-width: 425px) {
  .name-coleccion {
    width: 93%;
  }
  .right, .left {
    margin-top: 30%;
  }
}

@media screen and (max-width: 375px) {
  .name-coleccion {
    width: 92%;
  }
}

@media screen and (max-width: 320px) {
  .name-coleccion {
    width: 91%;
  }
}