<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="title text-center">
                    <h3 class="title-seccion">Para un
                      <b>desayuno perfecto</b>
                    </h3>
                    <p class="sub-title-seccion">Con diseño, innovación y calidad</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 overflow-h">
                  <p class="name-coleccion" [routerLink]="['/categoria']" [queryParams]="{ group: '026' }">Utensilios</p>
                  <img src="../../../../assets/images/secciones/desayunos/utensilios.jpg" class="jpg-responsive" alt="">
                </div>
                <div class="col-sm-4 overflow-h">
                  <p class="name-coleccion" [routerLink]="['/categoria']" [queryParams]="{ group: '029', orderBy: 'price', subgroup: '183', pageSize: '10000' }">Jarras</p>
                  <a href="javascript:void(0)"></a>
                  <img src="../../../../assets/images/secciones/desayunos/jarras.jpg" class="jpg-responsive" alt="">
                </div>
                <div class="col-sm-4 overflow-h">
                  <p class="name-coleccion" [routerLink]="['/categoria']" [queryParams]="{ group: '024', orderBy: 'price', subgroup: '136', pageSize: '10000' }">Mugs</p>
                  <a href="javascript:void(0)"></a>
                  <img src="../../../../assets/images/secciones/desayunos/mug.jpg" class="jpg-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>