<div class="publicidad hidden-xs">
  <p class="uno">HACEMOS REALIDAD </p> <p class="dos"> EL SUEÑO DE UN HOGAR</p>
</div>
<div class="menu-lista">
  <div class="container">
    <div class="row">
      <div class="logo">
        <div class="col-sm-5">
          <span class="icon-matisses"></span>
          <span class="logo-lista">LISTA DE REGALOS</span>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="menu">
              <div class="col-xs-4 menu-item text-left cursor-pointer">Beneficios novios</div>
              <div class="col-xs-5 menu-item text-center border cursor-pointer">Tips para hacer tu lista</div>
              <div class="col-xs-3 menu-item text-right cursor-pointer">Contáctenos</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
