<!-- <div class="publicidad hidden-xs">
  <p class="uno">HACEMOS REALIDAD </p>
  <p class="dos"> EL SUEÑO DE UN HOGAR</p>
</div> -->
<!-- <div class="menu-lista"> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default navbar-matisses navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="cursor-pointer" [routerLink]="['/lista-de-regalos']">
                <span class="icon-matisses"></span>
                <span class="logo-lista">LISTA DE REGALOS</span>
              </div>
              </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-nav-matisses navbar-right">
                <li><a href="javascript:void(0);">Beneficios novios</a></li>
                <li><a href="javascript:void(0);" class="border cursor-pointer" [routerLink]="['/lista-de-regalos/tips']">Tips para hacer tu lista</a></li>
                <li><a href="javascript:void(0);">Contáctenos</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
      </div>
    </div>
  </div>
<!-- </div> -->
