.menu-lista {
  background-color: #FFF;
  margin-bottom: 30px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  margin: 0;
  z-index: 9;
}

.icon-matisses {
  font-size: 30pt;
  display: block;
  margin-top: 30px;
  margin-left: 120px;
}

.logo-lista {
  font-size: 15pt;
  margin-left: 120px;
  display: block;
  color: #DB7D7D;
}

.menu {
  margin-top: 40px;
  border-top: 1px solid #CCC;
}

.menu-item {
  font-size: 12pt;
  margin-top: 10px;
}

.border {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

@media screen and (max-width: 767px) {
  .logo {
    text-align: center;
  }
  .icon-matisses, .logo-lista {
    margin: 0;
  }
  .icon-matisses {
    margin-top: 5px;
  }
  .menu-lista {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    z-index: 9;
  }
}
