<matisses-header></matisses-header>

<div sticky-body>
  <div class="container">
    <div class="contenedor">
      <div class="row">
        <div class="col-xs-12 hidden-xs">
          <img src="../../../assets/images/evento-alf.jpg" class="jpg-responsive" alt="">
        </div>
        <div class="col-xs-12 visible-xs">
          <img src="../../../assets/images/evento-alf-mobile.jpg" class="jpg-responsive" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <p>*Promoción válida hasta agotar existencias.
            <br>*Aplica para un producto en promoción por cada 6 millones comprados en mobiliario.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <div class="recomendaciones">
            <p class="name">COMEDOR 8 PUESTOS
              <br>
              <b>SERENA</b>
            </p>
            <a href="javascript:void(0)" [routerLink]="['/producto', items[0].shortitemcode]">
              <img src="https://img.matisses.co/{{items[0].itemcode}}/parrilla/{{items[0].itemcode}}_01.jpg" class="item-jpg-responsive cursor-pointer"
                alt="{{items[0].itemname}}">
            </a>
            <p class="precio">
              <del>$ {{items[0].priceaftervat | number}}</del>
            </p>
            <p class="descount">
              <b>$ {{items[0].priceaftervat * 0.4 | number}}</b>
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0">
          <div class="recomendaciones">
            <p class="name">CAMA EXTRA DOBLE
              <br>
              <b>SERENA</b>
            </p>
            <a href="javascript:void(0)" [routerLink]="['/producto', items[1].shortitemcode]">
              <img src="https://img.matisses.co/{{items[1].itemcode}}/parrilla/{{items[1].itemcode}}_01.jpg" class="item-jpg-responsive cursor-pointer"
                alt="{{items[1].itemname}}">
            </a>
            <p class="precio">
              <del>$ {{items[1].priceaftervat | number}}</del>
            </p>
            <p class="descount">
              <b>$ {{items[1].priceaftervat * 0.4 | number}}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h3 class="text-center">Condiciones y restricciones:</h3>
          <ul>
            <li>Promoción válida hasta agotar existencias.</li>
            <li>Promoción válida hasta el 30 de mayo de 2018.</li>
            <li>Aplica para un producto en promoción por cada 6 millones comprados en mobiliario.</li>
            <li>No aplica cambios ni devoluciones.</li>
            <li>No acumulable con otras promociones.</li>
            <li>La actividad promocional podría ser extendida en tiempo sin previo aviso.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<newsletter></newsletter>
<matisses-footer></matisses-footer>