<matisses-header></matisses-header>

<div sticky-body>
  <div class="container-fluid padding-0">
    <div class="row">
      <div class="text-mobile">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <p class="uno">COMPRA UN SOFÁ ITALIANO Y</p>
          <h1 class="dos">LLÉVATE UN</h1>
          <p class="tres">COMEDOR SERENA</p>
          <p class="cuatro">CON EL</p>
          <h2 class="cinco">53% OFF</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="javascript:void(0)" [routerLink]="['/producto/2440121']">
          <div class="principal-01">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-md-offset-9 hidden-sm hidden-xs">
                  <div class="text-01 text-center">
                    <p class="uno">COMPRA UN SOFÁ ITALIANO Y</p>
                    <h1 class="dos">LLÉVATE UN</h1>
                    <p class="tres">COMEDOR SERENA</p>
                    <p class="cuatro">CON EL</p>
                    <h2 class="cinco">53% OFF</h2>
                  </div>
                </div>
              </div>
            </div>
            <img src="" alt="">
          </div>
        </a>
      </div>
    </div>
    <div class="container-fluid padding-0">
      <div class="row">
        <div class="col-sm-12">
          <div class="nombre-producto">COMEDOR SERENA | ANTES $ 12.300.000</div>
          <div class="precio-ahora">AHORA $ 5.780.000</div>
          <p class="text-center">Promoción válida del 17 al 30 de Enero de 2018 o hasta agotar existencias. *Aplica para un comedor Serena por cada sofá comprado. No aplica cambio, ni devoluciones. Aplican condiciones y restricciones.</p>
        </div>
      </div>
    </div>
  </div>
  <recommended></recommended>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{group: '005', keywords: 'calia,nicoletti', orderBy: 'price'}">
          <button type="button" class="btn btn-ver-mas" name="button">Ver más</button>
        </a>
      </div>
    </div>
  </div>
</div>
<newsletter></newsletter>
<matisses-footer></matisses-footer>
