<div class="row">
  <div class="col-sm-12">
    <img src="../../../assets/images/blog/calia-soon-01.jpg" class="jpg-responsive" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title-blog">MOBILIARIO ITALIANO</h2>
        <p class="text-justify">Cuando pensamos en proponer nuevos conceptos para nuestro hogar o simplemente empezar de cero una nueva idea para
          los espacios, lo primordial es pensar y guiarnos por nuestra personalidad, para que el estilo que usemos nos enamore
          al llegar a casa, además que prevalezca en el tiempo sin cansarnos.
          <br>
          <br>Si de diseño mundial se trata, enfocarnos en Italia sería una de las prioridades, ya que además de proponer tendencias
          y estilos, fusionan materiales y formas que generan satisfacción en el momento de adquirirlas, porque además de
          un buen diseño, la funcionalidad es esencial.
          <br>
          <br>Para este caso la sugerencia que Matisses te ofrece es una marca con trayectoria en tapicería, precisión en su
          producción y acabados de primera mano, CALIA ITALIA es la marca que se merece todas estas anotaciones, ya que se
          enfoca en su atención al detalle, creando historias con sus productos.
          <br>
          <br>Se fusionan los estilos contemporáneos y sofisticados para crear un estilo de vida que se concentra en el diseño
          como valor agregado, para generar en el espacio esa sensación de armonía que siempre buscamos con nuestro mobiliario.
          <br>
          <br>Al enfocarnos en el diseño contemporáneo, las líneas simples resaltan, ya que al fusionarse crean ese minimalismo
          que hace que la elegancia sea un rasgo marcado. Si vamos más allá en su diseño, CALIA ITALIA nos ofrece modularidad
          y variedad en sus piezas, lo que nos genera versatilidad y asertividad en el espacio, para que nuestro mobiliario
          no compita entre sí, si no que por el contrario se complemente.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/blog/calia-soon-02.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>TODO UN DISEÑO EXQUISITO</h3>
        <p class="text-justify">Por otra parte las técnicas clásicas de tapicería, como el capitoneado hacen parte del portafolio de la marca, donde
          con formas y detalles puntuales crean un equilibrio único entre diseños clásicos con materiales modernos para concebir
          un mobiliario único.
          <br>
          <br>CALIA ITALIA tiene en cuenta los orígenes del diseño mezclado con el diseño futurista, partiendo de la artesanía
          como proceso principal en sus piezas, sin dejar atrás la innovación día tras día.
          <br>
          <br>Versatilidad, esa es la idea de la marca que adapta los objetos para la practicidad diaria, perfecta para momentos
          especiales o nuestra vivencia diaria. Propuestas ideales para un público que quiere lo mejor del diseño con novedades
          funcionales y estéticas.
        </p>
      </div>
    </div>
  </div>
</div>