<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 hidden-sm hidden-xs">
        <div class="info-uno">
          <p [routerLink]="['/quienes']">Quienes somos</p>
          <p [routerLink]="['/trabaja-con-nosotros']" class="border-left">Trabaja con nosotros</p>
          <p [routerLink]="['/contactanos']" class="border-left">Contáctanos</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <div class="info-dos">
          <ul>
            <li class="bordering" [routerLink]="['/preguntas-frecuentes']"><em>Preguntas frecuentes</em></li>
            <li [routerLink]="['/envios']" class="bordering"><em>Métodos de envío</em></li>
            <li [routerLink]="['/garantias']"><em>Garantías</em></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="footer-main">
      <div class="row">
        <div class="col-md-2">
          <p class="text-right"><span class="icon-credit-card"></span> Medios de pago</p>
        </div>
        <div class="col-md-4">
          <img src="../../assets/images/footer/pagos.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-3 border-left text-right">
          <p>Conéctate con nosotros</p>
        </div>
        <div class="col-md-3 text-center">
          <ul>
            <li><a href="https://www.facebook.com/matissesfanpage" target="_blank"><span class="icon-facebook"></span></a></li>
            <li><a href="https://www.instagram.com/matisses/" target="_blank"><span class="icon-instagram"></span></a></li>
            <li><a href="https://co.pinterest.com/matisses/" target="_blank"><span class="icon-pinterest2"></span></a></li>
            <li><a href="https://www.houzz.es/pro/matisses/matisses" target="_blank"><span class="icon-houzz"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container">
    <div class="end-footer">
      <div class="row">
        <div class="col-md-7 col-xs-12">
          <p class="cursor-pointer" [routerLink]="['/terminos-y-condiciones']">Términos y condiciones</p>
          <p class="cursor-pointer border-left" [routerLink]="['/politica-manejo-de-datos']">Política de manejo de datos</p>
          <p class="border-left cursor-pointer" [routerLink]="['/politica-de-privacidad']">Política de privacidad</p>
        </div>
        <div class="col-md-5 col-xs-12 text-center">
          <p>© Todos los derechos reservados Matisses 2017</p>
        </div>
      </div>
    </div>
  </div>
  <a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/www.matisses.co">
    <img src="https://seal.beyondsecurity.com/verification-images/www.matisses.co/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" />
  </a>
</footer>
