.producto {
  margin-bottom: 20px;
  border: 1px solid #FFF;
  padding-bottom: 10px;
}

.producto:hover {
  border: 1px solid #EDEDED;
}

.nombre-producto {
  height: 40px;
  margin-top: 10px;
}

.btn-carrito, .btn-like {
  font-size: 12px;
  padding: 10px;
  border-radius: 0;
}

.btn-like {
  background-color: #ECECEC;
  color: #65092D;
}

.btn-carrito {
  border: 1px solid rgb(230, 230, 230);
  background-color: transparent;
  margin-left: 5px !important;
}

.btn-carrito:hover {
  color: #65092D;
  background-color: #ECECEC;
}

.btn-carrito span {
  color: #65092D;
}

@media screen and (max-width: 530px) {
  .btn-carrito, .btn-like {
    font-size: 10px;
    padding: 6px;
  }
  .nombre-producto {
    overflow: hidden;
    height: 60px;
  }
}

@media screen and (max-width: 375px) {
  .btn-carrito, .btn-like {
    font-size: 7px;
    padding: 6px;
  }
  .nombre-producto {
    overflow: hidden;
  }
}


/* paginador */

.pagination {
  margin: 0;
}

.pagination li a {
  color: #5B5B5B;
  padding: 6px 8px;
  border-color: transparent;
}

.pagination li a.active {
  background-color: #eee;
}

.btn-matisses {
  color: #5B5B5B;
  background-color: #FFF;
  border-color: #EDEDED;
  border-radius: 0;
}


/* mostrar por */

.mostrar:before {
  content: "Mostrar";
  margin: 0 5px;
  display: inline-block;
  border-right: 1px solid #626262;
  padding: 0 10px;
}


/* Order por */

.ordenar:before {
  content: "Ordenar";
  margin: 0 5px;
  display: inline-block;
  border-right: 1px solid #626262;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .pagination li a {
    padding: 10px 7px;
    font-size: 11px;
  }
}

@media screen and (max-width: 991px) {
  .ordenar {
    margin: 10px;
  }
}
