<div class="row" *ngIf="items.length > 0">
  <div class="col-md-4 text-center">
    <div class="mostrar">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{itemsXPag}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a></li>
            <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a></li>
            <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a></li>
            <li *ngIf="totalItems < 100"><a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="ordenar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span [innerHTML]="orderByStr">
                </span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
                <li><a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a></li>
                <li><a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a></li>
                <li><a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a></li>
                <li><a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a></li>
                <li><a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a></li>
            </ul>
        </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
      <ul class="pagination">
        <li (click)="irAPagina(activePage - 1)">
          <a href="javascript:void(0)" aria-label="Previous">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </li>
        <li><a href="javascript:void(0)" *ngFor="let page of pages" (click)="irAPagina(page)" [class.active]="page == activePage">{{page}}</a></li>
        <li (click)="irAPagina(activePage + 1)">
          <a href="javascript:void(0)" aria-label="Next">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      </ul>
  </div>
</div>

<!-- Productos -->

<div class="row" *ngIf="items.length > 0">
  <div class="col-sm-4 col-xs-6" *ngFor="let item of items">
    <div class="producto">
      <div class="row">
        <div class="col-xs-12">
          <img src="https://www.matisses.co/modules/matisses/files/{{item.itemcode}}/images/{{item.itemcode}}_01.jpg" class="img-responsive" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="medium nombre-producto">{{item.itemname}}</p>
          <h4>$ {{item.price | number:0}}</h4>
        </div>
        <div class="botones">
          <div class="col-xs-12 text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-like">
                <span class="glyphicon glyphicon-heart-empty wish-list"></span>
              </button>
              <button type="button" class="btn btn-carrito">
                <span class="icon-shopping-cart carrito"> </span> AGREGAR AL CARRITO
              </button>
            </div>
            <p class="medium cursor-pointer" [routerLink]="['/producto']"><u>Descubre más</u></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
