<div class="barra-fondo hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="top-nav medium">
          <li><a a [routerLink]="['/tiendas']"><span class="glyphicon glyphicon-map-marker"> </span> Tiendas</a></li>
          <li class="border-left"><a href="javascript:void(0);">Blog</a></li>
          <li class="border-left"><a href="javascript:void(0);">Experiencias</a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <ul class="top-nav medium">
          <li [routerLink]="['/envios']"><a href="javascript:void(0);"><span class="icon-truck"> </span> Métodos de envío</a></li>
          <li class="border-left"><a href="javascript:void(0);">Garantías</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
