.carrito {
  cursor: pointer;
  color: #5B5B5B;
  font-size: 20px
}

.carrito .badge {
  margin-top: -10px;
  background-color: #5B5B5B;
}

@media screen and (min-width: 991px) {
  .carrito {
    margin-top: 13px;
  }
}
