<div class="carrito" (click)="toggleResumen()">
  <span [ngClass]="{'icon-shopping-cart': (!resumenMobileVisible && !resumenDesktopVisible), 'icon-cerrar': (resumenMobileVisible || resumenDesktopVisible)}"> </span>
  <span class="badge total-items-carrito-badge">{{carrito.totalItems}}</span>
</div>
<div id="resumen" class="resumen resumenmobile">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <br/>
      <p>Tu carrito contiene <b id="totalItemsCarrito">({{carrito.totalItems}})</b> productos</p>
    </div>
  </div>
    <div class="productos">
      <div class="row border" *ngFor="let item of carrito.shoppingCart.items">
        <div class="col-xs-3 text-center">
          <img class="img-responsive imagen" src="http://img.matisses.co/{{item.itemcode}}/mini/{{item.itemcode}}_01.jpg" alt="{{item.itemname}}">
        </div>
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-7">
              <p class="nombre"><b>{{item.itemname}}</b></p>
            </div>
            <div class="col-xs-5 text-right precio">
              <p>$ {{item.priceaftervat | number}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <p class="cantidad"><b>Cantidad</b></p>
              <p class="numero">{{item.selectedQuantity}}</p>
            </div>
            <div class="col-xs-6 text-right">
              <span *ngIf="mostrarBotonEliminar()" class="glyphicon glyphicon-trash trash" (click)="eliminarItem(item)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-right">
        <hr/>
        <p class="subtotal">Subtotal <b>$ {{carrito.totalCarrito | number}}</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-center">
        <p class="boton" [routerLink]="['/resumen-carrito']">ir al carrito</p>
      </div>
      <div class="col-xs-6 text-center">
        <p class="boton" [routerLink]="['/info-pago']">Ir a pagar</p>
      </div>
    </div>
  </div>
</div>
<matisses-carrito-simple #carritoSimple2></matisses-carrito-simple>
