<!-- Modal carrito -->
<div class="modal fade modal" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="carritoLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-2">
      <div class="modal-header">
        <span data-dismiss="modal" aria-label="Close" class="icon-close pull-right"></span>
        <h4 class="modal-title">Has añadido el artículo al carrito</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-sm-6">
                  <img src="https://www.matisses.co/modules/matisses/files/25400000000000000018/images/25400000000000000018_01.jpg" class="img-responsive" alt="...">
                </div>
                <div class="col-sm-6" *ngFor="let item of items">
                  <div class="row">
                    <div class="col-xs-12">
                      <p style="margin-bottom: 0px;"><b>{{item.itemname}}</b></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 style="margin-top: 15px;">$ {{item.price | number}}</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="color" style="margin:10px 0 0 0;"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <p style="margin-top: 15px;">Cantidad: <span>{{number}}</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5" style="border-left: 1px solid #D1D1D1;" *ngFor="let item of items">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px dotted #D1D1D1;">
                  <h4 style="margin: 0;"><b>{{number}}</b> ARTÍCULOS</h4>
                  <p style="margin-top: 15px;">Costo total de los productos: <span class="pull-right"><b>$ {{item.price | number}}</b></span></p>
                  <p>Envío estándar: <span class="pull-right"><b>$ 0</b></span></p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <p style="margin-top: 15px;">Total: <span class="pull-right"><b>$ {{item.price | number}}</b></span></p>
                  <div class="row">
                    <div class="col-xs-7">
                      <p style="margin-top: 5px;">Financiación<br>con mercadopago: </p>
                    </div>
                    <div class="col-xs-5 text-right">
                      <p style="font-size:10px; margin-top:10px"><b>Hasta 12 cuotas de<br>$ 46,667</b></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <button type="button" class="btn btn-carrito" style="width:100%; margin-top:20px;">
                      <span class="icon-shopping-cart carrito"> </span> VER CARRITO
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal carrito -->

<div class="carrito" (click)="openResumen()">
  <span class="icon-shopping-cart carrito"> </span>
  <span class="badge" id="totalItemsCarritoBadge">{{carrito.totalItems}}</span>
</div>
<div id="resumen" class="resumen">
  <div class="row">
    <div class="col-xs-12 text-center">
      <br/>
      <span class="icon-close" (click)="closeResumen()"></span>
      <p>Tu carrito contiene <b id="totalItemsCarrito">({{carrito.totalItems}})</b> productos</p>
    </div>
  </div>
  <div class="productos">
    <div class="row border" *ngFor="let item of carrito.shoppingCart.items">
      <div class="col-xs-3">
        <!--<img src="assets/images/recommended/{{item.itemcode}}.jpg" class="img-responsive" alt="">-->
        <img class="img-responsive" src="https://www.matisses.co/modules/matisses/files/{{item.itemcode}}/mini/{{item.itemcode}}_01.jpg" alt="...">
      </div>
      <div class="col-xs-5">
        <p><b>{{item.itemname}}</b></p>
        <p>Cantidad <b>{{item.selectedQuantity}}</b></p>
      </div>
      <div class="col-xs-4">
        <span *ngIf="mostrarBotonEliminar()" class="glyphicon glyphicon-trash pull-right" (click)="eliminarItem(item)"></span>
        <p>$ {{item.price | number}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-center">
      <p class="boton" [routerLink]="['/resumen-carrito']">ir al carrito</p>
    </div>
    <div class="col-xs-6 text-center">
      <p class="boton" [routerLink]="['/ingresar']">Ir a pagar</p>
    </div>
  </div>
</div>
<matisses-carrito-simple #carritoSimple></matisses-carrito-simple>
