<matisses-header></matisses-header>

<div sticky-body>
  <div class="container">
    <!-- Contenido para Desktop -->
    <div class="desktop" *ngIf="!menuMobile">
      <div class="row">
        <div class="menu-micuenta">
          <div class="col-xs-3 text-center cursor-pointer" [ngClass]="{'seleccionado' : paso === 1}" (click)="irPaso(1)">
            <p>Mi cuenta</p>
          </div>
          <div class="col-xs-3 text-center cursor-pointer" [ngClass]="{'seleccionado' : paso === 2}" (click)="irPaso(2)">
            <p>Mis direcciones</p>
          </div>
          <div class="col-xs-3 text-center cursor-pointer" [ngClass]="{'seleccionado' : paso === 3}" (click)="irPaso(3)">
            <p>Pedidos y garantías</p>
          </div>
          <div class="col-xs-3 text-center cursor-pointer" *ngIf="planner" [ngClass]="{'seleccionado' : paso === 4}" (click)="irPaso(4)">
            <p>Mis novios</p>
          </div>
          <div class="col-xs-3 text-center cursor-pointer" *ngIf="decorador" [ngClass]="{'seleccionado' : paso === 5}" (click)="irPaso(5)">
            <p>Mis clientes</p>
          </div>
          <div class="col-xs-3 text-center cursor-pointer"   (click)="cerrarSession()">
            <p>Cerrar Sesión</p>
          </div>
        </div>
      </div>
      <div class="contenidos">
        <!-- Contenido mi cuenta -->
        <div class="row" *ngIf="paso === 1">
          <div class="col-xs-12">
            <matisses-cuenta></matisses-cuenta>
          </div>
        </div>
        <!-- Contenido mis direcciones -->
        <div class="row" *ngIf="paso === 2">
          <div class="col-xs-12">
            <matisses-direcciones></matisses-direcciones>
          </div>
        </div>
        <!-- Contenido pedidos y garantías -->
        <div class="row" *ngIf="paso === 3">
          <div class="col-xs-12">
            <matisses-pedidos></matisses-pedidos>
          </div>
        </div>
        <!-- Contenido Mis novios -->
        <div class="row" *ngIf="paso === 4">
          <div class="col-xs-12">
            <matisses-novios></matisses-novios>
          </div>
        </div>
        <!-- Contenido Mis clientes -->
        <div class="row" *ngIf="paso === 5">
          <div class="col-xs-12">
            <matisses-clientes></matisses-clientes>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenido Mobile -->
    <div class="mobile" *ngIf="menuMobile">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                  (click)="toggleClass('#miCuenta', 'glyphicon-menu-down', 'glyphicon-menu-up'); scrollTop(1)">
                  <a role="button">
                    Mi cuenta
                  </a>
                  <span id="miCuenta" class="glyphicon glyphicon-menu-down pull-right"></span>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <matisses-cuenta></matisses-cuenta>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title" id="direcciones" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo" (click)="toggleClass('#misDirecciones', 'glyphicon-menu-down', 'glyphicon-menu-up'); scrollTop(2)">
                  <a role="button">
                    Mis direcciones
                  </a>
                  <span id="misDirecciones" class="glyphicon glyphicon-menu-down pull-right"></span>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <matisses-direcciones></matisses-direcciones>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                  (click)="toggleClass('#misPedidos', 'glyphicon-menu-down', 'glyphicon-menu-up'); scrollTop(3)">
                  <a class="collapsed" role="button">
                    Pedidos y garantías
                  </a>
                  <span id="misPedidos" class="glyphicon glyphicon-menu-down pull-right"></span>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <matisses-pedidos></matisses-pedidos>
                </div>
              </div>
            </div>
            <div class="panel panel-default" *ngIf="planner">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                  (click)="toggleClass('#misNovios', 'glyphicon-menu-down', 'glyphicon-menu-up'); scrollTop(4)">
                  <a class="collapsed" role="button">
                    Mis novios
                  </a>
                  <span id="misNovios" class="glyphicon glyphicon-menu-down pull-right"></span>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <matisses-novios></matisses-novios>
                </div>
              </div>
            </div>
            <!-- <div class="panel panel-default" *ngIf="decorador">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                  (click)="toggleClass('#misClientes', 'glyphicon-menu-down', 'glyphicon-menu-up')">
                  <a class="collapsed" role="button">
                    Mis clientes
                  </a>
                  <span id="misClientes" class="glyphicon glyphicon-menu-down pull-right"></span>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <h1>Mis clientes</h1>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
