.stuck-body {
  margin-top: 125px;
  color: #5B5B5B;
}

.contenidos {
  border: 1px solid #ECECEC;
  padding: 10px 20px;
}

.seleccionado {
  color: #6D9791;
}

.seleccionado::before {
  content: ' ';
  position: absolute;
  width: 100px;
  border-bottom: 3px solid #6D9791;
  height: 30px;
  left: 32%;
  color: transparent;
}

@media screen and (max-width: 991px) {
  .stuck-body {
    margin-top: 0px;
  }
  .menu-micuenta {
    padding-top: 60px;
  }
  .seleccionado::before {
    left: 23%;
  }
}

@media screen and (max-width: 640px) {
  .mobile {
    padding-top: 90px;
  }
  .panel-title a:hover {
    text-decoration: none;
  }
  .panel-title span {
    opacity: 0.4;
  }
}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}