.padding-0 {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.control-slide {
  position: absolute;
  z-index: 1;
  height: 100%;
  padding: 15px;
  top: 0;
  color: #FFF;
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}

.left:hover {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

.right:hover {
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
}

.control-slide .glyphicon {
  top: 50%;
  opacity: 0.5;
  font-size: 25px;
}

.control-slide:hover .glyphicon {
  opacity: 0.7;
}

.principal-01 {
  background: url(../../../../assets/images/banner/slide-5/banner-01.jpg) no-repeat center center;
  margin-top: 0px;
  padding-top: 100px;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #747C79;
  cursor: pointer;
}

.text-01 {
  color: #FFF;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  width: 550px;
  position: relative;
  top: -115px;
  height: 5px;
}

.text-01 .logo {
  width: 100%;
}

.text-01 h1 {
  font-size: 40px;
  font-weight: bold;
}

.text-01 p {
  font-size: 20px;
  font-weight: 400;
}

.text-01 .btn-banner01 {
  padding: 5px 10px;
  font-size: 15px;
  background-color: #481416;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  width: 40%;
}

.text-01 .precio {
  font-size: 12px;
}

/* Estilos banner 02 */

.recomendaciones {
  border: 1px solid #d1d1d1;
  color: #5B5B5B;
  margin-bottom: 20px;
}

.recomendaciones .name {
  text-align: center;
  margin-top: 15px;
  font-size: 17px;
}

.recomendaciones .precio {
  margin-top: 30px;
  font-size: 20px;
}

.recomendaciones .precio del {
  position: absolute;
  bottom: 100px;
  font-size: 17px;
  color: #B20404;
}

.pull-bottom {
  position: relative;
  bottom: 0px;
  margin-top: 11px;
}

.sub-banner .mensaje {
  position: absolute;
  top: 160px;
  left: 147px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px 20px;
  font-size: 19px;
  top: 10px;
}

.sub-banner .mensaje p {
  position: relative;
  top: 15px;
  margin-right: 15px;
  line-height: 25px;
}

.sub-banner .mensaje p, .sub-banner .mensaje img {
  display: inline-block;
}

.sub-banner-footer {
  background-color: #EDEDED;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.sub-banner-footer p {
  color: #5B5B5B;
  font-size: 20px;
}

.ir-comprar {
  border: none;
  cursor: pointer;
  color: #FFF;
  padding: 5px 20px;
  background-color: #7C7C7C;
}

.ir-comprar:hover {
  background-color: #6D9791;
}

@media screen and (max-width: 1200px) {
  .recomendaciones .precio {
    margin-top: 15px;
  }
  .sub-banner .mensaje {
    top: 125px;
    left: 95px;
  }
}

@media screen and (max-width: 991px) {
  .principal-01 {
    min-height: 300px;
  }
  .text-01 {
    margin-top: 55px;
  }
  .recomendaciones .name {
    font-size: 15px;
  }
  .recomendaciones .precio {
    margin-top: 8px;
  }
  .sub-banner .mensaje {
    display: none;
  }
  .text-01 h1 {
    font-size: 25px;
  }
  .text-01 p {
    font-size: 15px;
  }
  .sub-banner-footer p {
    font-size: 15px;
  }
}

@media screen and (max-width: 769px) {
  .principal-01 {
    min-height: 300px;
  }
  .text-01 h1 {
    font-size: 20px;
  }
  .text-01 .btn-banner01 {
    font-size: 12px;
  }
  .sub-banner-footer p {
    color: #5B5B5B;
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .text-01 {
    margin: 0 auto;
    width: 290px;
    margin-top: 50px;
  }
  .text-01 p {
    font-weight: normal;
  }
  .principal-01 {
    background: url(../../../../assets/images/banner/slide-5/banner-01-mobile.jpg) no-repeat center;
    background-position: center -20px;
  }
}

@media screen and (max-width: 414px) {
  .principal-01 {
    min-height: 250px;
    background-position: center -40px;
  }
  .text-01 {
    margin: 10px auto;
  }
  .text-01 h1 {
    font-size: 20px;
  }
  .text-01 .btn-banner01 {
    font-size: 12px;
  }
  .recomendaciones .precio {
    font-size: 15px;
  }
  .recomendaciones .precio del {
    bottom: 84px;
    font-size: 12px;
  }
  .pull-bottom {
    font-size: 10px;
  }
  .sub-banner {
    margin-top: 15px;
  }
  .sub-banner-footer {
    padding-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  .principal-01 {
    min-height: 270px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .principal-01 {
    min-height: 240px;
    margin-top: 40px;
  }
  .recomendaciones .name {
    font-size: 12px;
  }
}