<matisses-header></matisses-header>

<div sticky-body>

  <div class="container padding-top">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="active">Garantias</li>
        </ol>
      </div>
    </div>
    <div class="foto01"></div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h4 class="text-left">Todas nuestras garantías se solicitan y se hacen efectivas a través de nuestra página web, para esto se debe crear una cuenta mediante un correo electrónico, número de cédula o usuario de Facebook, o sí se desea solicitar la garantía de un producto comprado en una de nuestras tiendas, y aún no se tiene una cuenta en nuestro portal web Matisses.co, el registro se deberá hacer con la misma información suministrada a la hora de la compra.</h4>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="title">¿Qué es mis garantías?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Una vez hayas ingresado a tu cuenta personal junto con tus datos de acceso, estarás en el menú Mi Cuenta, donde se encuentra la casilla Mis Garantías/Estado de garantías. En este espacio se da a conocer el estado actual en el que se encuentra el producto Matisses que se registró inicialmente en Iniciar nueva garantía, por la opción Mis Garantías del menú Mi cuenta.</p>
        <p>Sigue los siguientes 5 pasos y haz efectiva tu garantía:</p>
        <ol>
          <li>Ingresa a Mis Garantías/Iniciar nueva garantía, donde encontrarás un listado con todas las órdenes de compra de los productos adquiridos en el último año.</li>
          <li>Selecciona la orden de compra en la que se encuentra el producto por el cual vas a solicitar garantía, luego elige el producto del menú desplegable y haz clic en la opción Garantía.</li>
          <li>Lee y acepta los términos y condiciones de nuestra garantía, una vez realizado esto, haz clic en Continuar.</li>
          <li>Selecciona el tipo de daño, realiza una descripción de éste, y luego sube diferentes fotografías del mueble y/o accesorio donde se muestre el daño, haz clic en continuar.</li>
          <li>Una vez realizado los pasos anteriores, aparece una nueva ventana con la confirmación del proceso, a través de un ticket que contiene el número de garantía del mueble y/o accesorio, que se ingresó inicialmente. Luego haz clic en el botón ir a Mis Garantías. Para más información dirígete a tu cuenta registrada en www.matisses.co e ingresa a la casilla Mis Garantías/Estado de garantías, o comunícate a través de nuestra línea de Servicio al cliente 018000410044 (horario de lunes a viernes de 9:30 am a 12:30 p.m. y de 1:30 p.m. a 5:00 p.m.).</li>
        </ol>
        <p><b>Matisses se acoge a las ley 1480 del 2011 del Estatuto del Consumidor, para más información dirígete <a href="http://www.sic.gov.co/recursos_user/documentos/normatividad/Leyes/2011/Ley_1480_Estatuto_Consumidor.pdf" target="_blank"><strong>aquí.</strong></a></b></p>
      </div>
    </div>
  </div>

</div>

<matisses-footer></matisses-footer>
