<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="javascript:void(0)">
                            <!-- [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', group: '024', collection: 'Butterfly Parade' }" -->
                            <img src="../../../../assets/images/blog/quesos.jpg" class="jpg-responsive" alt="">
                        </a>
                    </div>
                </div>
                <br>
                <!-- <h2 class="title-blog">UN CUCHILLO ESPECIALIZADO PARA TUS QUESOS.</h2> -->
                <p class="text-justify">La importancia de unos buenos accesorios en la cocina para nadie es un secreto, y existen elementos especializados
                    que hacen nuestra vida más fácil, en este caso no hay dudas de que un buen cuchillo para quesos es esencial.
                    Hay múltiples cuchillos según el tipo de queso, ya que según sus características podremos aprovechar
                    más su sabor. Este tipo de cuchillos están exclusivamente diseñados para cortar superficies inestables
                    como las del queso, esto hace que no desperdiciemos partes del queso en el momento del corte.
                    <br>
                    <br>El diseño de los cuchillos de queso se basa en dos opciones, aquellos que poseen cierta perforación en
                    la hoja y su filo es totalmente liso, y los otros que no tienen perforación de ningún tipo pero su filo
                    es dentado. El detalle de la hoja perforada nos indica los parámetros para saber si el cuchillo es para
                    queso blando, duro o semi duro.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <a href="javascript:void(0)" [routerLink]="['/producto/2270040']">
                    <img src="../../../../assets/images/blog/queso-duro.jpg" class="jpg-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-6">
                <a href="javascript:void(0)" [routerLink]="['/producto/2270025']">
                    <img src="../../../../assets/images/blog/queso-blando.jpg" class="jpg-responsive" alt="">
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-justify">En el momento de intervenir el queso, el filo liso nos ayuda con un corte exacto y sin muchos residuos, por
                    lo que sirve para quesos blandos y semi duros. La ventaja más destacada de los cuchillos con hoja perforada
                    es que la porción de queso que partimos, no se quede en la hoja.
                    <br>
                    <br>Otro tipo de cuchillos para quesos son aquellos que tienen doble mango para agarre, este tipo de cuchillos
                    son muy útiles para quesos duros, ya que su ergonomía permite un corte mucho más sencillo.
                    <br>
                    <br>Para aquellos que necesiten rebanar, está el cuchillo tipo pala que es diseñado para quesos blandos con
                    horma pequeña, estos rebanadores son fáciles de usar cuando se necesitan trozos laminados sin mucho esfuerzo.
                    <br>
                    <br>En Matisses puedes vivir toda una experiencia con los accesorios para quesos, y así tener en tu cocina
                    las mejores herramientas para disfrutar cada momento.
                </p>
            </div>
        </div>
    </div>
</div>