<div class="publicidad hidden-xs">
  <p class="uno">HACEMOS REALIDAD </p> <p class="dos"> EL SUEÑO DE UN HOGAR</p>
</div>
<menu-lista></menu-lista>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="campos">
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-xs-6">
                <div class="buscar">
                  <h4>Buscar una lista</h4>
                  <label class="label-lista" for="name">Nombre</label>
                  <input type="text" class="form-lista-regalos" id="name">
                  <label class="label-lista" for="lastname">Apellido</label>
                  <input type="text" class="form-lista-regalos" id="lastname">
                  <label class="label-lista" for="code">Código</label>
                  <input type="text" class="form-lista-regalos" id="code">
                  <button type="button" name="buscar" class="btn-buscar">Buscar</button>
                </div>
                <div class="crear">
                  <h4>Crea una lista</h4>
                  <button type="button" name="buscar" class="btn-buscar" [routerLink]="['crear-lista']">Inscríbete</button>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="administrar">
                  <div class="row" *ngIf="messageError != null && messageError.length > 0">
                    <div class="col-xs-12">
                      <div class="alert alert-danger" role="alert">
                        <p>{{messageError}}</p>
                      </div>
                    </div>
                  </div>
                  <form #ContactForm="ngForm" (submit)="login()">
                  <h4>Iniciar sesión</h4>
                  <p>Administra tu lista, edita cantidades, estilos y mensajes</p>
                  <label class="label-lista" for="e-mail">Correo electronico</label>
                  <input type="email" class="form-lista-regalos" id="e-mail" [class.required-field]="!valid" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
                  <label class="label-lista" for="password">Contraseña</label>
                  <input type="password" class="form-lista-regalos" id="password" [class.required-field]="!valid" name="password" [(ngModel)]="password" required>
                  <button type="button" name="buscar" (click)="login()" class="btn-buscar">Ingresar</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
