.container {
  margin-top: 110px;
  overflow-x: hidden;
}

.campos {
  background: url(../../../assets/images/fondo-lista-regalos-01.jpg) no-repeat center center;
  margin-top: 0px;
  padding-top: 65px;
  background-attachment: relative;
  background-position: center center;
  min-height: 585px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buscar, .crear {
  background-color: rgba(236, 236, 236, 0.9);
  padding: 15px 45px 20px;
}

.buscar h4, .crear h4, .administrar h4, .administrar p {
  text-align: center;
  font-weight: normal;
}

.crear {
  margin-top: 25px;
}

.administrar {
  background-color: rgba(236, 236, 236, 0.9);
  padding: 94px 25px;
}

.form-lista-regalos {
  display: block;
  width: 100%;
  height: 27px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5B5B5B;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #FFF;
  margin-bottom: 5px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #6D9197;
  /* green */
}

.ng-touched.ng-invalid[required], .ng-untouched.ng-pristine.ng-invalid[required].required-field {
  border-left: 5px solid #65092D;
  /* red */
}

.label-lista {
  color: #5B5B5B;
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
}

.btn-buscar {
  background-color: #F77E7E;
  border: none;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #FFF;
  margin-top: 13px;
}

.btn-buscar:hover {
  background-color: #AB4646;
}

.personal-shopper {
  background-image: url(../../../assets/images/personal-shopper-bg.jpg);
  background-position: center;
  padding: 15px;
}

.personal-shopper h5, .personal-shopper p {
  margin: 0;
}

.personal-shopper span {
  color: #D77D7D;
  position: relative;
  top: 3px;
  font-size: 16px;
}

.que-es {
  background-image: url(../../../assets/images/que-es-lista-regalos.jpg);
  background-position: center;
  text-align: center;
  padding: 50px 80px;
}

.que-es::after {
  content: '';
  position: absolute;
  border: 2px solid #FFF;
  width: 95%;
  height: 90%;
  top: 11px;
  left: 30px;
}

.que-es h1, .baskerville {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text";
  font-size: 25px;
  margin-bottom: 0px;
}

.text-como-funciona {
  padding: 10px 80px;
  border: 1px solid #FFF;
}

.border-right {
  border-right: 1px solid #D77D7D !important;
  border-bottom: 1px solid #D77D7D !important;
}

.border-left {
  border-left: 1px solid #D77D7D !important;
  border-top: 1px solid #D77D7D !important;
}

@media screen and (max-width: 1024px) {
  .text-como-funciona h5 {
    font-size: 20px;
  }
  .que-es::after {
    width: 94%;
  }
}

@media screen and (max-width: 986px) {
  .text-como-funciona {
    padding: 10px 40px;
  }
  .que-es::after {
    width: 92%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 105px;
  }
  .campos {
    padding-top: 10px;
    background-position: -157px center;
    min-height: 430px;
    margin-bottom: 30px;
  }
  .crear {
    margin-top: 0px;
    border-top: 1px dotted #5B5B5B;
    border-bottom: 1px dotted #5B5B5B;
  }
  .buscar, .crear, .administrar {
    padding: 5px 25px 10px;
    width: 80%;
    margin: 0 auto;
  }
  .que-es {
    padding: 50px 25px;
  }
  .que-es::after {
    width: 86%;
    height: 92%;
  }
  .text-como-funciona {
    padding: 10px 40px;
  }
  .border-right {
    border-right: 1px solid #FFF !important;
    border-bottom: 1px solid #D77D7D !important;
  }
  .border-left {
    border-left: 1px solid #FFF !important;
    border-top: 1px solid #D77D7D !important;
  }
  .border-bottom {
    border-bottom: 1px solid #D77D7D !important;
  }
}

@media screen and (max-width: 320px) {
  .que-es::after {
    width: 82%;
    height: 94%;
  }
}
