<matisses-header></matisses-header>

<div sticky-body>

  <div class="container padding-top">
    <div class="row">
      <div class="col-xs-12">
        <h1>Términos y condiciones</h1>
        <p>Bienvenido a <a href="www.matisses.co">www.matisses.co</a>. De acuerdo a la ley de protección de datos personales “Habeas Data” 1581 de 2012, reglamentado por el Decreto 1377 de 2013, debes tener en cuenta lo siguiente:<br><br></p>
        <p>Se da a entender al “Usuario” que al aceptar los términos y condiciones legales del sitio web <a href="www.matisses.co">www.matisses.co</a>, indica que conoce y autoriza de manera libre, voluntaria, y previamente informada a <strong>Matisses</strong>          para registrar, procesar, difundir, actualizar y disponer de los datos o información parcial recolectada a través de los diferentes formularios del sitio web <a href="www.matisses.co">www.matisses.co</a>.<br><br></p>
        <p>Estos datos o información puede ser transferida, con el fin de que Matisses pueda ofrecer sus productos y/o servicios a sus clientes de una manera personalizada y directa, utilizando la información que el usuario ha suministrado de forma voluntaria
          a través del registro realizado en el sitio web <a href="www.matisses.co">www.matisses.co</a>. De igual forma se declara que Matisses protege los datos suministrados por el Usuario, según lo dispuesto en la normatividad regulatoria del derecho
          al HABEAS DATA, e informa al Usuario interesado en hacer parte de eventos, campañas u otros servicios, a través del diligenciamiento del presente formulario, que le reconocen los siguientes derechos:<br><br></p>
        <ul>
          <li>El acceso a conocer, actualizar y rectificar sus datos personales</li>
          <li>Comprobar la autorización otorgada</li>
          <li>Presentar ante la Superintendencia de Industria y Comercio las quejas que considere</li>
          <li>Suspender la autorización y solicitar la eliminación de algún dato cuando considere que no se le han respetado sus derechos</li>
          <li>Acceder en forma gratuita a los datos personales que voluntariamente y a través de éste formato decide compartir con Matisses.</li>
        </ul>
        <p><br>Es de anotar además, que los datos otorgados a nuestra empresa, serán utilizados para proveer los servicios y productos que se nos hayan solicitado, así como para informar sobre cambios, promociones, existencia de stock, nuevos productos y
          para evaluar la calidad del servicio que se brinda, entre otros.<br><br></p>
        <p>En <a href="www.matisses.co">www.matisses.co</a> nos preocupa la protección de datos del Usuario. Por esta razón queremos darle a conocer los lineamientos que utilizamos con el fin de proteger la información, que el Usuario nos brinda al ingresar
          a nuestro sitio web.<br><br></p>
        <p>Al ingresar a <a href="www.matisses.co">www.matisses.co</a> <strong>EL USUARIO ASUME LA OBLIGACIÓN DE RESPETAR LAS CONDICIONES DE USO, NOTIFICACIONES LEGALES, POLÍTICA DE PRIVACIDAD</strong> y todas las cláusulas de exención de responsabilidad,
          términos y condiciones que figuran en el sitio web de <strong>Matisses</strong>.</p>
        <p><br>Por favor lea con cuidado el contenido expreso en los siguientes textos:<br><br></p>
        <h3>Exclusión y limitación de responsabilidad<br><br></h3>
        <p>Al ingresar y utilizar el sitio web <a href="www.matisses.co">www.matisses.co</a>, el Usuario da por aceptado que el uso de este portal se realiza bajo su voluntad, exclusiva responsabilidad y riesgo. El sitio web de Matisses S.A se muestra "tal
          cual está" y "como está disponible".<br><br></p>
        <p>Matisses y sus respectivos directores, empleados, vendedores, proveedores y demás agentes relacionados, no garantizan que el uso del sitio web www.matisses.co no tendrá interrupciones, ni contendrá errores.<br><br></p>
        <p>Se resalta que en <strong>Matisses</strong> y sus relacionados, no garantizan la exactitud, ni la integridad del contenido ofrecido en el sitio web <a href="www.matisses.co">www.matisses.co</a>, al igual que ni de los productos o servicios de
          venta en este portal virtual. Adicional, <strong>Matisses</strong> no declara que el contenido provisto en el sitio web <a href="www.matisses.co">www.matisses.co</a> sea adaptable, ni de uso apropiado, en lugares fuera de Colombia.<br><br></p>
        <p>Bajo ninguna circunstancia <strong>Matisses</strong> ni sus directores, empleados, vendedores, proveedores y demás agentes relacionados, serán responsables de ningún daño directo, indirecto, imprevisto, especial, o emergente que se genere, ya
          sea por el uso o falta de capacidad para usar el sitio web <a href="www.matisses.co">www.matisses.co</a>. Incluidos de forma no exclusiva, los daños que surjan a raíz de su confianza en la información obtenida en el sitio web <strong>Matisses</strong>,
          que ocasione errores de percepción, omisiones, interrupciones, eliminación o corrupción de archivos, virus, demoras en la operación o transmisión, o cualquier otro tipo de error en el funcionamiento.<br><br></p>
        <p>Esta limitación de la responsabilidad se aplicará en toda acción legal, así un representante autorizado de Matisses haya sido informado o debiera tener conocimiento de la posibilidad de dichos daños.<br><br><br></p>
        <h3>Aceptación de términos<br><br></h3>
        <p>Frente al ingreso y uso del sitio <a href="www.matisses.co">www.matisses.co</a>, el usuario admite haber leído y entendido estos Términos de Uso, y está de acuerdo con acogerse a los mismos y cumplir con todas las leyes y los reglamentos aplicables
          que hagan parte de la legislación colombiana. Además, cuando el usuario utilice cualquier servicio entregado en este sitio, por ejemplo "bolsa de compra", Newsletter o trabaje con nosotros, estará sujeto a las reglas, guías, políticas, términos
          y condiciones aplicables a dicho servicio.<br><br></p>
        <p>Si el Usuario no está de acuerdo con estos términos, debe limitarse a usar este sitio, el cual es controlado y operado por <strong>Matisses</strong> desde sus oficinas ubicadas en Colombia. Adicional, Matisses no se hace responsable de que el
          material publicado en este sitio web <a href="www.matisses.co">www.matisses.co</a>, sea apropiado o esté disponible para uso en Colombia, y otros países.<br><br></p>
        <p>El Usuario que decida ingresar al sitio web <a href="www.matisses.co">www.matisses.co</a> desde otro país, lo hará bajo su propia voluntad, y se hace responsable a las leyes locales que sean aplicables. Cualquier reclamo en relación con el uso
          de este sitio y el material en el contenido, está regulado por las leyes de Colombia.<br><br></p>
        <p><strong>Matisses<strong> se reserva el derecho de realizar cambios sin previo aviso en el sitio web, en las condiciones de uso y en las notificaciones legales en cualquier momento.<br><br></strong></strong>
        </p>
        <p>Si el Usuario no está satisfecho con el sitio web <a href="www.matisses.co">www.matisses.co</a>, su contenido y sus condiciones de uso y legales, acepta que la solución disponible es dejar de usar el sitio web de <strong>Matisses</strong>.<br><br></p>
        <p>Teniendo en cuenta los preceptos legales de la República de Colombia, el usuario no puede usar el sitio indebidamente, mentir en la identidad de un usuario, utilizar agentes de compra y llevar a cabo actividades ilegales en el sitio web.<br><br><br></p>
        <h3>Propiedad intelectual-industrial<br><br></h3>
        <p><strong>Matisses</strong> deja claro que enseñas, logos, nombres y cualquier otro signo distintivo, así como los modelos de utilidad y/o diseños industriales y demás elementos de propiedad industrial o intelectual insertados, usados y/o desplegados
          en este sitio son propiedad exclusiva de <strong>Matisses</strong>, y en algunos casos son de propiedad de terceros que han autorizado expresamente a <strong>Matisses</strong> para su uso y/o explotación.</p>
        <p><br>No se podrá disponer de la propiedad industrial, sin el permiso por escrito de <strong>Matisses</strong>, o del titular de los derechos de la misma. Y se resalta que cualquier uso no autorizado se tomará como una violación a los presentes
          términos y condiciones, y a las normas vigentes sobre propiedad industrial, y así mismo se procederá con las acciones civiles y penales.</p>
        <p><strong><br>Matisses</strong> deja establecido que se reserva el derecho de solicitar retiro de enlaces que hayan sido establecidos en sitios web sin su previa autorización. Queda prohibido el establecimiento en páginas no controladas por <strong>Matisses</strong>          de enlaces o subdirecciones dentro de la URL <a href="www.matisses.co">www.matisses.co</a>.</p>
        <p><strong><br>Matisses</strong> deja establecido que cualquier copia, exhibición u otra forma de reproducción del sitio web <a href="www.matisses.co">www.matisses.co</a>, en sitios no controlados por <strong>Matisses</strong> (“Framing”) queda expresamente
          prohibido. De ser así, se tomará como una violación a los derechos de propiedad intelectual sobre los contenidos y a los derechos sobre la propiedad industrial.</p>
        <p><br>Para cualquier consulta y/o pregunta relacionada con el uso de los contenidos o con el establecimiento de links hacia la URL: <a href="www.matisses.co">www.matisses.co</a> podrá dirigirse a <strong>Matisses</strong> en Colombia al teléfono:
          01 8000 410044 a través de <a href="www.matisses.co">Matisses.co</a>. Su uso, en contra de lo aquí dispuesto, dará lugar a las acciones civiles y penales correspondientes.</p>
        <p><strong><br>Matisses</strong> señala a sus clientes que la información del sitio web <a href="www.matisses.co">www.matisses.co</a> puede contener errores o inexactitudes, no estar completa o actualizada. Por ello, <strong>Matisses</strong> se
          reserva el derecho de corregir cualquier error, imprevisión o equivocación, cambiar o actualizar la misma en cualquier momento y sin previo aviso. Adicionalmente, se advierte que el precio que se deberá pagar por cada artículo (mueble u accesorio)
          adquirido, será el precio vigente en el almacén al momento de hacerse el despacho para la entrega. Ofrecemos disculpas por cualquier inconveniente que esto pueda causar.</p>
        <p><br>Frente a la responsabilidad relacionada con el daño informático, <strong>Matisses</strong> no asume responsabilidad, incluyendo daño o perjuicio, asociado con pérdida de información o utilidades, existencia de virus, resultados del uso o la
          incapacidad para usar el material en este sitio, o cualquier otro daño, aun cuando el usuario nos haya avisado acerca de la posibilidad de tales daños, o por cualquier reclamo de terceros, salvo lo que expresamente aquí se estipula.</p>
        <p><strong><br>Matisses</strong> no asume ninguna responsabilidad por la información que se suministra en la página, incluyendo, pero sin limitarse a lo referente, productos y/o servicios, notas de interés, opiniones, consejos prácticos y solución
          de inquietudes. <strong>Matisses</strong> no asume la imposibilidad de utilización del sitio o de alguna de las páginas que lo conforman, incluyendo pero sin limitarse a eventos tales como problemas en el servidor o en la conexión, interrupciones
          en su comunicación, problemas técnicos.</p>
        <p><br>Si el uso del material del sitio web <a href="www.matisses.co">www.matisses.co</a> arroja como resultado la necesidad de dar servicio, reparar o corregir equipo o información, el usuario asume cualquier costo derivado de ello.</p>
        <h3><br><br></h3>
        <h3>Revisión de los términos<br><br></h3>
        <p><strong>Matisses</strong>, puede revisar los términos de uso de contenidos aquí por medio de la actualización de este informe. Al usar <a href="www.matisses.co">www.matisses.co</a> el Usuario conviene en darse por obligado por cualquiera de tales
          revisiones, las cuales estarán vigentes a partir del momento en que las mismas sean disponibles a los Usuarios, debiendo entonces visitar periódicamente esta página para determinar los términos vigentes en el momento, a los cuales el Usuario
          estará obligado a acceder.</p>
        <h3><br><br>Términos del contrato<br><br></h3>
        <p>El contrato entre el Usuario y Matisses se repasará cuando una oferta de compra en el sitio realizada por el cliente, sea aceptada por Matisses. El contrato estará regido por los términos definidos en el presente informe, los cuales rigen la venta
          de los productos (muebles y accesorios) ,que se realicen mediante la utilización de este sitio web <a href="www.matisses.co">www.matisses.co</a> por parte de Matisses.<br><br></p>
        <p>Solo para aquellos Usuarios que tengan capacidad legal para contratar, nuestro servicio está disponible, según lo dispuesto por la legislación colombiana vigente. Si el Usuario no tiene capacidad legal para contratar, le solicitamos que no utilice
          nuestros servicios Matisses. En ningún caso estará obligado a aceptar una oferta de compra.<br><br></p>
        <h3>Presentación de oferta<br><br></h3>
        <p>Si Matisses realiza la presentación de oferta de compra. A través del sitio www.matisses.co, extiende la invitación a comprar los diferentes productos (muebles y accesorios) que se expresan en este sitio web. Para una oferta de compra válida por
          parte del Usuario, se requiere el diligenciamiento de una forma electrónica disponible en la página en la cual se harán constar los datos personales del Usuario, la selección de los productos deseados y la forma en que procederá con su pago,
          los datos que dependiendo de la forma de pago sean necesarios para efectuar el mismo, para que se pueda realizar la compra.<br><br></p>
        <p>Una vez realizada la compra de forma electrónica, y la misma haya sido recibida por Matisses, la oferta del cliente será obligatoria para el cliente. Así mismo, Matisses procederá a verificar datos y a decidir si acepta la misma. Toda cotización
          ofrecida por Matisses a través de <a href="www.matisses.co">www.matisses.co</a> será válida solo para el momento en que se liquida el valor final de la compra.<br><br></p>
        <p>Una vez se diligencia lo expuesto anteriormente, en forma electrónica, y la misma haya sido recibida por Matisses, la compra del Usuario será obligatoria para este. Matisses resalta que esta compra será válida para el momento en que se liquida
          el valor final de la misma. Adicional, Matisses se reserva el derecho de modificar los precios de los productos (muebles y accesorios), en cualquier momento previo a la aceptación de la oferta de compra, sin necesidad de avisar dicho cambio
          de ninguna forma.<br><br></p>
        <p>El Usuario da por conocer las siguientes condiciones de pago:<br><br></p>
        <p>Previo a la aceptación por parte de Matisses sobre cualquier oferta de compra, el cliente deberá elegir los términos y las condiciones de pago del precio correspondiente, según los medios de pago especificados y establecidos en el sitio web
          <a
            href="www.matisses.co">www.matisses.co</a>. Matisses resalta que pone a disposición del Usuario, un sistema de conexión segura, para la realización de todas las compras. En ningún caso Matisses se hará responsable por dificultades o fallas en las comunicaciones de
            las entidades bancarias o de crédito, así como tampoco de los daños causados a los usuarios con ocasión de una acción u omisión de dichas entidades.<br><br></p>
        <p>El Usuario que ingrese a <a href="www.matisses.co">www.matisses.co</a> y realice una compra será responsable de los impuestos sobre ventas, al valor agregado y a cualquier otro impuesto de contribuciones que se ocasionen por cada oferta de compra
          aceptada. Todos los impuestos causados por la compra serán liquidados desde el momento en que el Usuario realiza su oferta de compra en este sitio, y por tanto podrá conocer el valor exacto que debe pagar a favor Matisses el cual incluirá todos
          los conceptos antes mencionados.<br><br></p>
        <p>El beneficio del contrato se presenta cuando Matisses acepta la oferta de compra presentada por el cliente.<br><br></p>
        <p>Se deja claro que el precio de los productos (muebles y accesorios) de una compra que no sea pagado, se dará por respuesta que existe incumplimiento del contrato, lo cual es causa para darlo por terminado por parte de Matisses, donde el Usuario
          asume el valor de la devolución de dichos productos al respectivo depósito, así como el monto de los perjuicios derivados de dicho incumplimiento.<br><br></p>
        <p>Los pagos realizados por los demás medios expuestos en el sitio web www.matisses.co, de acuerdo con lo establecido en este informe, se transmitirá al Usuario desde el mismo momento del perfeccionamiento del contrato, es decir, desde que los mismos
          se embarquen desde los depósitos y/o Grupo autorizados de Matisses, en la República de Colombia.<br><br></p>
        <p>El cambio o devolución de un producto adquirido de Matisses, puede solicitarse dentro de los primeros diez (10) días calendario siguientes a la fecha de la entrega, directamente en nuestras tiendas Matisses, Sitio Web y/o llamando al 444 04 34
          ext. 115 o al correo <a href="mailto:ventasweb@matisses.co">ventasweb@matisses.co</a>.<br><br><br></p>
        <h3>Anulación de compra<br><br><br></h3>
        <p>Para que el Usuario anule una compra realizada en el sitio web <a href="www.matisses.co">www.matisses.co</a> de Matisses, puede hacerlo a través de nuestro PBX 444 04 34 Ext 115. No obstante, si el producto ya fue enviado por Matisses a la dirección
          indicada por el cliente, no se devolverá el costo del envió.<br><br><br></p>
        <!-- <h3>Condiciones de entrega<br><br><br></h3>
        <p><strong>Matisses</strong> solo entregará sus productos exclusivamente dentro del territorio colombiano, en las zonas y lugares a los que tenga acceso de acuerdo con su red de distribución, por tal motivo si existe una oferta de compra con un domicilio
          que no se encuentre dentro de las zonas geográficas habilitadas <strong>Matisses</strong> podrá anular dicha compra.<br><br></p>
        <p>Los productos (muebles y accesorios) comprados a través del sitio web <a href="www.matisses.co">www.matisses.co</a>, serán entregados en el domicilio que el cliente haga constar al realizar su oferta de compra, El tiempo de entrega será de máximo
          3 a 5 días (hábiles) en las principales áreas metropolitanas (Bogotá, Medellín, Cali, Bucaramanga y Barranquilla). Y de 6 a 8 días (hábiles) para el resto de ciudades. Adicional, entre 8 y 10 días (hábiles) para demás municipios del país. *Aplican
          restricciones de envío a localidades apartadas.<br><br></p>
        <p><strong>Matisses</strong> resalta que todo lo anterior es válido siempre y cuando se hayan determinado por anticipado los términos y condiciones de pago, y no se presenten causas ajenas a la voluntad de que pudieran retrasar la entrega, como cualquier
          evento de caso fortuito o fuerza mayor.<br><br></p>
        <p>Cuando en el caso de entrega de los productos (muebles y accesorios), no haya persona que los reciba, se intentará nuevamente dentro de las 24 ó 48 horas hábiles siguientes.<br><br></p>
        <p>*Siempre se dejará un aviso de visita en el domicilio.<br><br><br></p> -->
        <h3>Productos<br><br><br></h3>
        <p>Dentro del sitio web <a href="www.matisses.co">www.matisses.co</a> de <strong>Matisses</strong>, es política la actualización, revisión y modificación de los productos (muebles y accesorios) que se exhiben en este sitio. Adicional, Matisses puede
          descontinuar productos en cualquier momento.<br><br></p>
        <p>Limitación de cantidades/restricción de pedidos.<br><br></p>
        <p>La limitación de las cantidades de productos (muebles y accesorios), expuesta en el sitio web <a href="www.matisses.co">www.matisses.co</a>, <strong>Matisses</strong> puede limitar o cancelar las cantidades compradas por el Usuario, por hogar
          o por pedido.<br><br></p>
        <p>Si hacemos un cambio a un pedido, intentaremos notificarlo utilizando la dirección de e-mail o de facturación que nos indicó al momento de hacer el pedido. Matisses se reserva el derecho de limitar o prohibir la venta a distribuidores.<br><br><br></p>
        <h3>Cambio y devolución<br><br><br></h3>
        <p>En el caso de que el producto (muebles y accesorios) comprado en <a href="www.matisses.co">www.matisses.co</a>, presente fallas o algún daño de fábrica, será reparado o cambiado, según las condiciones de entrega del mismo. Así mismo, <strong>Matisses</strong>          determinará si la falla es (1) atribuible a defectos de fabricación que afecten funcionamiento, caso en el cual su reparación será asumida por <strong>Matisses</strong>, o (2) es atribuible a un mal manejo de éste por parte del usuario, para
          lo cual no aplicará la garantía.<br><br></p>
        <p>Puesto en conocimiento lo anterior, en caso de requerirse el retiro del producto del domicilio del cliente, para su reparación, el costo del producto será asumido por el usuario en caso de que la falla sea ajena a la responsabilidad que compromete
          a <strong>Matisses</strong>.</p>
      </div>
    </div>
  </div>

</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
