<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'calia' }">
        <img src="../../../assets/images/secciones/calia.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 mxs-5">
          <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'plantui' }">
            <img src="../../../assets/images/secciones/plantui.jpg" class="jpg-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-12 boska">
          <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'boska' }">
            <img src="../../../assets/images/secciones/boska.jpg" class="jpg-responsive" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>