<menu-lista></menu-lista>

<div class="container">
  <div class="contenedor">
    <!-- Información de la lista -->
    <div class="row">
      <div class="col-xs-4">
        <p>foto</p>
      </div>
      <div class="col-xs-8">
        <p>informacion de la lista</p>
      </div>
    </div>
    <!-- carrito -->
    <div class="row">
      <div class="col-xs-12 text-right">
        <p>carrito</p>
      </div>
    </div>
    <!-- campo buscar -->
    <div class="row">
      <div class="col-xs-12 text-right">
        <form (submit)="search()">
          <input id="searchField" [(ngModel)]="keywords" name="keywords" type="text" class="search-bar" placeholder="Busca productos en tu lista">
        </form>
      </div>
    </div>
    <!-- botones como mostrar los productos -->
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="mostrar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{itemsXPag}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a></li>
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a></li>
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a></li>
              <li *ngIf="totalItems < 100"><a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="ordenar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span [innerHTML]="orderByStr">
                    </span><span class="caret"></span>
                </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li><a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center" *ngIf="pages.length > 1">
        <ul class="pagination">
          <li (click)="irAPagina(activePage - 1)">
            <a href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
              </a>
          </li>
          <li><a href="javascript:void(0)" *ngFor="let page of pages" (click)="irAPagina(page)" [class.active]="page == activePage">{{page}}</a></li>
          <li (click)="irAPagina(activePage + 1)">
            <a href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Informacón cuando hay productos agregados -->
    <div class="row" *ngIf="items && items.length > 0">
      <div class="col-sm-3 col-xs-6 producto" *ngFor="let item of items; let i = index">
        <img src="https://img.matisses.co/{{items[i].itemcode}}/parrilla/{{items[i].itemcode}}_01.jpg" class="jpg-responsive" alt="{{items[i].itemname}}">
        <p class="nombre"><b>{{items[i].itemname}}</b></p>
        <p class="precio"><b>$ {{items[i].priceaftervat | number}}</b></p>
        <p class="solicitados">Solicitados: <b>#</b></p>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <div class="cantidad">
              <form>
                <div class="input-group">
                  <span class="input-group-addon span-cantidad">
             <button type="button" class="icon-minus btn-cantidad" name="button"></button>
           </span>
                  <input class="input-cantidad form-control" type="tel" name="selectedQuantity" min="1" max="" />
                  <span class="input-group-addon span-cantidad">
             <button type="button" class="icon-plus btn-cantidad" name="button"></button>
           </span>
                </div>
              </form>
            </div>
            <button type="button" class="btn btn-regalar">
              <span class="icon-regalar_1"></span>
              Regalar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- botones como mostrar los productos -->
    <div class="row" *ngIf="items.length > 0">
      <div class="col-md-4 text-center">
        <div class="mostrar">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{itemsXPag}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a></li>
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a></li>
              <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a></li>
              <li *ngIf="totalItems < 100"><a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="ordenar">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span [innerHTML]="orderByStr">
                    </span><span class="caret"></span>
                </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li><a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a></li>
              <li><a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center" *ngIf="pages.length > 1">
        <ul class="pagination">
          <li (click)="irAPagina(activePage - 1)">
            <a href="javascript:void(0)" aria-label="Previous">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
              </a>
          </li>
          <li><a href="javascript:void(0)" *ngFor="let page of pages" (click)="irAPagina(page)" [class.active]="page == activePage">{{page}}</a></li>
          <li (click)="irAPagina(activePage + 1)">
            <a href="javascript:void(0)" aria-label="Next">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
