<menu-lista></menu-lista>
<!-- modal agregar carrito -->
<div class="modal fade" id="carritoModalResumen" tabindex="-1" role="dialog" aria-labelledby="carritoLabel">
  <div class="modal-dialog modal-lg" role="document" *ngIf="formAgregar">
    <div class="modal-content modal-2">
      <div class="modal-header">
        <h4 class="modal-title text-center">Has añadido un regalo al carrito</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-sm-6">
                  <img src="https://img.matisses.co/{{formAgregar.itemcode}}/images/{{formAgregar.itemcode}}_01.jpg" class="img-responsive"
                    alt="{{formAgregar.itemname}}">
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="nombre-producto">
                        <b>{{formAgregar.itemname}}</b>
                      </p>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-xs-12">
                      <p class="referencia">
                        <b>Ref: </b>{{formAgregar.refcorta}}</p>
                      <!-- <h3 class="percentage">-{{formAgregar.descuento | number}}%</h3> -->
                      <h3 class="new-price">$ {{formAgregar.precio | number}}
                        <small>Iva incluido</small>
                      </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="cantidad-agregada">Cantidad:
                        <span>{{formAgregar.cantidadSeleccionada | number}}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 border-left">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 resumen-carrito">
                  <h4 class="total-items">
                    <b>{{totalItemsCarrito}}</b> ARTÍCULOS</h4>
                  <p class="total-precio">Subtotal de los productos:
                    <span class="pull-right">
                      <b>$ {{(totalCarrito -totalImpuestos) | number}}</b>
                    </span>
                  </p>
                  <p class="total-precio">Total impuestos:
                    <span class="pull-right">
                      <b>$ {{totalImpuestos | number}}</b>
                    </span>
                  </p>
                  <hr/>
                  <p class="total-precio">Total:
                    <span class="pull-right">
                      <b>$ {{(totalCarrito - totalDescuentos) | number}}</b>
                    </span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-seguir" data-dismiss="modal" aria-label="Close">
                        Seguir comprando
                      </button>
                    </div>
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-carrito" data-dismiss="modal" aria-label="Close" [routerLink]="['/resumen-regalos']">
                        Ir al carrito
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modalSinSaldo" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document" *ngIf="lastAddedItem">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Cantidad insuficiente</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 resumen-carrito">
                  <p>No se encontró cantidad suficiente para el ítem seleccionado:</p>
                  <br/>
                  <p>Cantidad disponible:
                    <b>{{lastAddedItem.availablestock}}</b>
                  </p>
                  <p>Cantidad solicitada:
                    <b>{{lastAddedItem.selectedQuantity}}</b>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 border-left">
              <div class="row">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-seguir" data-dismiss="modal" aria-label="Close">
                    Seguir comprando
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal bono-->
<div id="modalBono" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Ud ha seleccionado un bono de regalo</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 resumen-carrito">
                  <p>No puede seleccionar productos en el mismo proceso de compra de un bono de regalo.</p>
                </div>
              </div>
            </div>
            <div class="col-md-5 border-left">

              <div class="row">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-seguir" data-dismiss="modal" aria-label="Close">
                    Seguir comprando
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="contenedor">
    <!-- Información de la lista -->
    <hr class="rosa">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 text-center">
        <div class="perfil-imagen text-center">
          <!-- <span class="icon-camera" data-toggle="tooltip" data-placement="right" title="Personaliza tu foto de perfil"></span> -->
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <p class="titulo-listas">LISTA DE REGALOS DE</p>
        <h2 class="nombres" [innerHTML]="novios"> </h2>
        <br>
        <p class="codigo-lista">Código de novios
          <br>
          <span style="color:#D77D7D; font-size:30px;">{{codigoLista}}</span>
        </p>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <img src="../../../../assets/images/deco_01.png" class="jpg-responsive" alt="">
          </div>
        </div>
        <div class="fecha-dias">
          <p>Fecha de celebración: {{fechaEvento}}</p>
          <span class="icon-fecha icono-fecha"></span>
          <p class="dias">{{conteoDias}} días</p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <!-- carrito -->
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 text-right" id="carrito1">
        <div class="carrito" (click)="toggleResumen()">
          <span [ngClass]="{'icon-shopping-cart': (!resumenMobileVisible && !resumenDesktopVisible), 'icon-cerrar': (resumenMobileVisible || resumenDesktopVisible)}"></span>
          <span class="badge total-items-carrito-badge" *ngIf="showBadge && !resumenMobileVisible && !resumenDesktopVisible">{{totalItemsCarrito}}</span>
          <span class="bolsa-text">Bolsa de regalos</span>
        </div>
        <div id="resumen" class="resumen resumenmobile" (mouseleave)="closeResumen()">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 text-center">
                <br/>
                <p>Tu carrito contiene
                  <b id="totalItemsCarrito">({{totalItemsCarrito}})</b> productos</p>
              </div>
            </div>
            <div class="productos">
              <div class="row border" *ngFor="let item of shoppingCart.items">
                <div class="col-xs-3 text-center">
                  <img class="img-responsive imagen" src="https://img.matisses.co/{{item.itemcode}}/mini/{{item.itemcode}}_01.jpg" alt="{{item.itemname}}">
                </div>
                <div class="col-xs-9">
                  <div class="row">
                    <div class="col-xs-7">
                      <p class="nombre">
                        <b>{{item.itemname}}</b>
                      </p>
                    </div>
                    <div class="col-xs-5 text-right precio" *ngIf="!item.priceafterdiscount || item.priceafterdiscount === 0 || item.priceafterdiscount === item.pricebeforediscount">
                      <p>$ {{item.priceaftervat | number}}</p>
                    </div>
                    <div class="precio-discount" *ngIf="item.priceafterdiscount && item.priceafterdiscount > 0">
                      <h5>$ {{item.priceaftervat | number:0}}</h5>
                      <h4>$ {{item.priceafterdiscount | number:0}}</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-7">
                      <p class="cantidad">
                        <b>Cantidad</b>
                      </p>
                      <p class="numero">{{item.selectedQuantity}}</p>
                    </div>
                    <div class="col-xs-5 text-right">
                      <span *ngIf="mostrarBotonEliminar()" class="glyphicon glyphicon-trash trash" (click)="eliminarItem(item)"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--Bono-->
              <div class="row border" *ngIf="shoppingCart.bono.valor > 0">
                <div class="col-xs-3 text-center">
                  <img src="../../assets/images/bono.jpg" class="jpg-responsive" alt="Bono de Regalo">
                </div>
                <div class="col-xs-9">
                  <div class="row">
                    <div class="col-xs-7">
                      <p class="nombre">
                        <b>Bono de Regalo</b>
                      </p>
                    </div>
                    <div class="col-xs-5 text-right precio">
                      <p>$ {{shoppingCart.bono.valor | number}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-7">
                      <p class="cantidad">
                        <b>Cantidad</b>
                      </p>
                      <p class="numero">1</p>
                    </div>
                    <div class="col-xs-5 text-right">
                      <span *ngIf="mostrarBotonEliminar()" class="glyphicon glyphicon-trash trash" (click)="eliminarBono()"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-right">
                <hr/>
                <p class="subtotal">Subtotal
                  <b>$ {{(totalCarrito -totalDescuentos) | number}}</b>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-center btn-izq" *ngIf="shoppingCart.bono.valor == 0">
                <p class="boton" [routerLink]="['/resumen-regalos']">ir al carrito</p>
              </div>
              <div class="col-xs-6 text-center btn-der">
                <p class="boton" [routerLink]="['/info-pago-regalos']">Ir a pagar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- campo buscar -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8 text-right">
        <form (submit)="search()">
          <div class="input-group buscador">
            <input id="searchField" [(ngModel)]="keywords" name="keywords" type="text" class="form-control" placeholder="Busca productos en tu lista">
            <span class="input-group-addon icon-lupa" id="basic-addon1"></span>
          </div>
        </form>
      </div>
    </div>
    <!-- botones como mostrar los productos -->
    <div class="row" *ngIf="itemsListaBcs.length > 0">
      <div class="col-md-4 text-center">
        <div class="mostrar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{itemsXPag}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" *ngIf="aceptaBono">
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(11)">11 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(23)">23 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(35)">35 x pag</a>
              </li>
              <li *ngIf="totalItems < 100">
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a>
              </li>
            </ul>
            <ul class="dropdown-menu" *ngIf="!aceptaBono">
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a>
              </li>
              <li *ngIf="totalItems < 100">
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="ordenar">
          <div class="btn-group">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span [innerHTML]="orderByStr">
              </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center" *ngIf="pages.length > 1">
        <ul class="pagination">
          <li (click)="irAPagina(activePage - 1)">
            <a href="javascript:void(0)" aria-label="Previous">
              <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" *ngFor="let page of pages" (click)="irAPagina(page)" [class.active]="page == activePage">{{page}}</a>
          </li>
          <li (click)="irAPagina(activePage + 1)">
            <a href="javascript:void(0)" aria-label="Next">
              <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <!-- Informacón cuando hay productos agregados -->
    <div class="row" *ngIf="itemsListaBcs && itemsListaBcs.length > 0">
      <!-- Bono regalo -->
      <div class="col-sm-3 col-xs-6 producto bono-regalo" *ngIf="aceptaBono">
        <div class="error-cantidad">
          <div class="row" *ngIf="messageError != null && messageError.length > 0">
            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert">
                <p>{{messageError}}</p>
              </div>
            </div>
          </div>
        </div>
        <img src="../../assets/images/bono.jpg" class="jpg-responsive" alt="">
        <p class="nombre">
          <b>BONO REGALO</b>
        </p>
        <p class="referencia oculto">Ref</p>
        <input type="number" class="precio" placeholder="Ingrese monto" [(ngModel)]="montoBono">
        <p class="solicitados">Mínimo $ {{minimoBono | number}}</p>
        <p class="solicitados oculto">Comprados:</p>
        <br>
        <div class="row">
          <div class="col-sm-5 col-xs-6 col-xs-offset-3 col-sm-offset-0 padding-right-0 visible-xs oculto">
            <form>
              <div class="input-group">
                <span class="input-group-addon span-cantidad">
                  <button type="button" class="icon-minus btn-cantidad" name="button"></button>
                </span>
                <input class="input-cantidad form-control" type="tel" />
                <span class="input-group-addon span-cantidad">
                  <button type="button" class="icon-plus btn-cantidad" name="button"></button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <button type="button" class="btn btn-regalar" (click)="agregarBono(montoBono)">
              <span class="icon-regalar_1"></span>
              Regalar bono
            </button>
          </div>
        </div>
      </div>
      <!-- productos -->
      <div class="col-sm-3 col-xs-6 producto" *ngFor="let item of items; let i = index">
        <div class="error-cantidad">
          <div class="row" *ngIf="items[i].messageError != null && items[i].messageError.length > 0">
            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert">
                <p>{{items[i].messageError}}</p>
              </div>
            </div>
          </div>
        </div>
        <img src="https://img.matisses.co/{{items[i].itemcode}}/parrilla/{{items[i].itemcode}}_01.jpg" class="jpg-responsive" alt="{{items[i].itemname}}">
        <p class="nombre">
          <b>{{items[i].itemname}}</b>
        </p>
        <p class="referencia">
          <b>Ref: </b>{{items[i].shortitemcode}}</p>
        <p class="precio">
          <b>$ {{items[i].priceaftervat | number}}</b>
        </p>
        <p class="solicitados">Solicitados:
          <b>{{items[i].cantidadElegida}}</b>
        </p>
        <p class="solicitados">Comprados:
          <b>{{items[i].cantidadComprada}}</b>
        </p>
        <br>
        <div class="row">
          <div class="col-sm-5 col-xs-8 col-xs-offset-2 col-sm-offset-0 padding-right-0">
            <form>
              <div class="input-group" *ngIf="items[i].cantidadElegida > items[i].cantidadComprada">
                <span class="input-group-addon span-cantidad" (click)="reducirCantidad(items[i])">
                  <button type="button" class="icon-minus btn-cantidad" name="button"></button>
                </span>
                <input class="input-cantidad form-control" type="tel" name="items[i].selectedQuantity" min="1" max="items[i].cantidadElegida"
                  [(ngModel)]="items[i].selectedQuantity" readonly="readonly" />
                <span class="input-group-addon span-cantidad" (click)="aumentarCantidad(items[i])">
                  <button type="button" class="icon-plus btn-cantidad" name="button"></button>
                </span>
              </div>
            </form>
          </div>
          <div class="col-sm-7 col-xs-10 col-xs-offset-1 col-sm-offset-0">
            <button type="button" class="btn btn-regalar" (click)="agregarCarrito(items[i])" *ngIf="items[i].cantidadElegida > items[i].cantidadComprada">
              <span class="icon-regalar_1"></span>
              Regalar
            </button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- botones como mostrar los productos -->
    <div class="row" *ngIf="itemsListaBcs.length > 0">
      <div class="col-md-4 text-center">
        <div class="mostrar">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{itemsXPag}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" *ngIf="aceptaBono">
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(11)">12 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(23)">24 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(35)">36 x pag</a>
              </li>
              <li *ngIf="totalItems < 100">
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a>
              </li>
            </ul>
            <ul class="dropdown-menu" *ngIf="!aceptaBono">
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a>
              </li>
              <li *ngIf="totalItems < 100">
                <a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="ordenar">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span [innerHTML]="orderByStr">
              </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="ordenar">
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center" *ngIf="pages.length > 1">
        <ul class="pagination">
          <li (click)="irAPagina(activePage - 1)">
            <a href="javascript:void(0)" aria-label="Previous">
              <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" *ngFor="let page of pages" (click)="irAPagina(page)" [class.active]="page == activePage">{{page}}</a>
          </li>
          <li (click)="irAPagina(activePage + 1)">
            <a href="javascript:void(0)" aria-label="Next">
              <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="hidden-lg hidden-md hidden-sm hidden-xs">
  <matisses-carrito-regalos-simple></matisses-carrito-regalos-simple>
</div>