<matisses-header></matisses-header>

<div sticky-body>

  <div class="container-fluid padding-0 padding-top">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="img-banner">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h2>Ahora puedes pagar tus productos hasta en 12 cuotas sin intereses</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4 style="font-size:100px; margin:0; margin-right:15px">12</h4>
        <h4 style="font-size:24px; margin:0; margin-right:15px">CUOTAS</h4>
        <h4 style="font-size:16px; margin:0; margin-right:15px">SIN INTERÉS</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h4 style="font-size:24px; margin-bottom:15px; margin-top:20px; text-align:center ">Con las tarjetas de estos <b>bancos</b></h4>
        <div class="row">
          <div class="col-xs-3">
            <img src="assets/images/bancocolombia.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-xs-3">
            <img src="assets/images/logo_02.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-xs-3">
            <img src="assets/images/colpatria_02.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-3">
            <img src="assets/images/bancobogota.jpg" class="img-responsive" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 style="font-size:16px">Términos y condiciones de MercadoLibre</h1>
        <ul style="font-size:10px;">
          <li>Esta estrategia aplica para compras de productos seleccionados en <a href="http://www.mercadolibre.com.co" target="_blank">www.mercadolibre.com.co</a> y diferidos únicamente hasta 12 meses.</li>
          <li>Los productos con el beneficio de “cuotas sin interés” serán identificados con la frase “sin interés”.</li>
          <li>La calidad e idoneidad de los productos son responsabilidad de los vendedores registrados en el portal de MercadoLibre.</li>
          <li> La tasa del 0% será aplicada por el banco que se encuentre en la estrategia.</li>
          <li>No aplica para todas las tarjetas. Consulte con su banco que tarjetas aplican para esta estrategia.</li>
          <li>El beneficio del 0% no aplica para la categoría de celulares con las tarjetas Colpatria.</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
