<matisses-header></matisses-header>

<div sticky-body>

  <div class="container-fluid padding-0 padding-top">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="img-banner">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="title">
                    <h2>COMPRA A CRÉDITO</h2>
                    <p>Los productos que siempre<br>QUISISTE PARA TU HOGAR</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3 text-center" style="background-color: #729992; color: #FFF;">
        <h4 style="font-size:100px; margin-bottom:0; margin-top:0px;">12</h4>
        <h4 style="font-size:24px; margin:0;">CUOTAS</h4>
        <h4 style="font-size:16px; margin-top:0;">SIN INTERÉS</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
        <div class="title-bancos">
          <h4>Con las tarjetas de estos <b>bancos</b></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <div class="bancos">
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <img src="assets/images/bancocolombia.jpg" class="img-banco" alt="">
            </div>
            <div class="col-xs-6 col-sm-4">
              <img src="assets/images/logo_02.jpg" class="img-banco" alt="">
            </div>
            <div class="col-xs-6 col-sm-4">
              <img src="assets/images/colpatria_02.png" class="img-banco" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid padding-0">
    <div class="bg-video">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <div class="paso-paso">
              <h3>Cómo comprar sin intereses</h3>
              <hr/>
              <ul>
                <li>Navega nuestro sitio web <b>www.matisses.co</b> y encuentra el producto que deseas.</li>
                <li>Dar clic en la opción <b>Ir a comprar hasta en 12 cuotas.</b></li>
                <li>Serás redireccionado a <b>MercadoLibre</b> donde tendrás que iniciar sesión</li>
                <li>Sigue los pasos de facturación y espera el envío de tu producto</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <iframe src="https://www.youtube.com/embed/T8V9WhTTxyw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <productos-recomendados></productos-recomendados>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 style="font-size:16px; margin-top:0">Términos y condiciones de MercadoLibre</h1>
        <ul style="font-size:14px;">
          <li>Esta estrategia aplica para compras de productos seleccionados en <a href="http://www.mercadolibre.com.co" target="_blank">www.mercadolibre.com.co</a> y diferidos únicamente hasta 12 meses.</li>
          <li>Los productos con el beneficio de “cuotas sin interés” serán identificados con la frase “sin interés”.</li>
          <li>La calidad e idoneidad de los productos son responsabilidad de los vendedores registrados en el portal de MercadoLibre.</li>
          <li> La tasa del 0% será aplicada por el banco que se encuentre en la estrategia.</li>
          <li>No aplica para todas las tarjetas. Consulte con su banco qué tarjetas aplican para esta estrategia.</li>
          <li>El beneficio del 0% no aplica para la categoría de celulares con las tarjetas Colpatria.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
