.stuck-body {
  margin-top: 125px;
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.img-banner {
  background: url(../../../assets/images/banner-sin-interes.jpg) no-repeat center center;
  background-position: center center;
  min-height: 350px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ir-comprar {
  background-color: #6D9791;
  color: #ECECEC;
  z-index: 0 !important;
  border-radius: 0;
  margin-top: 10px;
}

.ir-comprar:hover {
  background-color: #425E63 !important;
}

.img-banner .title {
  position: absolute;
  color: #6d9791;
  left: 0;
  width: 400px;
  margin-top: 8%;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #6d9791;
}

.title p {
  color: #5b5b5b;
}

iframe {
  width: 560px;
  height: 315px;
}

.bg-video {
  background-color: #EDEDED;
  padding: 25px 0;
  margin: 20px 0;
}

.paso-paso {
  margin: 100px 0;
}

@media screen and (max-width: 1200px) {
  iframe {
    width: 480px;
    height: 270px;
  }
  .paso-paso {
    margin: 55px 0;
  }
}

@media screen and (max-width: 991px) {
  .stuck-body {
    margin-top: 0px;
  }
  .content {
    margin-top: -10px;
  }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 500px) {
  .img-banner {
    min-height: 150px;
  }
  .img-banner h2 {
    font-size: 20px;
    padding: 10px;
    width: 200px;
  }
  iframe {
    width: 100%;
    height: 216px;
  }
}

@media screen and (max-width: 375px) {
  iframe {
    height: 194px;
  }
}

@media screen and (max-width: 320px) {
  iframe {
    height: 163px;
  }
}
