.top-footer {
  list-style: none;
  border-bottom: 1px solid #5B5B5B;
  margin-bottom: 15px;
}

.top-footer ul {
  padding-left: 0;
}

.top-footer li {
  display: inline-block;
}

.top-footer li a {
  display: block;
  padding: 0px 10px;
  color: #5B5B5B;
}

.top-footer li a:hover {
  text-decoration: none;
  color: #1b1a1a;
}

.border-left {
  border-left: 1px solid;
}

.footer-main {
  min-height: 50px;
}

.footer-main p {
  margin-bottom: 0;
}

.newsletter-group {
  border: 1px solid #EAEAEA;
  margin-top: 15px;
}

.input-mail {
  width: 100%;
  height: 34px;
  padding-left: 10px;
  border: none;
}

.icon-chevron {
  background-color: transparent;
  color: #5B5B5B;
}

.footer-main ul {
  padding-left: 0;
  margin-top: 25px;
}

.footer-main ul li {
  text-decoration: none;
  display: inline-block;
  padding: 0 6px;
}

.footer-main ul li a {
  color: #5B5B5B;
  font-size: 30px;
  text-decoration: none;
}

hr {
  margin-bottom: 10px;
  border: 1px solid #5B5B5B;
}

.inline-block {
  display: inline-block;
}

.end-footer p {
  padding: 0 10px;
}
