h3::before {
  content: '- ';
  position: absolute;
  top: 50px;
  height: 5px;
  width: 25px;
  color: transparent;
  background-color: #5B5B5B;
}

.carrito {
  font-size: 16px !important;
  color: #750229;
}

p {
  margin: 0px;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.descubre-mas {
  cursor: pointer;
  border-bottom: 1px solid #5B5B5B;
}

.wish-list {
  font-size: 25px;
  text-align: center;
}
