h3::before {
  content: '- ';
  position: absolute;
  top: 50px;
  height: 5px;
  width: 25px;
  color: transparent;
  background-color: #5B5B5B;
}

.nombre-producto {
  height: 40px;
}

.agregar:hover {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.carrito {
  font-size: 16px !important;
  color: #750229;
}

p {
  margin: 0px;
}

h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.descubre-mas {
  cursor: pointer;
  border-bottom: 1px solid #5B5B5B;
}

.wish-list {
  font-size: 25px;
  text-align: center;
}

/* Estilos carousel */

section {
  overflow-y: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  opacity: 1;
}

.article {
  display: inline-block;
  max-width: 33%;
}

@media screen and (max-width: 900px) {
  .article {
    max-width: 50%;
  }
}

@media screen and (max-width: 630px) {
  .article {
    max-width: 100%;
  }
}
