h3::before {
  content: '- ';
  position: absolute;
  top: 50px;
  height: 5px;
  width: 25px;
  color: transparent;
  background-color: #5B5B5B;
}

.compra-ya {
  border: 1px solid #5B5B5B;
  cursor: pointer;
  color: #5B5B5B;
  padding: 5px 10px;
  font-weight: 700;
  font-style: italic;
  background-color: transparent;
  margin-bottom: 20px;
}

.compra-ya:focus {
  outline: none;
  box-shadow: none;
}

.compra-ya:hover {
  background-color: #ECECEC;
}
