.stuck-body {
  margin-top: 125px;
}

.title h3 {
  margin: 0;
  color: #5B5B5B;
}

.padding-l-20 {
  padding: 0 20px;
}

.padding-0 {
  padding: 5px;
  color: #5B5B5B;
}

.separated::before {
  content: '-';
  color: transparent;
  height: 410px;
  width: 1px;
  background-color: #D1D1D1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.medellin {
  background: url(../../../assets/images/medellin.jpg) no-repeat center top;
  margin-top: 0px;
  padding-top: 10px;
  background-attachment: relative;
  background-position: center top;
  min-height: 300px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bogota {
  background: url(../../../assets/images/bogota.jpg) no-repeat center top;
  margin-top: 0px;
  padding-top: 10px;
  background-attachment: relative;
  background-position: center top;
  min-height: 300px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.border-left {
  border-left: 1px solid #D1D1D1;
}

.mapa {
  height: 300px;
}

.info {
  margin-top: 15px;
  color: #5B5B5B;
}

.info span {
  color: #6D9197;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .stuck-body {
    margin-top: 0px;
  }
  .content {
    margin-top: 25px;
  }
  .medellin, .bogota {
    min-height: 400px;
  }
  .mapa {
    height: 400px;
  }
  .separated::before {
    content: none;
  }
}

@media screen and (max-width: 767px) {
  .medellin {

  }
  .mapa {

  }
}

@media screen and (max-width: 500px) {
  .medellin, .bogota {
    min-height: 200px;
  }
  .mapa {
    height: 200px;
  }
}
