<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="title text-center">
                    <br>
                    <div class="row">
                      <div class="col-sm-4 col-sm-offset-4 text-center">
                        <img src="../../../../assets/images/secciones/1/logo.png" class="jpg-responsive" alt="">
                      </div>
                    </div>
                    <p class="sub-title-seccion">
                      <b style="color:#00636A;">Cocinar</b> puede ser divertido, rápido y práctico</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 overflow-h">
                  <p class="name-coleccion" [routerLink]="['/producto/2310600']">DISPENSADOR</p>
                  <img src="../../../../assets/images/secciones/1/miniatura1.jpg" class="jpg-responsive" alt="">
                  <br class="visible-xs">
                  <br class="visible-xs">
                </div>
                <div class="col-sm-4 overflow-h">
                  <p class="name-coleccion" [routerLink]="['/producto/2310664']">PINZA BARBACOA</p>
                  <a href="javascript:void(0)"></a>
                  <img src="../../../../assets/images/secciones/1/miniatura2.jpg" class="jpg-responsive" alt="">
                  <br class="visible-xs">
                  <br class="visible-xs">
                </div>
                <div class="col-sm-4 overflow-h">
                  <p class="name-coleccion" [routerLink]="['/producto/2310677']">CUCHARÓN TEMPORIZADOR</p>
                  <a href="javascript:void(0)"></a>
                  <img src="../../../../assets/images/secciones/1/miniatura3.jpg" class="jpg-responsive" alt="">
                  <br class="visible-xs">
                  <br class="visible-xs">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 cursor-pointer" [routerLink]="['/producto/2310683']">
      <br>
      <img src="../../../../assets/images/secciones/1/producto-1.jpg" class="jpg-responsive" alt="">
    </div>
    <div class="col-sm-6 cursor-pointer" [routerLink]="['/producto/2310684']">
      <br>
      <img src="../../../../assets/images/secciones/1/producto-2.jpg" class="jpg-responsive" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-5 text-center">
      <button class="btn btn-todos" [routerLink]="['/categoria']" [queryParams]="{ orderBy: 'price', brand: '0016', collection: 'Hello FUNctionals' }">Ver todos</button>
    </div>
  </div>
</div>