<matisses-header></matisses-header>

<div sticky-body>
  <div class="container padding-top">
    <!-- Miga de pan
    <miga-de-pan></miga-de-pan> -->
    <!-- Miga de pan -->
    <!-- Imagen categoria -->
    <div class="row" *ngIf="queryParams.has('group') && !queryParams.has('discount')">
      <div class="col-xs-12">
        <div class="img-category">
          <h2>{{nombreGrupo}}</h2>
        </div>
      </div>
    </div>
    <!-- Imagen evento sale -->
    <div class="row" *ngIf="queryParams.has('discount')">
      <div class="col-xs-12">
        <div class="img-sale">
        </div>
      </div>
    </div>
    <!-- Imagen secciones -->
    <div class="row" *ngIf="tieneCategoria === 1">
      <div class="col-xs-12">
        <div class="img-seccion calia">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="tieneCategoria === 2">
      <div class="col-xs-12">
        <div class="img-seccion plantui">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="tieneCategoria === 3">
      <div class="col-xs-12">
        <div class="img-seccion boska">
        </div>
      </div>
    </div>
    <!-- Resto de contenido -->
    <br/>
    <div class="row">

      <div class="col-md-3">
        <filtros-matisses #filtros></filtros-matisses>
      </div>

      <div class="col-md-9">
        <productos-matisses></productos-matisses>
      </div>

    </div>
  </div>
</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>