<matisses-header></matisses-header>

<div sticky-body>
  <div class="container padding-top">
    <!-- Miga de pan
    <miga-de-pan></miga-de-pan> -->
    <!-- Miga de pan -->
    <!-- Imagen categoria -->
    <div class="row" *ngIf="queryParams.has('group')">
      <div class="col-xs-12">
        <div class="img-category">
          <h2>{{nombreGrupo}}</h2>
        </div>
      </div>
    </div>
    <!-- Imagen categoria -->
    <br/>
    <div class="row">

      <div class="col-md-3">
        <filtros-matisses #filtros></filtros-matisses>
      </div>

      <!-- <div class="btn-matisses">
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-default" (click)="openFilter()">ABRIR FILTROS</button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 visible-sm visible-xs">
        <div id="myFilter" class="fondo-filtro">
          <a href="javascript:void(0)" class="closebtn" (click)="closeFilter()">&times;</a>
          <div class="fondo-filtro-content">
            <button type="button" class="btn btn-default" (click)="closeFilter()">ABRIR FILTROS</button>
            <filtros-matisses #filtros></filtros-matisses>
          </div>
        </div>
      </div> -->

      <div class="col-md-9">
        <productos-matisses></productos-matisses>
      </div>

    </div>
  </div>
</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
