<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <div class="title text-center">
                    <h3 class="title-seccion">Barbacoa todos los días</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-12">
                      <a href="javascript:void(0)" [routerLink]="['/producto/2240014']">
                        <img src="../../../../assets/images/secciones/4/parrilla.jpg" class="jpg-responsive" alt="">
                      </a>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-12">
                      <a href="javascript:void(0)" [routerLink]="['/producto/2310682']">
                        <img src="../../../../assets/images/secciones/4/pinzas.jpg" class="jpg-responsive" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-12">
                      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ page: '1', pageSize: '10000', orderBy: 'price', collection: 'Grand Gourmet' }">
                        <img src="../../../../assets/images/secciones/4/grand-gourmet.jpg" class="jpg-responsive" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>