<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-sm-6">
                  <br>
                  <a href="javascript:void(0)" [routerLink]="['/blog']">
                    <img src="../../../../assets/images/secciones/4/miniatura1.jpg" class="jpg-responsive" alt="">
                  </a>
                </div>
                <div class="col-sm-6">
                  <br>
                  <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', group: '015', subgroup: '056', brand: '0009' }">
                    <img src="../../../../assets/images/secciones/4/miniatura2.jpg" class="jpg-responsive" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>