<div class="container-fluid padding-0">
    <div class="back-01">
      <div class="row">
        <div class="col-xs-12">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-4 overflow-h">
                    <br>
                    <br>
                    <img src="../../../../assets/images/secciones/4/miniatura1.jpg" class="jpg-responsive" alt="">
                    <br class="visible-xs">
                    <br class="visible-xs">
                  </div>
                  <div class="col-sm-4 overflow-h">
                    <br>
                    <br>
                    <p class="name-coleccion" [routerLink]="['/producto/2260074']">TAZAS ROCCO</p>
                    <a href="javascript:void(0)"></a>
                    <img src="../../../../assets/images/secciones/4/miniatura2.jpg" class="jpg-responsive" alt="">
                    <br class="visible-xs">
                    <br class="visible-xs">
                  </div>
                  <div class="col-sm-4 overflow-h">
                    <br>
                    <br>
                    <p class="name-coleccion" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'argent' }">COLECCIÓN ARGENT</p>
                    <a href="javascript:void(0)"></a>
                    <img src="../../../../assets/images/secciones/4/miniatura3.jpg" class="jpg-responsive" alt="">
                    <br class="visible-xs">
                    <br class="visible-xs">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 cursor-pointer" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'dune', brand: '0010' }">
        <br>
        <img src="../../../../assets/images/secciones/4/miniaturas4.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-sm-6 cursor-pointer" [routerLink]="['/categoria']" [queryParams]="{ keywords: 'vintage', brand: '0010' }">
        <br>
        <img src="../../../../assets/images/secciones/4/miniaturas5.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
  </div>