<div class="row">
  <div class="col-sm-12">
    <img src="../../../assets/images/blog/muebles-cuero.jpg" class="jpg-responsive" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title-blog">CUERO, EL MATERIAL QUE NO PASA DE MODA EN MOBILIARIO.</h2>
        <p class="text-justify">Si pensamos en el cuero como material para nuestro mobiliario, tenemos que tener presente que este material será
          de esos que nos transmiten sutileza y confort, además de ser un material que perdura en el tiempo, no solo por
          su calidad, también porque no pasa de moda.
          <br>
          <br>Cuando tomamos la decisión de usar cuero en nuestros espacios, sabemos que estos llevaran ese toque que crea ambientes
          elegantes, sin desconocer el status que este material da.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/blog/muebles-cuero-02.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>TENDENCIAS EN CUERO</h3>
        <p class="text-justify">En cuero hay una gran variedad de productos, los infaltables sofás, que siempre darán ese toque de sobriedad que
          buscamos, también podemos recurrir a este material, en nuestra habitación como en la cabecera de nuestra cama,
          creando un equilibrio de materiales interesante en el espacio. Nuestras sillas de comedor también pueden ir en
          cuero, y darle fuerza y durabilidad a estas. No podemos desconocer que un factor muy importante es determinar el
          espacio donde pondremos este mobiliario de cuero ya que de esta decisión podremos partir para el cuidado de nuestros
          elementos, y así poder usar productos que mantengan su coloración y brillo.
          <br>
          <br>Para centrarnos en el tema de color y acabados, manejar detalles dorados o toques de color, funciona muy bien con
          el mobiliario en piel, recordando que en el mercado se pueden encontrar sofás en piel con múltiples colores, los
          cuales funcionan muy bien.
          <br>
          <br>Cuando se tiene mobiliario en cuero se crea un carácter fuerte donde el ambiente se torna básico y “puro”, generando
          ese aire contemporáneo que funciona muy bien en distintos espacios. Sin desconocer que la piel va con distintos
          estilos según tu personalidad.
          <br>
          <br>Poder hacer de tu mobiliario una obra maestra es posible, es cuestión de poner atención a los detalles en tu espacio.
          En Matisses contamos con múltiples opciones para llenar tu casa con las últimas tendencias en cuero, para ese look
          que buscas para todas las ocasiones.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/blog/muebles-cuero-03.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
  </div>
</div>