.jpg-responsive {
  width: 100%;
  height: 100%;
}

.registro {
  position: absolute;
  width: 100%;
}

.registro p, .registro button {
  display: inline-block;
  margin: 10px 5px;
}

.baskerville {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text";
  font-size: 25px;
  margin-bottom: 0px;
}

.btn-registrate {
  background-color: #6D9791;
  color: #FFF;
  border-radius: 0;
}

.title {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text";
  color: #6D9791;
  font-size: 20px;
  font-weight: 500;
}

.title::after {
  content: ' ';
  position: absolute;
  width: 51px;
  height: 1px;
  border-bottom: 2px dotted #6D9791;
  left: 32%;
  bottom: 5px;
}

.text {
  text-align: justify;
}