<matisses-header></matisses-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="banner-01"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="registro">
        <p class="baskerville">!Convierte los espacios de tus clientes en toda una experiencia!</p>
        <button class="btn btn-registrate" (click)="irALogin()">Registrate</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="banner-02"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="baskerville text-center">¿CÓMO SER UN DECORADOR MATISSES?</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center">
          <p class="title">Paso 1</p>
        </div>
        <div class="col-sm-9">
          <p class="text">Para ser un decorador Matisses, lo primordial es ser dinámico, apasionado por el diseño, y estar en constante evolución con las tendencias. Regístrate en la plataforma, allí son necesarios todos tus datos. Además se deben cargar algunos documentos obligatorios para tu inscripción, esto es parte del protocolo.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center">
          <p class="title">Paso 2</p>
        </div>
        <div class="col-sm-9">
          <p class="text">Una vez te registres y subas tus datos, recibirás un correo de confirmación cuando examinemos tus documentos. Después de esto podrás empezar a brindarle a todos tus usuarios una experiencia cargada de diseño  y productos llenos de calidad.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<matisses-footer></matisses-footer>
