<matisses-header></matisses-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img src="../../../../assets/images/decoradores.jpg" class="jpg-responsive" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="registro">
        <p class="baskerville">!Convierte los espacios de tus clientes en toda una experiencia!</p>
        <button class="btn btn-registrate">Registrate</button>
      </div>
      <img src="../../../../assets/images/fondo-02.jpg" class="jpg-responsive" alt="">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <img src="../../../../assets/images/decoradores-02.jpg" class="jpg-responsive" alt="">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="baskerville text-center">¿CÓMO SER UN DECORADOR MATISSES?</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center">
          <p class="title">Paso 1</p>
        </div>
        <div class="col-sm-9">
          <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatem quasi excepturi ducimus ab aut consequuntur
            perferendis ratione! Libero, ipsam vero dolor cupiditate aliquam repudiandae dolore voluptas accusantium eum
            nulla.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3 text-center">
          <p class="title">Paso 2</p>
        </div>
        <div class="col-sm-9">
          <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatem quasi excepturi ducimus ab aut consequuntur
            perferendis ratione! Libero, ipsam vero dolor cupiditate aliquam repudiandae dolore voluptas accusantium eum
            nulla.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<matisses-footer></matisses-footer>