.stuck-body {
  margin-top: 130px;
}

.container {
  color: #5B5B5B;
  padding-top: 20px
}

.border-both {
  border-left: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
}

.titulo {
  background-color: #EDEDED;
  color: #5B5B5B;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 20px;
}

.titulo p {
  margin: 0;
  font-weight: 700;
}

label {
  font-weight: normal;
  margin-top: 10px;
}

.info-envio label {
  font-size: 12px;
}

.btn-continuar {
  background-color: #6D9791;
  padding: 10px 0px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border: 0;
}

.arrow {
  position: absolute;
  top: 27%;
  margin-left: 5px;
  transition: 0.5s;
}

.btn-continuar:hover>.arrow {
  margin-left: 15px;
}

.btn-continuar:hover {
  background-color: #425E63;
}

.resumen-pago p {
  margin-top: 15px;
}

.resumen-pago h4 {
  margin: 0;
}

.resumen-pago .border-bottom {
  border-bottom: 1px dotted #D1D1D1;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #6D9197;
  /* green */
}

.ng-touched.ng-invalid[required], .ng-untouched.ng-pristine.ng-invalid[required].required-field {
  border-left: 5px solid #65092D;
  /* red */
}

.info_recoger_item {
  background-color: #EDEDED;
  padding: 10px;
  text-align: justify;
}

@media screen and (max-width: 991px) {
  .stuck-body {
    margin-top: 0px;
  }
  .container {
    padding-top: 60px
  }
}

@media screen and (max-width: 767px) {
  .border-both {
    border-left: none;
    border-right: none;
  }
}
