.container {
  color: #5B5B5B;
}

.contenido {
  min-height: 500px
}

.border-left {
  border-left: 1px solid #d1d1d1;;
}

.titulo {
  background-color: #f1f1f1;
  color: #5B5B5B;
  text-align: center;
  padding: 5px 0px;
  margin-bottom: 20px;
}

.titulo p {
  margin: 0;
  font-weight: 700;
}

label {
  font-weight: normal;
}

.img-responsive {
  margin-left: 30%;
}

.btn-continuar {
  background-color: #700000;
  padding: 10px 0px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 27%;
  margin-left: 5px;
  transition: 0.5s;
}

.btn-continuar:hover > .arrow {
  margin-left: 15px;
}

.btn-continuar:hover {
  background-color: #500000;
}
