<matisses-header></matisses-header>

<div sticky-body>
  <div class="container">
    <!-- Miga de pan -->
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="active">Carrito de compra</li>
        </ol>
      </div>
    </div>
    <!-- Miga de pan -->
    <div class="row visible-xs">
      <div class="col-xs-12">
        <p class="btn-continuar">Proceder al pago <span class="arrow glyphicon glyphicon-circle-arrow-right"></span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-xs-12">
            <div class="title">
              <h4>Tu carrito de compra <small>contiene <b>({{number}})</b> productos.</small></h4>
            </div>
          </div>
        </div>
        <div class="productos">
          <div class="row producto" *ngFor="let item of items">
            <div class="col-md-3 col-sm-4">
              <img src="assets/images/recommended/{{item.itemcode}}.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-0">
              <div class="row">
                <div class="col-md-12">
                  <p class="item-name"><b>{{item.itemname}}</b></p>
                </div>
                <div class="col-md-12">
                  <div class="info">
                    <div class="row">
                      <div class="col-xs-3">
                        <p>Precio</p>
                        <p><b>$ {{item.price | number}}</b></p>
                      </div>
                      <div class="col-xs-3">
                        <p>Cantidad</p>
                        x <input type="number" value="{{number}}">
                      </div>
                      <div class="col-xs-3">
                        <p>Total</p>
                        <p><b>$ {{item.price | number}}</b></p>
                      </div>
                      <div class="col-xs-3 text-center">
                        <span class="trash glyphicon glyphicon-trash"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row hidden-xs">
          <div class="col-xs-5">
            <p class="btn-continuar">Proceder al pago <span class="arrow glyphicon glyphicon-circle-arrow-right"></span></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12">
                <p class="btn-continuar">Proceder al pago <span class="arrow glyphicon glyphicon-circle-arrow-right"></span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h4>Resumen del pedido:</h4>
                <h5><b>{{number}}</b> productos.</h5>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-xs-6">
                <h4>Subtotal</h4>
              </div>
              <div class="col-xs-6">
                <h4><b>${{price | number}}</b></h4>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-xs-6">
                <h5>Descuentos</h5>
              </div>
              <div class="col-xs-6">
                <h4>$ 0</h4>
              </div>
            </div>
            <div class="total">
              <div class="row">
                <div class="col-xs-6">
                  <h5>Total</h5>
                </div>
                <div class="col-xs-6">
                  <h4>${{price | number}}</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p class="btn-seguir-comprando">Continuar comprando</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<matisses-footer></matisses-footer>
