<matisses-header></matisses-header>

<div sticky-body>


  <div class="leer-mas hidden-md hidden-sm hidden-lg">
    <p>Leer mas</p>
    <span class="glyphicon glyphicon-menu-down"></span>
  </div>


  <div class="container-fluid padding-0 grey-bg padding-top">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="row" id="promo">
                <div class="col-md-6">
                  <img src="../../../assets/images/promo-tiquetes_1.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-4 col-md-offset-1 text-center">
                  <br>
                  <h3 style="border-top: 1px solid #444243; border-bottom: 1px solid #444243; margin-top: 0; font-size: 20px;">Por tus compras en Matisses</h3>
                  <img src="../../../assets/images/tiquetes2.png" class="img-responsive" alt="">
                  <br>
                  <p class="text-justify" style="font-size: 15px;">Si vives fuera de Medellín y quieres comprar nuestros productos ¡te lo hacemos más fácil! devolviéndote el valor total de tus tiquetes aéreos, además te facilitamos el transporte desde el aeropuerto José María Córdova hasta nuestra tienda
                    ida y regreso.</p>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <p><b>*Para hacerlo efectivo presenta de forma física o digital tu tiquete. Los tiquetes no deben superar un valor de $1.000.000 y tus compras deberán ser de minímo $5.000.000.
                    Envío gratis por compras superiores a $7.000.000. Aplican condiciones y restricciones.
          </b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="portada"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="comunicado">
      <div class="col-xs-12 text-center">
        <h1>APRECIADO CLIENTE</h1>
      </div>
    </div>
    <br/>
  </div>
  <div class="container-fluid padding-0 grey-bg">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <p>Debido a motivos ajenos a nuestra operación, nuestra tienda de Bogotá será reubicada en otro punto de la ciudad, por lo tanto, transferiremos todos los artículos a la sede de Medellín.
                <br> Esto no afectará de ninguna forma la garantía de sus productos, la programación de envíos o servicios que le estemos prestando.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-xs-10 col-xs-offset-1">
        <p>Si es cliente de nuestra tienda de Bogotá y tiene dudas o inquietudes, recuerde que todos los medios de contacto siguen abiertos, como la línea telefónica nacional:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-12 text-center">
        <h3 style="margin: 0;">01 8000 41 00 44</h3>
        <p style="margin: 0;">O EL SITIO WEB</p>
        <p style="margin: 0;    background-color: #444243;    color:  #FFF;    padding: 3px 0;    font-size: 20px;">www.matisses.co</p>
        <p style="font-size: 15px;">donde podrá hacer uso del chat</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-center">
        <p>De antemano <b>muchas gracias</b> por la comprensión y esperamos poder seguir contando con usted como nuestro cliente.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 padding-l-20 text-center">
        <div class="row">
          <div class="col-xs-12 text-center">
            <br/>
            <h4>Av. Las vegas - Medellín</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 padding-0">
            <div class="medellin"></div>
          </div>
          <div class="col-xs-6 padding-0">
            <div class="mapa">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.7832374029504!2d-75.60782468460614!3d6.15977899554033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468281047f837d%3A0x9555e17da87ecca2!2sMatisses!5e0!3m2!1ses!2sco!4v1502478633666"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-left">
            <div class="info">
              <p><span class="glyphicon glyphicon-map-marker"> </span> Calle 52 sur # 44 - 65 Medellín</p>
              <p><span class="glyphicon glyphicon-earphone"> </span> (574) 444 04 34</p>
              <p><span class="icon-clock"> </span> Lunes a Sábado 10:00 - 19:00 | Domingo y Festivos 11:00 - 19:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <new-products></new-products>
  <!-- principal -->
  <div class="container padding-0">
    <div class="row">
      <div class="col-xs-12">
        <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{keywords: 'elisir'}">
          <div class="tendencia-01">
            <div class="container">
              <div class="row">
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<recommended></recommended>
<newsletter></newsletter>
<matisses-footer></matisses-footer>
