.pedidos {
  width: 70%;
  margin: 20px auto;
}

.ajustes {
  width: 60%;
  margin: 15px auto;
}

.icono {
  font-size: 60px;
  background-color: #E2E2E2;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #6d9791;
  padding-top: 10px;
}

.title {
  font-size: 16px;
  padding: 35px 0px;
}

.border-left::after {
  content: ' ';
  border-left: 1px solid #5B5B5B;
  height: 80px;
  position: absolute;
  left: -5px;
  top: 15px;
}

@media screen and (max-width: 768px) {
  .border-left::after {
    content: ' ';
    border-left: 0px solid #5B5B5B;
    height: 90px;
    position: absolute;
    left: 0;
    top: 15px;
  }
}