<!-- Contenido -->
<div class="pedidos">
  <div class="facturas" *ngIf="!detalles">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-3">
        <div class="icono">
          <span class="icon-pedidos"></span>
        </div>
      </div>
      <div class="col-md-10 col-sm-9 col-xs-9">
        <p class="title">
          <b>Pedidos realizados y garantías</b>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="tabla-pedidos">
          <div class="row">
            <div class="col-sm-6" *ngFor="let pedido of pedidos, let i = index" [ngClass]="{ 'border-left' : i % 2 == 1 }">
              <div class="row">
                <div class="col-xs-12">
                  <div class="factura">
                    <p>Factura n°:
                      <b>{{pedido.factura}}</b>
                      <span class="cursor-pointer pull-right" (click)="verDetalles(pedido.factura)">
                        <u>Ver detalles</u>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="fecha">
                    <p>
                      <b>Fecha: </b>{{pedido.fecha}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="valor">
                    <p>
                      <b>Total:</b> $ {{pedido.valor | number}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <div class="estado">
                    <p [ngClass]="{ 'bg-success' : pedido.estado === 'entregado', 'bg-warning' : pedido.estado === 'pendiente', 'bg-danger' : pedido.estado === 'cancelado' }">{{pedido.estado}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- detalle factura -->
  <div class="detalles-fv" *ngIf="detalles > 0">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-md-9 col-xs-6">
            <p>
              <b>Detalles de factura</b>
            </p>
          </div>
          <div class="col-md-3 col-xs-6 text-right">
            <p class="cursor-pointer" (click)="volverPedidos()">< Atrás</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="info-fac">
              <p class="title-modal">
                <b>FACTURA N° {{detallePedido.numeroFactura}}</b>
              </p>
              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <p class="fecha-fac">Fecha
                    <b>{{detallePedido.fechaFactura}}</b>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="estado-fac">Estado
                    <b class="bg-succes">{{detallePedido.estado}}</b>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="pago-fac">Método de pago
                    <b>portal web</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="detalle-envio">
              <p class="title-modal">
                <b>DIRECCIÓN DE ENVÍO</b>
              </p>
              <hr>
              <p>
                <b>Nombre: </b>{{detallePedido.cliente}}</p>
              <p>
                <b>Dirección: </b>{{detallePedido.direccionEntrega}}</p>
              <p>
                <b>Ciudad: </b> {{detallePedido.ciudad}}</p>
              <p>
                <b>Departamento: </b>{{detallePedido.departamentoEntrega}}</p>
              <p>
                <b>Teléfono: </b>{{detallePedido.telefono}}</p>
              <p>
                <b>Celular: </b>{{detallePedido.celular}}</p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <p class="title-modal">
              <b>PRODUCTOS COMPRADOS</b>
            </p>
            <hr>
            <div class="productos">
              <div class="row producto" *ngFor="let item of items">
                <div class="col-md-3 col-sm-12 text-center cursor-pointer">
                  <img src="https://img.matisses.co/{{item.itemcode}}/mini/{{item.itemcode}}_01.jpg" alt="{{item.itemname}}">
                </div>
                <div class="col-md-9 col-sm-12">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="item-name cursor-pointer">
                        <b>{{item.itemname}}</b>
                      </p>
                    </div>
                    <div class="col-md-12">
                      <div class="info">
                        <div class="row">
                          <div class="col-xs-3 padding-right-0">
                            <p>Precio</p>
                            <div class="price-full">
                              <p>
                                <b>$ {{item.priceaftervat | number}}</b>
                              </p>
                            </div>
                          </div>
                          <div class="col-xs-3">
                            <form>
                              <p>Cantidad</p>
                              <p>
                                <b>{{item.selectedQuantity}}</b>
                              </p>
                            </form>
                          </div>
                          <div class="col-xs-3 padding-right-0">
                            <p>Total</p>
                            <div class="price-full">
                              <p>
                                <b>$ {{item.priceaftervat * item.selectedQuantity | number}}</b>
                              </p>
                            </div>
                          </div>
                          <div class="col-xs-3 text-center">
                            <p>Garantia</p>
                            <p [ngClass]="{ 'bg-success' : item.estado === 'Reclamar' }">
                              <b>{{item.estado}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
