<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="bold grey">Más vendidos</h3>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0 " *ngFor="let item of items">
      <div class="row">
        <div class="col-xs-12">
          <img src="assets/images/mas-vendidos/{{item.referencia}}.jpg" class="img-responsive" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="info">
            <p class="nombre-producto">{{item.nombre}}</p>
            <h4>$ {{formatNumber(item.precio)}}</h4>
            <p class="agregar-carrito light"><span class="icon-shopping-cart carrito"> </span> <em>AGREGAR AL CARRITO</em></p>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
  <br/>
</div>
