<matisses-header></matisses-header>
<div sticky-body>
  <div class="container">
    <!-- Miga de pan -->
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/']">Categoria padre</a></li>
          <li><a [routerLink]="['/']">Categoria hijo</a></li>
          <li class="active">Producto</li>
        </ol>
      </div>
    </div>
    <!-- Miga de pan -->
    <div class="row">
      <div class="col-sm-6">
        <div class="galeria" *ngIf="item && item.images && item.images.length > 0">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="row">
              <div class="col-md-2 hidden-sm hidden-xs">
                <!-- Indicators -->
                <div class="row">
                  <div class="col-xs-12 cursor-pointer" data-target="#carousel-example-generic" [attr.data-slide-to]="i" *ngFor="let image of item.images; let i = index">
                    <img class="img-responsive" src="https://www.matisses.co/modules/matisses/files/{{item.itemcode}}/mini/{{image}}" alt="...">
                  </div>
                </div>
                <!-- End Indicators -->
              </div>
              <div class="col-md-10 col-sm-12">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item" [class.active]="i === 0" *ngFor="let image of item.images; let i = index">
                    <img src="https://www.matisses.co/modules/matisses/files/{{item.itemcode}}/images/{{image}}" alt="...">
                  </div>
                </div>
                <!-- Wrapper for slides -->
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!-- Controls -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="extras">
              <div class="col-xs-12">
                <span class="icon-360"></span>
                <span class="icon-film"></span>
                <span class="icon-size"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="info" *ngIf="item">
          <div class="row">
            <div class="col-xs-12">
              <h4>{{item.itemname}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p>Ref: {{item.shortitemcode}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3>$ {{item.price | number}} <small>Iva incluido</small></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-4">
              <div class="cantidad">
                <form>
                  <div class="input-group">
                    <input class="input-cantidad form-control" name="selectedQuantity" [(ngModel)]="selectedQuantity" />
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-cantidad dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li *ngFor="let i of quantityOptions" (click)="seleccionarCantidad(i)">{{i}}</li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-10 col-xs-8 padding-left">
              <button type="button" class="btn btn-carrito" (click)="agregarCarrito()">
                <span class="icon-shopping-cart carrito"></span> AGREGAR AL CARRITO
              </button>
              <button type="button" class="btn btn-like">
                <span class="glyphicon glyphicon-heart-empty wish-list"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="detalles" *ngIf="item">
          <div class="row">
            <div class="col-xs-12">
              <div class="detalles-collapse" (click)="toggleClass('#descripcion')" data-toggle="collapse" href="#collapseDescripcion" aria-expanded="false" aria-controls="collapseDescripcion">
                <p>Descripción <span id="descripcion" class="icon-plus pull-right"></span></p>
              </div>
              <div class="collapse" id="collapseDescripcion">
                <p>{{item.description}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="detalles-collapse" (click)="toggleClass('#colores')" data-toggle="collapse" href="#collapseColores" aria-expanded="false" aria-controls="collapseColores">
                <p>Colores <span id="colores" class="icon-plus pull-right"></span></p>
              </div>
              <div class="collapse" id="collapseColores">
                <div class="well">
                  ...
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="detalles-collapse" (click)="toggleClass('#materiales')" data-toggle="collapse" href="#collapseMateriales" aria-expanded="false" aria-controls="collapseMateriales">
                <p>Materiales y cuidados <span id="materiales" class="icon-plus pull-right"></span></p>
              </div>
              <div class="collapse" id="collapseMateriales">
                <div *ngFor="let material of item.materials">
                  <h3>{{material.name}}</h3>
                  <p>{{material.cares}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<matisses-footer *ngIf="item"></matisses-footer>
<matisses-carrito-simple></matisses-carrito-simple>
