.novios {
  width: 70%;
  margin: 20px auto;
}

.ajustes {
  width: 60%;
  margin: 15px auto;
}

.icono {
  font-size: 50px;
  padding-top: 12px;
  background-color: #E2E2E2;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #6d9791;
}

.title {
  font-size: 16px;
  padding: 35px 0px;
}

@media screen and (max-width: 991px) {
  .novios {
    width: 90%;
    margin: 10px auto;
  }
}