<div class="modal fade" id="solicitarRedencion" tabindex="-1" role="dialog" aria-labelledby="solicitarRedencionLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" id="forgotPasswordLabel">Solicitud de Redención </h4>
      </div>
      <div class="modal-body">

        <div class="col-sm-10 col-sm-offset-1" *ngIf="messageError != null && messageError.length > 0">
            <div class="alert alert-danger" role="alert">
                <p>{{messageError}}</p>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1" *ngIf="successMessage != null && successMessage.length > 0">
            <div class="alert alert-info" role="alert">
                <p>{{successMessage}}</p>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="campos">
              <label for="codigoD">Ingresa tu codigo</label>
              <input  id="codigoD" class="form-registro"  name="codigoRedimir" [(ngModel)]="codigoRedimir" required >
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="campos">
              <label for="montoD">Ingresa Monto que deseas redimir</label>
              <input  id="montoD" class="form-registro"  name="montoRedimir" [(ngModel)]="montoRedimir" required >
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="campos">
              <label for="ccDoc">Adjuntar Rut</label>
                <input type="file" class="form-registro" id="rut" name="rut" (change)="onFileChangeR($event,'RUT')">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="campos">
              <label for="ccDoc">Adjuntar Cuenta de Cobro</label>
                <input type="file" class="form-registro" id="cuentac" name="cuentac" (change)="onFileChangeR($event,'CC')">
            </div>
          </div>
        </div>
        <!-- <br>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="campos">
              <label for="cuentaCobroR">Adjunte Cuenta de Cobro</label>
              <input type="file" class="form-registro" id="cuentaCobroR" [(ngModel)]="cuentaCobroR" (change)="onFileChangeR($event, 'WP')">
            </div>
        </div>
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="campos">
          <label for="seguridadSocialR">Adjunte Seguridad Social</label>
            <input type="file" class="form-registro" id="seguridadSocialR"  (change)="onFileChangeR($event,'WP')">
          </div>

        </div>
      </div> -->
      <br>
      <br>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 text-center" *ngIf="successMessage == null">
            <button class="btn btn-enviar-matisses" (click)="redimir()" >Continuar</button>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>
</div>



<div class="novios">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-3">
      <div class="icono">
        <span class="icon-clientes"></span>
      </div>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9">
      <p class="title">
        <b>Novios registrados y activos</b>
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h4 class="title-wp text-center">
        CLIENTES W.P
      </h4>
      <div class="row">
        <div class="col-sm-6" *ngFor="let cliente of clientes">
          <div class="cliente" (click)="irLista(cliente.codigo, cliente.ilista)">
            <p class="nombre">
              <b>{{cliente.novios}}</b>
            </p>
            <p>
              <b>Código:</b> {{cliente.codigo}}</p>
            <p>
              <b>Puntos:</b> {{cliente.puntos | number}}</p>
            <p>
              <b>Fecha de boda:</b> {{cliente.formateoFechaEvento}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="monto-puntos">
            <p>Total puntos:
              <b>{{totalesDTO.puntosAcumulados | number}}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 class="subtitle-wp text-center">
            REDIME TUS PUNTOS POR
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <div class="opcion" (click)="abrirModalRedimir('EF')">
            <br>
            <span class="icon-cash"></span>
            <p>Efectivo</p>
            <p>
              <b>(${{totalesDTO.redimeEfectivo}})</b>
            </p>
          </div>
        </div>
        <div class="col-sm-6 text-center" (click)="abrirModalRedimir('BN')">
          <div class="opcion">
            <br>
            <span class="icon-bono-matisses"></span>
            <p>Bono Matisses</p>
            <p>
              <b>(${{totalesDTO.redimeBono}})</b>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <div class="title-3">
            <p>
              <b>BENEFICIOS MATISSES</b>
            </p>
            <p>(EXCLUSIVO PARA EL WEDDING PLANNER)</p>
          </div>
          <p class="text-justify">Si redimes en efectivo recibe un porcentaje de comisión por las compras totales de tus clientes o 12,5% adicional
            si redimes por productos Matisses.</p>
          <p class="text-justify">* Aplican condiciones y restricciones.</p>
        </div>
        <div class="col-sm-6">
          <div class="title-3">
            <p style="margin-top: 10px;">TABLA DE PUNTOS W.P</p>
          </div>
          <table class="table table-bordered text-center">
            <tbody>

                  <tr *ngFor="let punto of totalesDTO.puntos">
                <th class="text-center">{{punto.porcentaje}}</th>
                <td>{{punto.concepto}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
