@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rn9b8b');
  src:  url('fonts/icomoon.eot?rn9b8b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rn9b8b') format('truetype'),
    url('fonts/icomoon.woff?rn9b8b') format('woff'),
    url('fonts/icomoon.svg?rn9b8b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-360:before {
  content: "\e901";
}
.icon-film:before {
  content: "\e913";
}
.icon-size:before {
  content: "\e915";
}
.icon-box:before {
  content: "\e902";
}
.icon-carrier03:before {
  content: "\e910";
  color: #5b5b5f;
}
.icon-minus:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e912";
}
.icon-carrier:before {
  content: "\e90e";
}
.icon-carrier02:before {
  content: "\e90f";
}
.icon-clock:before {
  content: "\e903";
  color: #4c4c4c;
}
.icon-eye:before {
  content: "\e904";
  color: #4c4c4c;
}
.icon-mail:before {
  content: "\e905";
  color: #4c4c4c;
}
.icon-mapa:before {
  content: "\e906";
}
.icon-medal:before {
  content: "\e90a";
}
.icon-print:before {
  content: "\e90b";
  color: #4c4c4c;
}
.icon-zoom:before {
  content: "\e90c";
}
.icon-houzz:before {
  content: "\e90d";
}
.icon-gift-box:before {
  content: "\e900";
}
.icon-matisses:before {
  content: "\e907";
}
.icon-shopping-cart:before {
  content: "\e908";
}
.icon-truck:before {
  content: "\e909";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-user:before {
  content: "\e971";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-pinterest2:before {
  content: "\ead2";
}
