<matisses-header></matisses-header>

<div sticky-body>

  <div class="container padding-top">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/']">Home</a></li>
          <li class="active">Matisses</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="fachada"></div>

  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3 class="text-center">Somos una empresa que trabaja día a día para ofrecer productos que hagan especial y único el hogar, donde la experiencia de habitarlo este a la vanguardia.</h3>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="title">Historia</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>Distribuciones Barú S.A. es una empresa que inició sus operaciones a principios de 2005 como mayorista en la ciudad de Medellín, importando mobiliario y accesorios decorativos de grandes diseños provenientes de distintos países del mundo.</p>
        <p>En febrero de 2006 se abrió la primera tienda de Matisses en el parque comercial El Tesoro, y en diciembre del mismo año se abre la segunda tienda Matisses en el mismo lugar.<br/>
        En septiembre de 2007 se abre otra tienda Matisses en el centro empresarial San Fernando Plaza, en el corazón de la milla de oro de Medellín, y en diciembre del mismo año se pone en funcionamiento la cuarta tienda en la ciudad de Bogotá cerca al centro comercial Andino.
        De esta manera se busca satisfacer las necesidades de un público muy diverso en edad, perteneciente a los estratos  4, 5 y 6, de diferentes ciudades del país. El principal objetivo desde el inicio fue ofrecer un servicio de alta calidad donde la diferenciación fuera total y el cliente nuestra razón de ser.</p>
        <p>En abril del 2014, se decide cambiar el concepto de tienda por boutique, a partir de esto, se  crea un nuevo espacio Matisses ubicado en Av. Las Vegas (Sabaneta-Antioquia), creciendo en área de exhibición al doble de las tiendas originales, con una estructura vanguardista inspirada en un diamante.</p>
        <p>Gracias a los acuerdos de exclusividad y a las compras directas que se hacen con proveedores internacionales, se ofrecen productos de excelente manufactura, calidad y diseño, a precios muy competitivos y siempre a la vanguardia. Siendo así el punto de referencia para otras compañías de mobiliario y accesorios.</p>

        <p>A principios del año 2005, empezaron nuestras operaciones como empresa mayorista en la ciudad de Medellín; la importación de mobiliario y accesorios decorativos se convirtió en nuestro principal diferenciador gracias al diseño, manufactura y calidad.</p>
        <p>Pensando en las necesidades de los hogares pertenecientes a los estratos 4,5 y 6, buscamos en diferentes países del mundo muebles y decorativos que inspiren a crear espacios exclusivos y confortables; para esto contamos con dos tiendas a nivel nacional, una en Medellín y otra en Bogotá, caracterizadas por su servicio personalizado así como por la exhibición donde la inspiración y el diseño son fundamentales.<br/>
        Somos una empresa que trabaja día a día para estar a la vanguardia del diseño, buscamos ofrecer productos que hagan del hogar un lugar especial y único, donde la experiencia de habitarlo esté a la vanguardia. </p>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <div class="foto2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-right">
        <hr/>
        <h2 class="title2"><small>Toda una</small><br/>experiencia</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="foto3"></div>
      </div>
    </div>
  </div>

</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
