<menu-lista></menu-lista>

<div class="container">
  <div class="contenedor">
<!--modal-->
<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Añadir productos</h4>
      </div>
      <form #AgregarForm="ngForm" >
        <div class="modal-body">

          <div class="row" *ngIf="errorMessage != null && errorMessage.length > 0">
            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert">
                <p>{{messageError}}</p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="successMessage != null && successMessage.length > 0">
            <div class="col-xs-12">
              <div class="alert alert-info" role="alert">
                <p>{{successMessage}}</p>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="successMessage == null || successMessage.length <= 0">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <label for="name">Producto</label>
                  <p>{{formAgregar.name}}</p>

                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <label for="name">Descripción</label>
                  <p>{{formAgregar.description}}</p>

                </div>
              </div>
              <div class="row">
                <!--<div class="col-xs-12">
                  <label for="name">Cantidad*</label>
                  <input id="cantidad" type="text" class="form-control" [class.required-field]="!valid" name="formAgregar.cantidad" [(ngModel)]="formAgregar.cantidad" required>
                </div>-->
                  <div class="cantidad">
                    <form>
                      <div class="input-group">
                        <span class="input-group-addon span-cantidad" (click)="reducirCantidad()">
                          <button type="button" class="icon-minus btn-cantidad" name="button"></button>
                        </span>
                        <input class="input-cantidad form-control" type="tel" name="formAgregar.cantidad" min="1" max="" [(ngModel)]="formAgregar.cantidad" />
                        <span class="input-group-addon span-cantidad" (click)="aumentarCantidad()">
                          <button type="button" class="icon-plus btn-cantidad" name="button"></button>
                        </span>
                      </div>
                    </form>
                  </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <label for="name">Mensaje de Agradecimiento</label>
                  <textarea id="mensaje" rows="5" cols="1" class="form-control" [class.required-field]="!valid" name="formAgregar.msjagradecimiento" [(ngModel)]="formAgregar.msjagradecimiento" required></textarea>
                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)=limpiar()>Cerrar</button>
          <button type="button" class="btn btn-newsletter" (click)="agregarProducto(AgregarForm)" *ngIf="successMessage == null || successMessage.length <= 0">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--modal-->







    <div class="row">
      <div class="col-xs-12 text-right">
        <p>(Cerrar sesión)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <p>Hola {{nombreUsuario}}</p>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4 text-center">
            <p>Lista de regalos</p>
          </div>
          <div class="col-xs-4 text-center">
            <p>Regalos recibidos</p>
          </div>
          <div class="col-xs-4 text-center">
            <p>Lista de invitados</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
        <p>Codigo de novios: {{codigoLista}}</p>
      </div>
      <div class="col-xs-6 text-left">
        <p>Fecha celebración:  {{fechaEvento}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p>Logo agregar regalos</p>
      </div>
      <div class="col-xs-6">
        <p [routerLink]="['/mi-lista']">Volver a mi lista</p>

        <form (submit)="search()">
          <input id="searchField" [(ngModel)]="keywords" name="keywords" type="text" class="form-control" placeholder="Busca productos para agregar">
        </form>
      </div>
    </div>
    <!-- menu -->
    <div class="row hidden-xs">
      <div class="col-xs-12">
        <div class="menu-productos">
          <!-- <ul>
            <li class="active">Mobiliario</li>
            <li class="">Bar y mesa</li>
            <li class="">Cocina</li>
            <li class="">Accesorios</li>
            <li class="">Fragancias y velas</li>
            <li class="">Gadgets</li>
            <li class="">Iluminacion</li>
            <li class="">Libros</li>
          </ul> -->
        </div>
      </div>
    </div>
    <!-- parrilla y filtros -->
    <div class="row">
      <div class="col-md-3">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <!-- boton abrir filtros -->
            <a data-parent="#accordion" (click)="showFiltros()">
              <div class="panel-heading visible-sm visible-xs" role="tab" id="headingOne">
                <h4 class="panel-title text-center" *ngIf="mostrarFiltros">
                    Ocultar filtros
                  </h4>
                <h4 class="panel-title text-center" *ngIf="!mostrarFiltros">
                    Mostrar filtros
                  </h4>
              </div>
            </a>
            <!-- body filtros -->
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" [ngClass]="{'in' : mostrarFiltros}">
              <div class="panel-body">
                <div *ngIf="filtrosAplicados && filtrosAplicados.length > 0">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="title">
                        <p>Filtros seleccionados</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="tags-filtros">
                        <span class="active-filter" *ngFor="let filtro of filtrosAplicados" (click)="toggleSelection(filtro[2], filtro[3])">
                          {{filtro[1]}}
                          <span class="active-filter-delete icon-close"></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filtros">
                  <!-- categorias -->
                  <div class="row" *ngIf="filtrosDisponibles['groups'] && filtrosDisponibles['groups'].length > 1 && queryParams && !(queryParams.has('group') || queryParams.has('subgroup'))">
                    <div class="col-xs-12">
                      <div class="filter-collapse" (click)="toggleClass('#group')" data-toggle="collapse" href="#collapseGroups" aria-expanded="false" aria-controls="collapseGroups">
                        <p>Categorías <span id="group" class="icon-plus pull-right"></span></p>
                      </div>
                      <div class="collapse" [ngClass]="{'in' : queryParams.has('discount')}" id="collapseGroups">
                        <ul>
                          <div *ngFor="let menuItem of filtrosDisponibles['groups']">
                            <li class="filter-option" *ngIf="showCategoryOption(menuItem)" (click)="toggleSelection('group',menuItem.code); scrollAfterFiter()">
                              <span>{{menuItem.name}}</span>
                            </li>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- subcategorias -->
                  <div class="row" *ngIf="viewHasLoaded && (queryParams.has('group') || queryParams.has('subgroup')) && filtrosDisponibles['subgroups'].length > 1">
                    <div class="col-xs-12">
                      <div class="filter-collapse" (click)="toggleClass('#subgroup')" data-toggle="collapse" href="#collapseSubgroups" aria-expanded="false" aria-controls="collapseSubgroups">
                        <p>subcategorías <span id="subgroup" class="icon-plus pull-right"></span></p>
                      </div>
                      <div class="collapse" [ngClass]="{'in' : queryParams.has('discount','group')}" id="collapseSubgroups">
                        <ul>
                          <li class="filter-option" *ngFor="let menuItem of filtrosDisponibles['subgroups']" (click)="toggleSelection('subgroup',menuItem.code); scrollAfterFiter()">
                            <span>{{menuItem.name}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- marca -->
                  <div class="row" *ngIf="filtrosDisponibles['brands'] && filtrosDisponibles['brands'].length > 1">
                    <div class="col-xs-12">
                      <div class="filter-collapse" (click)="toggleClass('#marca')" data-toggle="collapse" href="#collapseMarca" aria-expanded="false" aria-controls="collapseMarca">
                        <p>Marca <span id="marca" class="icon-plus pull-right"></span></p>
                      </div>
                      <div class="collapse" id="collapseMarca">
                        <ul>
                          <li class="filter-option" *ngFor="let marcaItem of filtrosDisponibles['brands'], let i = index" (click)="toggleSelection('brand',marcaItem.code); scrollAfterFiter()">
                            <span>{{marcaItem.name}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Precio -->
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="filter-collapse" (click)="toggleClass('#precio')" data-toggle="collapse" href="#collapsePrecio" aria-expanded="false" aria-controls="collapsePrecio">
                        <p>Precio <span id="precio" class="icon-plus pull-right"></span></p>
                      </div>
                      <div class="collapse" id="collapsePrecio">
                        <div class="filtro-precio">
                          <div class="row">
                            <form *ngIf="filtrosDisponibles && filtrosDisponibles['prices']">
                              <div class="col-xs-6">
                                <p>Desde</p>
                                <input type="tel" class="desde" [placeholder]="filtrosDisponibles['prices']['minPrice']" name="minPrice" (blur)="toggleSelection('minPrice', minPrice)" (keyup.enter)="toggleSelection('minPrice', minPrice)" [(ngModel)]="minPrice">
                              </div>
                              <div class="col-xs-6">
                                <p>Hasta</p>
                                <input type="tel" class="hasta" [placeholder]="filtrosDisponibles['prices']['maxPrice']" name="maxPrice" (blur)="toggleSelection('maxPrice', maxPrice)" (keyup.enter)="toggleSelection('maxPrice', maxPrice)" [(ngModel)]="maxPrice">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- colores -->
                  <div class="row" *ngIf="filtrosDisponibles['colors'] && filtrosDisponibles['colors'].length > 1">
                    <div class="col-xs-12">
                      <div class="filter-collapse" (click)="toggleClass('#colores')" data-toggle="collapse" href="#collapseColor" aria-expanded="false" aria-controls="collapseColor">
                        <p>Colores <span id="colores" class="icon-plus pull-right"></span></p>
                      </div>
                      <div class="collapse" id="collapseColor">
                        <ul>
                          <li class="filter-option filtro-color" *ngFor="let colorItem of filtrosDisponibles['colors'], let i = index" (click)="toggleSelection('color',colorItem.code); scrollAfterFiter()">
                            <span>{{colorItem.name}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- materiales -->
                  <div class="row" *ngIf="queryParams && !queryParams.has('material')">
                    <div class="col-xs-12">
                      <div class="filter-collapse" (click)="toggleClass('#materiales')" data-toggle="collapse" href="#collapseMateriales" aria-expanded="false" aria-controls="collapseMateriales">
                        <p>Materiales <span id="materiales" class="icon-plus pull-right"></span></p>
                      </div>
                      <div class="collapse" id="collapseMateriales">
                        <ul>
                          <li class="filter-option" *ngFor="let materialesItem of filtrosDisponibles['materials']" (click)="toggleSelection('material',materialesItem.code); scrollAfterFiter()">
                            <span>{{materialesItem.name}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- colecciones -->
                  <div class="row" *ngIf="queryParams && !queryParams.has('collection') && filtrosDisponibles['collection'] && filtrosDisponibles['collection'].length > 1">
                    <div class="col-xs-12">
                      <div class="filter-collapse" (click)="toggleClass('#colecciones')" data-toggle="collapse" href="#collapseColecciones" aria-expanded="false" aria-controls="collapseColecciones">
                        <p>Colecciones <span id="colecciones" class="icon-plus pull-right"></span></p>
                      </div>
                      <div class="collapse" id="collapseColecciones">
                        <ul>
                          <li class="filter-option" *ngFor="let coleccion of filtrosDisponibles['collection']" (click)="toggleSelection('collection',coleccion); scrollAfterFiter()">
                            <span>{{coleccion}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <!-- botones como mostrar los productos -->
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="mostrar">
              <div class="btn-group">
                <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{itemsXPag}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a></li>
                  <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a></li>
                  <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a></li>
                  <li *ngIf="totalItems < 100"><a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="ordenar">
              <div class="btn-group">
                <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span [innerHTML]="orderByStr">
                        </span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="ordenar">
                      <li><a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a></li>
                    </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <ul class="pagination">
              <li (click)="irAPagina(activePage - 1)">
                <a href="javascript:void(0)" aria-label="Previous">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                  </a>
              </li>
              <li><a href="javascript:void(0)" *ngFor="let page of pages" (click)="irAPagina(page)" [class.active]="page == activePage">{{page}}</a></li>
              <li (click)="irAPagina(activePage + 1)">
                <a href="javascript:void(0)" aria-label="Next">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Informacón productos para agregar -->
        <div class="row" *ngIf="items && items.length > 0">
          <div class="col-sm-4 col-xs-6 producto" *ngFor="let item of items; let i = index">
            <img src="https://img.matisses.co/{{items[i].itemcode}}/parrilla/{{items[i].itemcode}}_01.jpg" class="jpg-responsive" alt="{{items[i].itemname}}">
            <p class="nombre">{{items[i].itemname}}</p>
            <p class="precio"><b>$ {{items[i].priceaftervat | number}}</b></p>
            <div class="botones">
              <div class="col-xs-12 text-center">
                <div class="btn-group" role="group"  *ngIf="!items[i].agregadoLista">

                  <button type="button" class="btn btn-carrito" (click)="abrirModal(items[i].shortitemcode)">
<!--aca hay conflicto revisar-->
                    <!-- <span class="icon-regalo_1"></span> -->
                    AGREGAR REGALO
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- botones como mostrar los productos -->
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="mostrar">
              <div class="btn-group dropup">
                <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{itemsXPag}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(12)">12 x pag</a></li>
                  <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(24)">24 x pag</a></li>
                  <li><a href="javascript:void(0);" (click)="cambiarTamanoPagina(36)">36 x pag</a></li>
                  <li *ngIf="totalItems < 100"><a href="javascript:void(0);" (click)="cambiarTamanoPagina(10000)">Todos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="ordenar">
              <div class="btn-group dropup">
                <button type="button" class="btn btn-matisses dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span [innerHTML]="orderByStr">
                        </span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="ordenar">
                      <li><a href="javascript:void(0);" (click)="changeOrder('price')">Precio: más bajos primero</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('-price')">Precio: más altos primero</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('itemname')">Nombre: de A a Z</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('-itemname')">Nombre: de Z a A</a></li>
                      <li><a href="javascript:void(0);" (click)="changeOrder('model')">Similares</a></li>
                    </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <ul class="pagination">
              <li (click)="irAPagina(activePage - 1)">
                <a href="javascript:void(0)" aria-label="Previous">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                  </a>
              </li>
              <li><a href="javascript:void(0)" *ngFor="let page of pages" (click)="irAPagina(page)" [class.active]="page == activePage">{{page}}</a></li>
              <li (click)="irAPagina(activePage + 1)">
                <a href="javascript:void(0)" aria-label="Next">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
