<matisses-header></matisses-header>

<div sticky-body>

  <div class="container padding-top">

    <!-- <div class="title">
      <h3><b>Programación de entregas diciembre de 2017 </b></h3>
    </div> -->

    <div class="foto01">
      <div class="title">
        <h3><b>Programación de entregas diciembre 2017 </b></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <br/>
        <h4 class="text-center">Te informamos nuestro itinerario de entregas para diciembre del año en curso con el ánimo de que te puedas programar y poderte brindar un excelente y oportuno servicio. </h4>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p class="content">
          Nuestra empresa estará en vacaciones colectivas por lo que en caso de necesitar los artículos que tiene guardados, podrá solicitarlos por medio de la línea de atención al cliente de Matisses 4440434 opción 1 en Medellín o 018000410044 para el resto del país. También podrá hacerlo por medio de correo electrónico <a href="mailto:servicioalcliente@matisses.co" target="_top">servicioalcliente@matisses.co</a> teniendo en cuenta las siguientes fechas:
        </p>
        <ul>
          <li>
            <p class="content">
              Si su entrega es en Medellín o área metropolitana podrá solicitarla hasta el Miércoles 20 de diciembre de 2017 y deberá ser programada con 2 días hábiles de anticipación.
            </p>
          </li>
          <li>
            <p class="content">
              Si su entrega es en otra ciudad o municipio del país, podrá solicitarla hasta el jueves 07 de diciembre de 2017 y será entregada en el destino en un tiempo máximo de 8 a 10 días hábiles contados a partir de la fecha de programación. el medio de entrega será determinado en el momento de la programación.
            </p>
          </li>
        </ul>
        <p class="content">
          Las entregas se retomarán normalmente a partir del martes 9 de Enero de 2018.
        </p>
      </div>
    </div>

  </div>

</div>

<newsletter></newsletter>
<matisses-footer></matisses-footer>
