<div class="row">
  <div class="col-sm-12">
    <img src="../../../assets/images/blog/experiencias.jpg" class="jpg-responsive" alt="">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title-blog">DISEÑO DE INTERIORES PARA INSPIRARSE</h2>
        <p class="text-justify">Hoy te presentamos un espacio diseñado al mejor estilo Matisses, con algunas de las tendencias actuales, donde la
          distribución y el buen gusto son una parte clave para generar un conjunto adecuado entre los espacios.
          <br>
          <br> Para empezar tenemos como uno de los materiales protagonistas la madera, con una tendencia muy fuerte basada en
          el estilo “crudo”, ya que hace referencia a acabados naturales de la madera, donde sus vetas e “imperfecciones”
          juegan un papel determinante para ser combinada con piezas metálicas. Un caso puntual es la mesa de comedor donde
          se adopta un estilo “crudo” en la parte superior, que se combina perfecto con sillas de formas orgánicas y colores
          suaves o neutros que ayudan a mantener un equilibrio adecuado, ya que la unión del beige y tonos fuertes crean
          armonía en el espacio.
          <br>
          <br> Por otra parte, el gris sigue siendo un color contundente tanto para mobiliario como para paredes, ya que además
          de combinar con los demás colores, crea un punto neutro en el espacio que ayuda a tener unión entre los elementos.
          <br>
          <br> Un buen toque es crear un punto focal con un color que se lleve las miradas, que rompa con los colores clásicos,
          pero sin exagerar, el naranja añade calidez al espacio, un elemento de este color genera dinamismo y versatilidad.
          No debemos exagerar un simple toque es suficiente en nuestro espacio.
          <br>
          <br> El estilo Matisses resalta la atención al detalle, con las tendencias actuales, que crean espacios coherentes
          con diseños internacionales que dan como resultado elegancia y sofisticación en nuestro hogar.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>TENDENCIAS EN DISEÑO PARA ESPACIOS EN EL HOGAR</h3>
        <p class="text-justify">Nuestro hogar siempre plasma el gusto y personalidad que tenemos, deja ver un poco de lo que somos mediante elementos
          que se unen para crear un conjunto de diseño que transmite rasgos de nuestro estilo. Poder tener espacios que nos
          identifiquen, ayuda a resaltar de forma correcta un diseño pensado en el detalle dando un plus al hogar donde vivimos.
          <br>
          <br>
          <b>Sala auxiliar</b>
          <br> La adición de colores audaces llega para generar mayor vitalidad dentro de una habitación, se deja de lado el
          uso exclusivo de colores neutros, para dar paso a tonos más atrevidos, tanto en paredes como en el mobiliario,
          pero sin exagerar o mezclar demasiado, esto para lograr generar un equilibrio entre los colores usados.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img src="../../../assets/images/blog/sala-auxiliar.jpg" class="jpg-responsive" alt="">
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-justify">
          <b>Sala principal</b>
          <br> Para empezar debemos darle paso a los toques metálicos, en este caso en las patas de los sofás, las cuales generan
          cierto detalle de lujo, además de que la unión entre diferentes materiales genera una composición acertada; no
          hay nada mejor que tener un una sala que transmita comodidad y confort, por eso el tapizado es crucial en el momento
          de escoger un sofá, en este caso la tela invita a tener un momento acogedor, mientras compartimos con nuestros
          invitados, las formas curvas de estos sofás generan una sensación de circulación en el espacio ya que no cortan
          la armonía.
          <br>
          <br> Los colores manejados en esta habitación, son colores que trascienden en el tiempo por lo que siempre estarán
          acordes para ser usados, ya que generan elegancia y sobriedad en un espacio en el que probablemente estaremos reunidos.
          <br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img src="../../../assets/images/blog/sala-principal.jpg" class="jpg-responsive" alt="">
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-justify">
          <b>Comedores</b>
          <br> La adición de colores audaces llega para generar mayor vitalidad dentro de una habitación, se deja de lado el
          uso exclusivo de colores neutros, para dar paso a tonos más atrevidos, tanto en paredes como en el mobiliario,
          pero sin exagerar o mezclar demasiado, esto para lograr generar un equilibrio entre los colores usados.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img src="../../../assets/images/blog/comedor.jpg" class="jpg-responsive" alt="">
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-justify">
          <b>Habitaciones</b>
          <br> El espacio con el que más debemos estar cómodos y acordes es nuestra habitación, ya que será nuestra atmosfera
          de descanso, pues debe favorecer el sueño. Los elementos que allí van a estar presentes deben armonizar el ambiente
          para favorecer el descanso. Definir nuestro cuarto siempre será una cuestión personal, por lo que la decisión de
          tener un espacio vibrante o uno más calmado serán los aspectos determinantes para el diseño.
          <br>
          <br> Como ya sabemos el blanco y el beige son los colores primordiales en la decoración de habitaciones, ya que transmiten
          calma, además de ser un clásico inmortal. Una buena opción es el uso de colores más llamativos, para formar un
          contraste agradable, esta opción se genera con elementos estratégicamente pensados para que no se genere un peso
          visual negativo. Las alfombras son una buena opción para esta aplicación.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <img src="../../../assets/images/blog/habitacion.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
  </div>
</div>