.promocion {
  text-align: center;
  color: #FFF;
  background: #454545;
  height: 30px;
  padding-top: 4px;
  font-size: 15px;
}

#countdown_dashboard, img, .tres {
  display: inline-block;
}

.jpg-responsive {
  width: 100%;
  height: 100%;
}

.tres {
  font-weight: normal;
}

.title {
  height: 20px;
  display: inline-block;
  word-spacing: 10px
}

.dash {
  height: 20px;
  display: inline-block;
}

.hours_dash, .minutes_dash, .seconds_dash {
  margin-left: 5px;
}

.digit {
  height: 20px;
  width: 10px;
  margin-top: 5px;
  float: left;
}

@media screen and (max-width: 1190px) {
  #countdown_dashboard, .tres {
    font-size: 10px;
  }
  .digit {
    margin-top: 10px;
  }
}

@media screen and (max-width: 990px) {
  .none {
    top: -500px;
    position: absolute;
  }
  .promocion {
    font-size: 10px;
    padding-top: 8px;
  }
}

@media screen and (max-width: 425px) {
  #countdown_dashboard, .tres {
    font-size: 9px;
  }
  .digit {
    margin-top: 11px;
    width: 5px;
  }
  .title {
    word-spacing: 5px
  }
}
