<matisses-header></matisses-header>

<div sticky-body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="../../../assets/images/banner-transporte.jpg" class="jpg-responsive" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Términos y condiciones</h3>
                <p>Por medio de esta campaña Matisses pone a disposición de los clientes la opción de ser recogidos en sus domicilios
                    para ser transportados a la sede principal de Matisses ubicada en la Calle 52 sur # 44 - 65 Medellín.</p>
                <p>
                    <b>Condiciones</b>
                </p>
                <ul>
                    <li>
                        El servicio es solo válido para los domicilios ubicados en el área metropolitana de la ciudad de Medellín

                    </li>
                    <li>
                        El servicio es solo valido para los días 07,08 y 09 de marzo de 2018

                    </li>
                    <li>
                        El servicio solo podrá ser solicitado entre las 7 de la mañana y las 6 de la tarde

                    </li>
                    <li>
                        La atención en la tienda física inicia a las 10:00 am y finaliza a las 7:00 pm

                    </li>
                    <li>
                        Para solicitar el servicio se deben comunicar en la línea:
                        <b>314-890-4228</b>
                    </li>
                    <li>El servicio está sujeto a disponibilidad tanto de vehículos como de horarios que tenga por la plataforma
                        Cabify. Quien prestara el servicio

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<newsletter></newsletter>
<matisses-footer></matisses-footer>