<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="bold grey">Recomendados</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <a class="left" (click)="botonLeft()">
        <span class="glyphicon glyphicon-menu-left"></span>
      </a>
      <a class="right" (click)="botonRight()">
        <span class="glyphicon glyphicon-menu-right"></span>
      </a>
        <div class="section">
            <div class="article" *ngFor="let item of items">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <img src="assets/images/recommended/{{item.referencia}}.jpg" class="img-responsive" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <p class="medium nombre-producto">{{item.nombre}}</p>
                  <h4>$ {{item.precio | number:0}}</h4>
                  <p class="medium agregar"><span class="icon-shopping-cart carrito"> </span> <em>AGREGAR AL CARRITO</em></p>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
