<div class="row">
  <div class="col-xs-12">
    <div class="title">
      <p>Categoria hijo</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <li *ngFor="let menuItem of menuItems, let i = index">
        <input type="checkbox" id="menu.{{i}}" (change)="toggleSelection('menu',menuItem.codigo)">
        <label for="menu.{{i}}">{{menuItem.nombre}}</label>
      </li>
    </ul>
  </div>
</div>

<div class="filtros">
  <div class="row">
    <div class="col-xs-12">
      <div class="filter-collapse" (click)="toggleClass('#marca')" data-toggle="collapse" href="#collapseMarca" aria-expanded="false" aria-controls="collapseMarca">
        <p>Marca <span id="marca" class="icon-plus pull-right"></span></p>
      </div>
      <div class="collapse" id="collapseMarca">
        <ul>
          <li *ngFor="let marcaItem of marcaItems, let i = index">
            <input type="checkbox" id="marca.{{i}}" (change)="toggleSelection('marca',marcaItem.codigo)">
            <label for="marca.{{i}}">{{marcaItem.nombre}}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="filter-collapse" (click)="toggleClass('#precio')" data-toggle="collapse" href="#collapsePrecio" aria-expanded="false" aria-controls="collapsePrecio">
        <p>Precio <span id="precio" class="icon-plus pull-right"></span></p>
      </div>
      <div class="collapse" id="collapsePrecio">
        <div class="well">
          ...
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="filter-collapse" (click)="toggleClass('#colores')" data-toggle="collapse" href="#collapseColor" aria-expanded="false" aria-controls="collapseColor">
        <p>Colores <span id="colores" class="icon-plus pull-right"></span></p>
      </div>
      <div class="collapse" id="collapseColor">
        <ul>
          <li class="filtro-color" *ngFor="let colorItem of colorItems, let i = index">
            <input type="checkbox" [checked]="isSelected('color',colorItem.codigo)" id="color.{{i}}" (change)="toggleSelection('color',colorItem.codigo)">
            <label for="color.{{i}}" [class.bolder]="isSelected('color',colorItem.codigo)">{{colorItem.nombre}}<div id="preview_{{colorItem.codigo}}" class="color-preview"></div></label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="filter-collapse" (click)="toggleClass('#materiales')" data-toggle="collapse" href="#collapseMateriales" aria-expanded="false" aria-controls="collapseMateriales">
        <p>Materiales <span id="materiales" class="icon-plus pull-right"></span></p>
      </div>
      <div class="collapse" id="collapseMateriales">
        <ul>
          <li *ngFor="let materialesItem of materialesItems, let i = index">
            <input type="checkbox" id="material.{{i}}" (change)="toggleSelection('material',materialesItem.codigo)">
            <label for="material.{{i}}">{{materialesItem.nombre}}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
