.title {
  text-transform: uppercase;
  border-bottom: 1px solid #5B5B5B;
  padding-left: 10px;
}

.title p, .filter-collapse p {
  margin-bottom: 0;
}

.bolder {
  font-weight: bolder !important;
}

ul {
  list-style: none;
  padding: 5px;
  margin-top: 5px;
}

ul li {
  margin: -4px 5px;
}

ul label {
  font-weight: normal;
  margin-left: 10px;
}

.main {
  font-size: 120%;
  color: red;
}

.filter-collapse {
  text-transform: uppercase;
  border-top: 1px solid #5B5B5B;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

.filter-collapse span {
  font-size: 10px;
  margin: 5px 0;
  font-weight: bolder;
}

.color-preview {
  opacity: 0.8;
  float: right;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
}
