/* Estilos del collapse */

.panel {
  box-shadow: none;
}

.panel-default {
  border-color: #FFF;
}

.panel-default>.panel-heading {
  color: #5B5B5B;
  background-color: #FFF;
  border-color: #FFF;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 1px solid #FFF;
}

.panel-body {
  padding: 0px;
}


/*  Estilos de los filtros */

.title {
  text-transform: uppercase;
  border-bottom: 1px solid #5B5B5B;
  padding-left: 10px;
}

.title p, .filter-collapse p {
  margin-bottom: 0;
}

.bolder {
  font-weight: bolder !important;
}

ul {
  list-style: none;
  padding: 5px;
  margin-top: 5px;
}

ul li {
  margin: -4px 5px;
}

ul label {
  font-weight: normal;
  margin-left: 10px;
}

.main {
  font-size: 120%;
  color: red;
}

.btn-mostrar-filtros {
  border: 1px solid #7C7C7C;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.btn-mostrar-filtros:hover {
  background-color: #ECECEC;
}

.filtros-cerrados {
  height: 200px;
  overflow: hidden;
  transition: 1s;
}

.filtros-abiertos {
  height: 400px;
  overflow: hidden;
  transition: 1s;
}

.filter-collapse {
  text-transform: uppercase;
  border-top: 1px solid #5B5B5B;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
}

.filter-collapse span {
  font-size: 10px;
  margin: 5px 0;
  font-weight: bolder;
}

.color-preview {
  opacity: 0.8;
  float: right;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.tags-filtros {
  padding: 10px;
}

.active-filter {
  margin: 0px 5px 5px 0px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ddd;
  display: inline-block;
}

.active-filter:hover {
  cursor: pointer;
  border: 1px solid #aaa;
  background-color: #bbb;
}

.active-filter:hover .active-filter-delete {
  visibility: visible;
}

.active-filter-delete {
  visibility: hidden;
}

li.filter-option {
  /*pendiente*/
}

li.filter-option:hover {
  cursor: pointer;
  font-size: 22px;
  position: relative;
}
