<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">

    <!-- boton abrir filtros -->
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="panel-heading visible-sm visible-xs" role="tab" id="headingOne">
        <h4 class="panel-title text-center">
          Abrir filtros
        </h4>
      </div>
    </a>
    <!-- boton abrir filtros -->

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <!-- contenido de los filtros -->

        <div *ngIf="filtrosAplicados && filtrosAplicados.length > 0">
          <div class="row">
            <div class="col-xs-12">
              <div class="title">
                <p>Filtros aplicados</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="tags-filtros">
                <span class="active-filter" *ngFor="let filtro of filtrosAplicados" (click)="toggleSelection(filtro[2], filtro[3])">
                  {{filtro[1]}}
                  <span class="active-filter-delete glyphicon glyphicon-trash"></span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="filtrosDisponibles['groups'] && filtrosDisponibles['groups'].length > 1">
          <div class="row">
            <div class="col-xs-12">
              <div class="title">
                <p>Grupo</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div id="groups" class="filtros-cerrados">
                <ul>
                  <div *ngFor="let menuItem of filtrosDisponibles['groups']">
                    <li *ngIf="queryParams.get('group').split(',').indexOf(menuItem.code) == -1"  class="filter-option" (click)="toggleSelection('group',menuItem.code)">
                      <span>{{menuItem.name}}</span>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="row">
                <div class="col-xs-8 col-xs-offset-2" (click)="toggleFiltros('groups')">
                  <p class="btn-mostrar-filtros">Mostrar más</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="queryParams.has('group') || queryParams.has('subgroup')">
          <div class="row">
            <div class="col-xs-12">
              <div class="title">
                <p>Subgrupo</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div id="subgroups" class="filtros-cerrados">
                <ul>
                  <li class="filter-option" *ngFor="let menuItem of filtrosDisponibles['subgroups']" (click)="toggleSelection('subgroup',menuItem.code)">
                    <!--<input type="checkbox" id="sub_{{menuItem.code}}" (change)="toggleSelection('subgroup',menuItem.code)">-->
                    <!--<label for="sub_{{menuItem.code}}">{{menuItem.name}}</label>-->
                    <span>{{menuItem.name}}</span>
                  </li>
                </ul>
              </div>
              <div class="row">
                <div class="col-xs-8 col-xs-offset-2" (click)="toggleFiltros('subgroups')">
                  <p class="btn-mostrar-filtros">Mostrar más</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filtros">
          <div class="row" *ngIf="filtrosDisponibles['brands'] && filtrosDisponibles['brands'].length > 1">
            <div class="col-xs-12">
              <div class="filter-collapse" (click)="toggleClass('#marca')" data-toggle="collapse" href="#collapseMarca" aria-expanded="false" aria-controls="collapseMarca">
                <p>Marca <span id="marca" class="icon-plus pull-right"></span></p>
              </div>
              <div class="collapse" id="collapseMarca">
                <ul>
                  <li class="filter-option" *ngFor="let marcaItem of filtrosDisponibles['brands'], let i = index" (click)="toggleSelection('brand',marcaItem.code)">
                    <!--<input type="checkbox" id="marca.{{i}}" (change)="toggleSelection('brand',marcaItem.code)">-->
                    <!--<label for="marca.{{i}}">{{marcaItem.name}}</label>-->
                    <span>{{marcaItem.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="filter-collapse" (click)="toggleClass('#precio')" data-toggle="collapse" href="#collapsePrecio" aria-expanded="false" aria-controls="collapsePrecio">
                <p>Precio <span id="precio" class="icon-plus pull-right"></span></p>
              </div>
              <div class="collapse" id="collapsePrecio">
                <div class="well">
                  ...
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="filtrosDisponibles['colors'] && filtrosDisponibles['colors'].length > 1">
            <div class="col-xs-12">
              <div class="filter-collapse" (click)="toggleClass('#colores')" data-toggle="collapse" href="#collapseColor" aria-expanded="false" aria-controls="collapseColor">
                <p>Colores <span id="colores" class="icon-plus pull-right"></span></p>
              </div>
              <div class="collapse" id="collapseColor">
                <ul>
                  <li class="filter-option filtro-color" *ngFor="let colorItem of filtrosDisponibles['colors'], let i = index">
                    <!--<input type="checkbox" [checked]="isSelected('color',colorItem.code)" id="color.{{i}}" (change)="toggleSelection('color',colorItem.code)">-->
                    <!--<label for="color.{{i}}" [class.bolder]="isSelected('color',colorItem.code)">-->
                    <!--{{colorItem.name}}-->
                    <!--<div id="preview_{{colorItem.code}}" class="color-preview"></div>-->
                    <!--</label>-->
                    <span>{{colorItem.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="filtrosDisponibles['materials'] && filtrosDisponibles['materials'].length > 1">
            <div class="col-xs-12">
              <div class="filter-collapse" (click)="toggleClass('#materiales')" data-toggle="collapse" href="#collapseMateriales" aria-expanded="false" aria-controls="collapseMateriales">
                <p>Materiales <span id="materiales" class="icon-plus pull-right"></span></p>
              </div>
              <div class="collapse" id="collapseMateriales">
                <ul>
                  <li class="filter-option" *ngFor="let materialesItem of filtrosDisponibles['materials']">
                    <!--<input type="checkbox" id="material_{{materialesItem.code}}" (change)="toggleSelection('material',materialesItem.code)">-->
                    <!--<label for="material_{{materialesItem.code}}">{{materialesItem.name}}</label>-->
                    <span>{{materialesItem.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- contenido de los filtros -->
        <div class="panel-heading visible-sm visible-xs" role="tab" id="headingOne">
          <h4 class="panel-title text-center">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              cerrar filtros
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>

</div>
